In [ ]:
# Notes:
# Need to revisit facebook area, figure out how to use glob to loop 
# through the whole list of folders and create seperate dataframes
# loop through all data frames to perform calculations
# then loop through all to create charts

# Twitter Mining Function
---------------------------------------------------------------
## Searches, Stores, and Produce Outputs In The Form Of DataFrames and CSV Files.

### Run each cell one at a time, and follow the next instruction:

In [1]:
# Import Dependencies
%matplotlib notebook
import os
import csv
import json
import requests
from pprint import pprint
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from twython import Twython
import simplejson
import sys
import string
import glob
from pathlib import Path

In [2]:
# Import Twitter 'Keys' - MUST SET UP YOUR OWN 'config_twt.py' file
from config_twt import (app_key_twt, app_secret_twt, oauth_token_twt, oauth_token_secret_twt)

In [3]:
# Set Up Consumer Keys And Secret with Twitter Keys
APP_KEY = app_key_twt
APP_SECRET = app_secret_twt

# Set up OAUTH Token and Secret With Twitter Keys

OAUTH_TOKEN = oauth_token_twt
OAUTH_TOKEN_SECRET = oauth_token_secret_twt

# Load Keys In To a Twython Function And Call It "twitter"
twitter = Twython(APP_KEY, APP_SECRET, OAUTH_TOKEN, OAUTH_TOKEN_SECRET)

# Setup Batch Counter For Phase 2
batch_counter = 0

___________________________
## Twitter Mining Function '(TMF)'
___________________________

### INSTRUCTIONS:


This will Twitter Query Function will:
- Perform searches for hastags (#)
- Search for "@twitter_user_acct"
- Provide mixed results of popular and most recent tweets from the last 7 days
- 'remaining' 'search/tweets (allowance of 180) rate limit status' regenerates in 15 minutes after depletion

### Final outputs are aggegrated queries in both:

- Pandas DataFrame of queried tweets
- CSV files saved in the same folder as this Jupyter Notebook


### Phase 1 - Run Query and Store The Dictionary Into a List


- Step 1) Run the 'Twitter Mining Function' cell below to begin program
            Note:
                - Limits have not been fully tested due to time constraint
                - Search up to 180 queries where and each query yields up to 100 tweets max
                - Running the TLC to see how many you have left after every csv outputs.

- Step 2) When prompted, input in EITHER: #hashtag or  @Twitter_user_account
            Examples: "#thuglife" or "@beyonce"

- Step 3) TMF will query Twitter and store the tweets_data, a list called "all_data"

- Step 4) Upon query search completion, it will prompt: "Perform another search query:'  ('y'/'n')  "
            - Input 'y' to query, and the program will append the results
            - Tip: Keep count of how many 'search tweets' you have, it should deduct 1 from 'remaining',
                    which can produce up to 100 tweets of data
                    
- Step 5) End program by entering 'n' when prompted for 'search again'
            Output: printed list of all appended query data


### Phase 2 - Converting to Pandas DataFrame and Produce a CSV Output

- Step 6) Loop Through Queried Data 

- Step 7) Convert to Pandas DataFrame

- Step 8) Convert from DataFrame to CSV

### Addtional Considerations:

- Current set up uses standard search api keys, not premium
- TMF returns potentially 100 tweets at a time, and pulls from the last 7 days in random order
- More than likely will have to run multiple searches and track line items count
    in each of the csv files output that will be created in the same folder

### Tweet Limit Counter (TLC)
    - Run cell to see how many search queries you have available
    - Your 'remaining' search tweets regenerates over 15 minutes.

In [ ]:
# TLC - Run to Query Current Rate Limit on API Keys    
twitter.get_application_rate_limit_status()['resources']['search']

In [ ]:
#Twitter Mining Function (TMF)
#RUN THIS CELL TO BEGIN PROGRAM!

print('-'*80)
print("TWITTER QUERY FUNCTION - BETA")
print('-'*80)
print("INPUT PARAMETERS:")
print("- @Twitter_User_Account e.g. @clashofclans")
print("- Hashtags (#) e.g. #THUGLIFE")
print()
print("NOTE: SCROLL DOWN AFTER EACH QUERY FOR ENTER INPUT")
print('-'*80)

def twitter_search(app_search):
        # Store the following Twython function and parameters into variable 't'
        t = Twython(app_key=APP_KEY,
                   app_secret=APP_SECRET,
                   oauth_token=OAUTH_TOKEN,
                   oauth_token_secret=OAUTH_TOKEN_SECRET)
        # The Twitter Mining Function we will use to run searches is below
        # and we're asking for it to pull 100 tweets
        search = t.search(q=app_search, count=100)
        tweets = search['statuses']
        
    # This will be a list of dictionaries of each tweet where the loop below will append to
        all_data = []

    # From the tweets, go into each individual tweet and extract the following into a 'dictionary'
    # and append it to big bucket called 'all_data'
        for tweet in tweets:
            try:
                tweets_data = {
                    "Created At":tweet['created_at'],
                    "Text (Tweet)":tweet['text'],
                    "User ID":tweet['user']['id'],
                    "User Followers Count":tweet['user']['followers_count'],
                    "Screen Name":tweet['user']['name'],
                     "ReTweet Count":tweet['retweet_count'],
                     "Favorite Count":tweet['favorite_count']
                }
                all_data.append(tweets_data)
                #print(tweets_data)
                #print()
            except (KeyError, NameError, TypeError, AttributeError) as err:      
                print(f"{err}    Skipping...")
                #functions need to return something...
        return all_data

# The On and Off Mechanisms:
search_again = 'y'
final_all_data = []

# initialize the query counter
query_counter = 0
while search_again == 'y':
    query_counter += 1
    print()
    start_program = str(input('Type the EXACT @twitter_acct or #hashtag to query:   '))
    all_data = twitter_search(start_program)
    final_all_data += all_data
    print()
    #print(all_data)
    print(f"Completed Collecting Search Results for {start_program} . Queries Completed: {query_counter} ")
    print('-'*80)
    search_again = input("Would you like to run another query? Enter 'y'. Otherwise, 'n' or another response will end query mode. ")
    print('-'*80)
# When you exit the program, set the query counter back to zero
query_counter = 0
print()
print(f"Phase 1 of 2 Queries Completed . Proceed to Phase 2 - Convert Collection to DF and CSV formats .")
#print("final Data", final_all_data)
#####################################################################################################
# TIPS!: # If you're searching for the same hastag or twitter_handle,
         # consider copying and pasting it (e.g. @fruitninja)

In [ ]:
# Display the total tweets the TMF successfully pulled:
print(len(final_all_data))

### Tweet Limit Counter (TLC)
    - Run cell to see how many search queries you have available
    - Your 'remaining' search tweets regenerates over 15 minutes.

In [ ]:
# Run to view current rate limit status
twitter.get_application_rate_limit_status()['resources']['search']

In [ ]:
#df = pd.DataFrame(final_all_data[0])
#df

final_all_data

### Step 6) Loop through the stored list of queried tweets from final_all_data and stores in designated lists

In [ ]:
# Loop thru finall_all_data (list of dictionaries) and extract each item and store them into
# the respective lists

# BUCKETS
created_at = []
tweet_text = []
user_id = []
user_followers_count = []
screen_name = []
retweet_count = []
likes_count = []

# append tweets data to the buckets for each tweet
#change to final_all_data
for data in final_all_data:
        #print(keys, data[keys])
        
    created_at.append(data["Created At"]),
    tweet_text.append(data['Text (Tweet)']),
    user_id.append(data['User ID']),
    user_followers_count.append(data['User Followers Count']),
    screen_name.append(data['Screen Name']),
    retweet_count.append(data['ReTweet Count']),
    likes_count.append(data['Favorite Count'])


#print(created_at, tweet_text, user_id, user_followers_count, screen_name, retweet_count, likes_count)

print("Run complete. Proceed to next cell.")

### Step 7) Convert to Pandas DataFrame

In [ ]:
# Setup DataFrame and run tweets_data_df

tweets_data_df = pd.DataFrame({
    "Created At": created_at,
    "Screen Name": screen_name,
    "User ID": user_id,
    "User Follower Count": user_followers_count,
    "Likes Counts": likes_count,
    "ReTweet Count": retweet_count,
    "Tweet Text" : tweet_text
})
tweets_data_df

### Step 8) Convert DataFrame to CSV File

In [ ]:
# Save Tweets Data to a CSV File (Run Cell to input filename)
# Streamline the saving of multiple queries (1 query = up to 100 tweets) into a csv file.

# E.g. input = (#fruit_ninja) will save the file as "fruit_ninja_batch1.csv" as the file result
# Note: first chracter will be slice off so you can just copy and paste
# the hastag / @twitter_handle from steps above
batch_name = str(input("Enter in batch name."))

# If you restart kernel, batch_counter resets to zero.
batch_counter = batch_counter +1

# Check if the #hastag / @twitter_handle folder exists and create the folder if it does not
Path(f"./resources/{batch_name[1:]}").mkdir(parents=True, exist_ok=True)

# Save dataframe of all queries in a csv file to a folder in the resources folder csv using the 
tweets_data_df.to_csv(f"./resources/{batch_name[1:]}/{batch_name[1:]}_batch{batch_counter}.csv", encoding='utf-8')
print(f"Output saved in current folder as: {batch_name[1:]}_batch{batch_counter}.csv ")

# PHASE 3 -  CALCULATIONS USING API DATA

In [ ]:
# Example Template of looping thru csvfiles, will replicate these cells

path = './resources/thuglife_files' # use your path
all_files = glob.glob(path + "/*.csv")

li = []

for filename in all_files:
    df = pd.read_csv(filename, index_col=None, header=0)
    li.append(df)

frame = pd.concat(li, axis=0, ignore_index=True)

In [ ]:
frame

In [ ]:
path = './resources/*' # use your path
resources = glob.glob(path)

li = []

#for foldername in enumerate(resources):
print("All folders in the 'resources' folder:")
print("="*40)
for foldername in resources:
    li.append(foldername)
    str(foldername)
    print(foldername[12:])
#print(li)
print("")
print(F"Total Folders: {len(li)}")

##### Facebook Calculations

In [4]:
# Example Template of looping thru csvfiles, and concatenate all of the csv files we collected in each folder
path = './resources/facebook'
all_files = glob.glob(path + "/*.csv")
li = []

for filename in all_files:
    df = pd.read_csv(filename, index_col=None, header=0)
    li.append(df)
fb_frame = pd.concat(li, axis=0, ignore_index=True)
fb_frame

,Unnamed: 0,Created At,Screen Name,User ID,User Follower Count,Likes Counts,ReTweet Count,Tweet Text
0,0,Wed Apr 03 19:43:36 +0000 2019,La veille techno,135145900,10071,0,0,RT @nicoladiaz FYI @Hugoslav @edwyplenel @Disc...
1,1,Wed Apr 03 19:43:32 +0000 2019,John Kreuzer,15877403,2923,0,0,If it weren't for constant #Facebook security ...
2,2,Wed Apr 03 19:43:24 +0000 2019,CyberTeam,1031930290363662342,128,0,0,Over 540 Milion Facebook User Records Found On...
3,3,Wed Apr 03 19:43:10 +0000 2019,Jonathan Alvizua,177250563,555,0,1,RT @Economiahoymx: #ATENCI√ìN | Cultura Colecti...
4,4,Wed Apr 03 19:43:05 +0000 2019,Swati Khandelwal,864777798,30039,0,0,üò± Over 540 Million #Facebook User Records Expo...
5,5,Wed Apr 03 19:42:35 +0000 2019,Paul Motion,42687750,451,0,108,RT @threatpost: Breaking: Hundreds of millions...
6,6,Wed Apr 03 19:42:02 +0000 2019,TechFood,952518796266401793,5520,0,0,ICO hints at Facebook hypocrisy over data prot...
7,7,Wed Apr 03 19:41:48 +0000 2019,Noticieros GREM,260370353,18771,0,0,#Empresasüîé Hallan datos de #Facebook en #Amazo...
8,8,Wed Apr 03 19:41:41 +0000 2019,PRSA SF Bay Area,68763408,1828,0,0,"""#Facebook exists to create community and we d..."
9,9,Wed Apr 03 19:41:33 +0000 2019,BuyDirectSports Sports Picks & Predictions,267990789,3136,0,0,That makes 9 Straight #FreePick #Winners @Buyd...
10,10,Wed Apr 03 19:41:30 +0000 2019,Hammer Time ‚ö°Ô∏è,907702701001019392,121,0,108,RT @threatpost: Breaking: Hundreds of millions...
11,11,Wed Apr 03 19:41:27 +0000 2019,Yell0w Glasses,837781791419338757,85,0,17,RT @Swati_THN: This is Terrible ü§¶ Facebook has...
12,12,Wed Apr 03 19:41:23 +0000 2019,Jecky wachs,741324683006578697,51,0,27,RT @AnonNewsDE: Wo wir vorhin schon beim Thema...
13,13,Wed Apr 03 19:41:22 +0000 2019,Kiriko Yajima,471756956,1434,0,0,Cocktail Book #15„ÄÄ-Bloody Mary-„ÄÄÂêçÂâç„ÅØÁâ©È®í„Å†„Åå„ÄÅÂÆü„ÅØ„Éà„Éû„Éà„Ç∏...
14,14,Wed Apr 03 19:41:17 +0000 2019,Juho Pesonen,28964825,727,0,0,First I thought that the ppl at #Facebook are ...
15,15,Wed Apr 03 19:41:13 +0000 2019,wizardsec,1094006078730162176,23,0,117,RT @TheHackersNews: üò± Over 540 Million #Facebo...
16,16,Wed Apr 03 19:41:13 +0000 2019,Merkstatt,19674860,2142,0,0,Hundreds of millions of #Facebook records expo...
17,17,Wed Apr 03 19:41:04 +0000 2019,Cyber Security,3346754597,1832,0,117,RT @TheHackersNews: üò± Over 540 Million #Facebo...
18,18,Wed Apr 03 19:40:55 +0000 2019,Nancy Roc,122084073,83005,0,0,#Facebook demande √† certains utilisateurs le m...
19,19,Wed Apr 03 19:40:46 +0000 2019,SocialTIC,714418874,15076,0,0,#Facebook se enfrenta a se√±alamientos y baja c...
20,20,Wed Apr 03 19:40:41 +0000 2019,Êü≥‰∫ï„Åø„ÅÜ@SNS„ÅÆÂ•≥ÁéãÊßò,97709071,13326,0,0,"""¬†SNS„ÅÆÂ•≥ÁéãÊßò Êü≥‰∫ï„Åø„ÅÜ"" #Facebook #„Éì„Ç∏„Éç„Çπ #Ëµ∑Ê•≠ÂÆ∂ #ÈõÜÂÆ¢ #‰∫ãÊ•≠‰∏ª ..."
21,21,Wed Apr 03 19:40:37 +0000 2019,Michelle Anousjka,118407907,171,0,4,RT @opgelicht: Facebook heeft nieuwe gebruiker...
22,22,Wed Apr 03 19:40:34 +0000 2019,dreams at fifty,802252602368999425,1080,0,19,"RT @Autores_noveles: Sigue al autor, @Morrison..."
23,23,Wed Apr 03 19:40:33 +0000 2019,Ibra,430815517,1106,0,108,RT @threatpost: Breaking: Hundreds of millions...
24,24,Wed Apr 03 19:40:31 +0000 2019,John,1000660376,281,0,94,RT @YourMarkLubbers: #Facebook censors real ac...
25,25,Wed Apr 03 19:40:28 +0000 2019,Schiemer Consulting,1110336600,7138,0,21,RT @DMAlert: RT @Fix_Reputations: The Importan...
26,26,Wed Apr 03 19:40:27 +0000 2019,javifields,376044283,1166,0,117,RT @TheHackersNews: üò± Over 540 Million #Facebo...
27,27,Wed Apr 03 19:40:25 +0000 2019,Jackie Kollar,463276743,125,0,4,RT @ChatterBlast: Last month's #Facebook outag...
28,28,Wed Apr 03 19:40:23 +0000 2019,David & Dana,845037806737129472,28272,0,0,If you‚Äôre not using Facebook Retargeting Ads t...
29,29,Wed Apr 03 19:40:22 +0000 2019,jimmy passemard,994893154519306240,47,0,117,RT @TheHackersNews: üò± Over 540 Million #Facebo...
...,...,...,...,...,...,...,...,...
5072,1337,Wed Apr 03 19:22:46 +0000 2019,S„ÉªBlank ÁöÖÊúóÊÅñ („ÖÖ¬∑Î∞îÎûÄÌÅ¨),384080647,251,0,0,#SocialMedia websites are interesting. This in...
5073,1338,Wed Apr 03 19:22:45 +0000 2019,Martin,2921905883,46,0,58,RT @TheHackersNews: üò± Over 540 Million #Facebo...
5074,1339,Wed Apr 03 19:22:44 +0000 2019,k‚í∂li,2337594336,1153,0,22,RT @AnonNewsDE: Wo wir vorhin schon beim Thema...
5075,1340,Wed Apr 03 19:22:41 +0000 2019,GNU/Ôº∫e//e,810915163738177536,187,0,58,RT @TheHackersNews: üò± Over 540 Million #Facebo...
5076,1341,Wed Apr 03 19:22:38 +0000 2019,LORE CASTILLO REYES üá≤üáΩ,184481251,6005,0,0,"Con Margarita Arellano, abogada y feminista, p..."
5077,1342,Wed Apr 03 19:22:37 +0000 2019,chtys 80,2333716978,11,0,0,ONT VEUX LE PLATINE !!! AVEC LES ABONN√â #direc...
5078,1343,Wed Apr 03 19:22:36 +0000 2019,Ellen Ripley ‚è≥,1001054494606667777,104,0,27,RT @AnonScan: Millions of #Facebook Records Fo...
5079,1344,Wed Apr 03 19:22:35 +0000 2019,Lesvia Garza Flores,136462493,1884,0,1,RT @DoreFerriz: Si quieren acudir al #Festival...
5080,1345,Wed Apr 03 19:22:31 +0000 2019,James Haus,249850162,184,0,8,"RT @openmarkets: ‚ÄúThat‚Äôs beyond sketchy,‚Äù secu..."
5081,1346,Wed Apr 03 19:22:29 +0000 2019,ƒ¶azem Osama,761060850,172,0,660,RT @TheHackersNews: This is Terrible ü§¶ Faceboo...
5082,1347,Wed Apr 03 19:22:29 +0000 2019,Juan C Solano ◊ô◊ï◊ó◊†◊ü,932721278,223,0,58,RT @TheHackersNews: üò± Over 540 Million #Facebo...
5083,1348,Wed Apr 03 19:22:27 +0000 2019,Hyrum M,270124606,80,0,58,RT @TheHackersNews: üò± Over 540 Million #Facebo...
5084,1349,Wed Apr 03 19:22:27 +0000 2019,Greg D,184723989,51,0,3,"RT @ShonaMurray_: Once again, #facebook at the..."
5085,1350,Wed Apr 03 19:22:19 +0000 2019,Ashish T.,1083227897379225601,31,0,58,RT @TheHackersNews: üò± Over 540 Million #Facebo...
5086,1351,Wed Apr 03 19:22:18 +0000 2019,Shruti Mahajan,710608668832571392,47,0,0,This is not the first and it probably won't be...
5087,1352,Wed Apr 03 19:22:09 +0000 2019,Matt C,30847682,145,0,58,RT @TheHackersNews: üò± Over 540 Million #Facebo...
5088,1353,Wed Apr 03 19:22:08 +0000 2019,Trip Elix,2290453579,30759,0,0,"""The leaked datasets do not directly belong to..."
5089,1354,Wed Apr 03 19:22:07 +0000 2019,Trip Elix,2290453579,30759,0,0,"""üò± Over 540 Million #Facebook User Records Exp..."
5090,1355,Wed Apr 03 19:21:53 +0000 2019,The Hacker News,209811713,537824,11,5,The leaked datasets do not directly belong to ...
5091,1356,Wed Apr 03 19:21:49 +0000 2019,Ikke,710752588862517248,1760,0,58,RT @TheHackersNews: üò± Over 540 Million #Facebo...
5092,1357,Wed Apr 03 19:21:47 +0000 2019,zephyr 101010,914593624842805249,67,0,58,RT @TheHackersNews: üò± Over 540 Million #Facebo...
5093,1358,Wed Apr 03 19:21:38 +0000 2019,Cliff Willie,132971811,294,0,58,RT @TheHackersNews: üò± Over 540 Million #Facebo...
5094,1359,Wed Apr 03 19:21:38 +0000 2019,Rob,1029371871286816768,627,0,58,RT @TheHackersNews: üò± Over 540 Million #Facebo...
5095,1360,Wed Apr 03 19:21:38 +0000 2019,Anonymous Delta,729601114212044800,975,0,58,RT @TheHackersNews: üò± Over 540 Million #Facebo...
5096,1361,Wed Apr 03 19:21:31 +0000 2019,‚õ∞üçÄü¶ö¬ßƒÆƒ∂ƒ∂ƒÑüïäüåøüóª,3348323991,1993,0,58,RT @TheHackersNews: üò± Over 540 Million #Facebo...
5097,1362,Wed Apr 03 19:21:31 +0000 2019,Cyfer Reign,777197042787426304,27,0,0,üò± Over 540 Million #Facebook User Records Expo...
5098,1363,Wed Apr 03 19:21:31 +0000 2019,Andrew Useckas,14534405,123,0,92,RT @threatpost: Breaking: Hundreds of millions...
5099,1364,Wed Apr 03 19:21:28 +0000 2019,Tech Aggregate,1077009755145674752,154,0,58,RT @TheHackersNews: üò± Over 540 Million #Facebo...
5100,1365,Wed Apr 03 19:21:28 +0000 2019,JOUET RomaiŒ∑ ü¶ä,366557558,436,0,58,RT @TheHackersNews: üò± Over 540 Million #Facebo...
5101,1366,Wed Apr 03 19:21:27 +0000 2019,CryptoManiac,943582748333215744,1710,0,58,RT @TheHackersNews: üò± Over 540 Million #Facebo...

In [5]:
fb_frame.describe()

,Unnamed: 0,User ID,User Follower Count,Likes Counts,ReTweet Count
count,5102.000000,5.102000e+03,5102.000000,5102.000000,5102.000000
mean,650.819287,2.654058e+17,6957.946884,0.314387,183.822619
std,389.521660,4.214586e+17,44160.860710,2.298868,556.649980
min,0.000000,6.637300e+04,0.000000,0.000000,0.000000
25%,318.250000,1.315201e+08,107.000000,0.000000,0.000000
50%,637.000000,1.236133e+09,371.000000,0.000000,4.000000
75%,956.000000,7.616781e+17,1650.000000,0.000000,58.000000
max,1484.000000,1.113193e+18,548840.000000,41.000000,2755.000000

In [6]:
# Sort to set up removal of duplicates
fb_frame.sort_values(by=['User ID','Created At'], ascending=False)

,Unnamed: 0,Created At,Screen Name,User ID,User Follower Count,Likes Counts,ReTweet Count,Tweet Text
2510,43,Wed Apr 03 17:10:25 +0000 2019,IRAN FLOOD RELIEF,1113192566273531908,9,0,0,@Cristiano \n@juventusfcen \n@FCBarcelona \n@F...
2592,125,Wed Apr 03 17:10:25 +0000 2019,IRAN FLOOD RELIEF,1113192566273531908,9,0,0,@Cristiano \n@juventusfcen \n@FCBarcelona \n@F...
2675,208,Wed Apr 03 17:10:25 +0000 2019,IRAN FLOOD RELIEF,1113192566273531908,9,0,0,@Cristiano \n@juventusfcen \n@FCBarcelona \n@F...
2761,294,Wed Apr 03 17:10:25 +0000 2019,IRAN FLOOD RELIEF,1113192566273531908,9,0,0,@Cristiano \n@juventusfcen \n@FCBarcelona \n@F...
2846,379,Wed Apr 03 17:10:25 +0000 2019,IRAN FLOOD RELIEF,1113192566273531908,9,0,0,@Cristiano \n@juventusfcen \n@FCBarcelona \n@F...
2931,464,Wed Apr 03 17:10:25 +0000 2019,IRAN FLOOD RELIEF,1113192566273531908,9,0,0,@Cristiano \n@juventusfcen \n@FCBarcelona \n@F...
3017,550,Wed Apr 03 17:10:25 +0000 2019,IRAN FLOOD RELIEF,1113192566273531908,9,0,0,@Cristiano \n@juventusfcen \n@FCBarcelona \n@F...
3102,635,Wed Apr 03 17:10:25 +0000 2019,IRAN FLOOD RELIEF,1113192566273531908,9,0,0,@Cristiano \n@juventusfcen \n@FCBarcelona \n@F...
3187,720,Wed Apr 03 17:10:25 +0000 2019,IRAN FLOOD RELIEF,1113192566273531908,9,0,0,@Cristiano \n@juventusfcen \n@FCBarcelona \n@F...
3273,806,Wed Apr 03 17:10:25 +0000 2019,IRAN FLOOD RELIEF,1113192566273531908,9,0,0,@Cristiano \n@juventusfcen \n@FCBarcelona \n@F...
3359,892,Wed Apr 03 17:10:25 +0000 2019,IRAN FLOOD RELIEF,1113192566273531908,9,0,0,@Cristiano \n@juventusfcen \n@FCBarcelona \n@F...
3446,979,Wed Apr 03 17:10:25 +0000 2019,IRAN FLOOD RELIEF,1113192566273531908,9,0,0,@Cristiano \n@juventusfcen \n@FCBarcelona \n@F...
3534,1067,Wed Apr 03 17:10:25 +0000 2019,IRAN FLOOD RELIEF,1113192566273531908,9,0,0,@Cristiano \n@juventusfcen \n@FCBarcelona \n@F...
3622,1155,Wed Apr 03 17:10:25 +0000 2019,IRAN FLOOD RELIEF,1113192566273531908,9,0,0,@Cristiano \n@juventusfcen \n@FCBarcelona \n@F...
3716,1249,Wed Apr 03 17:10:25 +0000 2019,IRAN FLOOD RELIEF,1113192566273531908,9,0,0,@Cristiano \n@juventusfcen \n@FCBarcelona \n@F...
1981,496,Wed Apr 03 03:48:02 +0000 2019,Ati Shong Thonger,1112576649948774400,0,0,0,@anthonydelva1 @dreeashy @facebook 28th of Mar...
2079,594,Wed Apr 03 03:48:02 +0000 2019,Ati Shong Thonger,1112576649948774400,0,0,0,@anthonydelva1 @dreeashy @facebook 28th of Mar...
2177,692,Wed Apr 03 03:48:02 +0000 2019,Ati Shong Thonger,1112576649948774400,0,0,0,@anthonydelva1 @dreeashy @facebook 28th of Mar...
2277,792,Wed Apr 03 03:48:02 +0000 2019,Ati Shong Thonger,1112576649948774400,0,0,0,@anthonydelva1 @dreeashy @facebook 28th of Mar...
2377,892,Wed Apr 03 03:48:02 +0000 2019,Ati Shong Thonger,1112576649948774400,0,0,0,@anthonydelva1 @dreeashy @facebook 28th of Mar...
87,87,Wed Apr 03 19:35:59 +0000 2019,DeAnna Hernandez,1112524336966131713,4,0,0,#cbdismything #cbdoil #cbdeanna #pure #Potent ...
186,186,Wed Apr 03 19:35:59 +0000 2019,DeAnna Hernandez,1112524336966131713,4,0,0,#cbdismything #cbdoil #cbdeanna #pure #Potent ...
285,285,Wed Apr 03 19:35:59 +0000 2019,DeAnna Hernandez,1112524336966131713,4,0,0,#cbdismything #cbdoil #cbdeanna #pure #Potent ...
386,386,Wed Apr 03 19:35:59 +0000 2019,DeAnna Hernandez,1112524336966131713,4,0,0,#cbdismything #cbdoil #cbdeanna #pure #Potent ...
485,485,Wed Apr 03 19:35:59 +0000 2019,DeAnna Hernandez,1112524336966131713,4,0,0,#cbdismything #cbdoil #cbdeanna #pure #Potent ...
585,585,Wed Apr 03 19:35:59 +0000 2019,DeAnna Hernandez,1112524336966131713,4,0,0,#cbdismything #cbdoil #cbdeanna #pure #Potent ...
685,685,Wed Apr 03 19:35:59 +0000 2019,DeAnna Hernandez,1112524336966131713,4,0,0,#cbdismything #cbdoil #cbdeanna #pure #Potent ...
785,785,Wed Apr 03 19:35:59 +0000 2019,DeAnna Hernandez,1112524336966131713,4,0,0,#cbdismything #cbdoil #cbdeanna #pure #Potent ...
884,884,Wed Apr 03 19:35:59 +0000 2019,DeAnna Hernandez,1112524336966131713,4,0,0,#cbdismything #cbdoil #cbdeanna #pure #Potent ...
984,984,Wed Apr 03 19:35:59 +0000 2019,DeAnna Hernandez,1112524336966131713,4,0,0,#cbdismything #cbdoil #cbdeanna #pure #Potent ...
...,...,...,...,...,...,...,...,...
1971,486,Wed Apr 03 03:30:05 +0000 2019,„Å™„Å™„Åó„ÅÆ,6466292,932,0,2424,RT @yoox5135: „Åä„ÅÑ„Åä„ÅÑ„Éû„Ç∏„Åã„Çà„ÄÇFacebook„ÅÆÊãÖÂΩìËÄÖ„ÅØËá™Ê∞ëÂÖö„Å´„É¨„ÇØ„ÉÅ„É£„Éº„Å´...
2074,589,Wed Apr 03 03:30:05 +0000 2019,„Å™„Å™„Åó„ÅÆ,6466292,932,0,2424,RT @yoox5135: „Åä„ÅÑ„Åä„ÅÑ„Éû„Ç∏„Åã„Çà„ÄÇFacebook„ÅÆÊãÖÂΩìËÄÖ„ÅØËá™Ê∞ëÂÖö„Å´„É¨„ÇØ„ÉÅ„É£„Éº„Å´...
2172,687,Wed Apr 03 03:30:05 +0000 2019,„Å™„Å™„Åó„ÅÆ,6466292,932,0,2424,RT @yoox5135: „Åä„ÅÑ„Åä„ÅÑ„Éû„Ç∏„Åã„Çà„ÄÇFacebook„ÅÆÊãÖÂΩìËÄÖ„ÅØËá™Ê∞ëÂÖö„Å´„É¨„ÇØ„ÉÅ„É£„Éº„Å´...
2270,785,Wed Apr 03 03:30:05 +0000 2019,„Å™„Å™„Åó„ÅÆ,6466292,932,0,2424,RT @yoox5135: „Åä„ÅÑ„Åä„ÅÑ„Éû„Ç∏„Åã„Çà„ÄÇFacebook„ÅÆÊãÖÂΩìËÄÖ„ÅØËá™Ê∞ëÂÖö„Å´„É¨„ÇØ„ÉÅ„É£„Éº„Å´...
2370,885,Wed Apr 03 03:30:05 +0000 2019,„Å™„Å™„Åó„ÅÆ,6466292,932,0,2425,RT @yoox5135: „Åä„ÅÑ„Åä„ÅÑ„Éû„Ç∏„Åã„Çà„ÄÇFacebook„ÅÆÊãÖÂΩìËÄÖ„ÅØËá™Ê∞ëÂÖö„Å´„É¨„ÇØ„ÉÅ„É£„Éº„Å´...
96,96,Wed Apr 03 19:35:14 +0000 2019,Anthony Augustine,1095661,2222,0,0,https://t.co/V7qFAic6zW #privacy #facebook
195,195,Wed Apr 03 19:35:14 +0000 2019,Anthony Augustine,1095661,2222,0,0,https://t.co/V7qFAic6zW #privacy #facebook
294,294,Wed Apr 03 19:35:14 +0000 2019,Anthony Augustine,1095661,2222,0,0,https://t.co/V7qFAic6zW #privacy #facebook
395,395,Wed Apr 03 19:35:14 +0000 2019,Anthony Augustine,1095661,2222,0,0,https://t.co/V7qFAic6zW #privacy #facebook
494,494,Wed Apr 03 19:35:14 +0000 2019,Anthony Augustine,1095661,2222,0,0,https://t.co/V7qFAic6zW #privacy #facebook
1525,40,Wed Apr 03 03:38:10 +0000 2019,Rajesh Kumar,730343,1224,0,0,@abhijitmajumder @facebook @MyNation I did not...
1624,139,Wed Apr 03 03:38:10 +0000 2019,Rajesh Kumar,730343,1224,0,0,@abhijitmajumder @facebook @MyNation I did not...
1723,238,Wed Apr 03 03:38:10 +0000 2019,Rajesh Kumar,730343,1224,0,0,@abhijitmajumder @facebook @MyNation I did not...
1822,337,Wed Apr 03 03:38:10 +0000 2019,Rajesh Kumar,730343,1224,0,0,@abhijitmajumder @facebook @MyNation I did not...
1922,437,Wed Apr 03 03:38:10 +0000 2019,Rajesh Kumar,730343,1224,0,0,@abhijitmajumder @facebook @MyNation I did not...
2025,540,Wed Apr 03 03:38:10 +0000 2019,Rajesh Kumar,730343,1224,0,0,@abhijitmajumder @facebook @MyNation I did not...
2123,638,Wed Apr 03 03:38:10 +0000 2019,Rajesh Kumar,730343,1224,0,0,@abhijitmajumder @facebook @MyNation I did not...
2221,736,Wed Apr 03 03:38:10 +0000 2019,Rajesh Kumar,730343,1224,0,0,@abhijitmajumder @facebook @MyNation I did not...
2321,836,Wed Apr 03 03:38:10 +0000 2019,Rajesh Kumar,730343,1224,0,0,@abhijitmajumder @facebook @MyNation I did not...
2421,936,Wed Apr 03 03:38:10 +0000 2019,Rajesh Kumar,730343,1224,0,0,@abhijitmajumder @facebook @MyNation I did not...
1490,5,Wed Apr 03 03:44:13 +0000 2019,minusbaby,66373,3162,1,0,‚Ä¢ Check out @Facebook's extended April Fools j...
1589,104,Wed Apr 03 03:44:13 +0000 2019,minusbaby,66373,3162,1,0,‚Ä¢ Check out @Facebook's extended April Fools j...
1688,203,Wed Apr 03 03:44:13 +0000 2019,minusbaby,66373,3162,1,0,‚Ä¢ Check out @Facebook's extended April Fools j...
1787,302,Wed Apr 03 03:44:13 +0000 2019,minusbaby,66373,3162,1,0,‚Ä¢ Check out @Facebook's extended April Fools j...
1887,402,Wed Apr 03 03:44:13 +0000 2019,minusbaby,66373,3162,1,0,‚Ä¢ Check out @Facebook's extended April Fools j...
1990,505,Wed Apr 03 03:44:13 +0000 2019,minusbaby,66373,3162,2,0,‚Ä¢ Check out @Facebook's extended April Fools j...
2088,603,Wed Apr 03 03:44:13 +0000 2019,minusbaby,66373,3162,2,0,‚Ä¢ Check out @Facebook's extended April Fools j...
2186,701,Wed Apr 03 03:44:13 +0000 2019,minusbaby,66373,3162,2,0,‚Ä¢ Check out @Facebook's extended April Fools j...
2286,801,Wed Apr 03 03:44:13 +0000 2019,minusbaby,66373,3162,2,0,‚Ä¢ Check out @Facebook's extended April Fools j...
2386,901,Wed Apr 03 03:44:13 +0000 2019,minusbaby,66373,3162,2,0,‚Ä¢ Check out @Facebook's extended April Fools j...

In [7]:
# Drop Duplicates only for matching columns omitting the index
facebook_filtered_df = fb_frame.drop_duplicates(['Created At', 'Screen Name', 'User ID', 'User Follower Count', 'Likes Counts', 'ReTweet Count', 'Tweet Text']).sort_values(by=['User ID','Created At'], ascending=False)

In [8]:
# Get New Snap Shot Statistics
facebook_filtered_df.describe()

,Unnamed: 0,User ID,User Follower Count,Likes Counts,ReTweet Count
count,834.000000,8.340000e+02,834.000000,834.000000,834.000000
mean,416.143885,2.782046e+17,10212.504796,0.848921,373.279376
std,416.280360,4.284004e+17,62249.253036,4.799580,809.999425
min,0.000000,6.637300e+04,0.000000,0.000000,0.000000
25%,52.000000,1.470639e+08,106.250000,0.000000,2.000000
50%,240.000000,1.269394e+09,294.000000,0.000000,43.000000
75%,822.250000,7.812809e+17,1356.000000,0.000000,117.000000
max,1482.000000,1.113193e+18,548840.000000,41.000000,2755.000000

In [9]:
facebook_filtered_df.head()

,Unnamed: 0,Created At,Screen Name,User ID,User Follower Count,Likes Counts,ReTweet Count,Tweet Text
2510,43,Wed Apr 03 17:10:25 +0000 2019,IRAN FLOOD RELIEF,1113192566273531908,9,0,0,@Cristiano \n@juventusfcen \n@FCBarcelona \n@F...
1981,496,Wed Apr 03 03:48:02 +0000 2019,Ati Shong Thonger,1112576649948774400,0,0,0,@anthonydelva1 @dreeashy @facebook 28th of Mar...
87,87,Wed Apr 03 19:35:59 +0000 2019,DeAnna Hernandez,1112524336966131713,4,0,0,#cbdismything #cbdoil #cbdeanna #pure #Potent ...
34,34,Wed Apr 03 19:39:50 +0000 2019,Juliet Rose,1112033927575810049,15,0,117,RT @TheHackersNews: üò± Over 540 Million #Facebo...
232,232,Wed Apr 03 19:39:50 +0000 2019,Juliet Rose,1112033927575810049,15,0,118,RT @TheHackersNews: üò± Over 540 Million #Facebo...

In [10]:
# Count total out of Unique Tweets
facebook_total_tweets = len(facebook_filtered_df['Tweet Text'])
facebook_total_tweets

834

In [11]:
# Calculate Facebook Avg Followers - doesn't make sense to sum.
facebook_avg_followers_ct = facebook_filtered_df['User Follower Count'].mean()
facebook_avg_followers_ct

10212.50479616307

In [12]:
# Total Likes of all tweets
facebook_total_likes = facebook_filtered_df['Likes Counts'].sum()
#facebook_avg_likes = facebook_filtered_df['Likes Counts'].mean()
facebook_total_likes
#facebook_avg_likes

708

In [13]:
# Facebook Retweets Stats:
#facebook_sum_retweets = facebook_filtered_df['ReTweet Count'].sum()
facebook_avg_retweets = facebook_filtered_df['ReTweet Count'].mean()
#facebook_sum_retweets
facebook_avg_retweets

373.27937649880096

#### Instagram Calculations

In [14]:
path = './resources/instagram'
all_files = glob.glob(path + "/*.csv")
li = []

for filename in all_files:
    df = pd.read_csv(filename, index_col=None, header=0)
    li.append(df)
instagram_source_df = pd.concat(li, axis=0, ignore_index=True)
instagram_source_df

,Unnamed: 0,Created At,Screen Name,User ID,User Follower Count,Likes Counts,ReTweet Count,Tweet Text
0,0,Wed Apr 03 17:46:57 +0000 2019,matilda urrea-berm.,52971889,10,0,0,@GWR @instagram Nice do you get a plaque?
1,1,Wed Apr 03 17:46:35 +0000 2019,BAD WAI üåéBE WATER üòâ MY FRIEND ü§ü,143771117,13232,1,0,@TamaraVila83 @EstasTamara @CDRReus @CDRCatOfi...
2,2,Wed Apr 03 17:46:14 +0000 2019,Francesca,718914757,178,0,0,@instagram this new algorithm is awful and mak...
3,3,Wed Apr 03 17:46:06 +0000 2019,Silverlinings,1088936582609014784,18,0,0,@RichJC1001 @GWR @instagram She isnt trying to...
4,4,Wed Apr 03 17:46:01 +0000 2019,rosella north,1113491398819569665,0,0,549,RT @marcuslemonis: Join me on @instagram @marc...
5,5,Wed Apr 03 17:45:58 +0000 2019,üéÆ Flibbley NovA üéÆ,54262136,114,0,0,@TortimerTheGrey @instagram Aww so cute!!
6,6,Wed Apr 03 17:45:56 +0000 2019,jacovaggio,2522432237,378,0,0,@instagram fix your app
7,7,Wed Apr 03 17:45:53 +0000 2019,CLAPPERS,910634139753226240,39,0,0,"@instagram Hello IG, my main account (Clappers..."
8,8,Wed Apr 03 17:45:50 +0000 2019,MadLove.tv,2358484082,563,0,0,@snohaalegra @Brittanysky @TIDAL @AyishaDiaz @...
9,9,Wed Apr 03 17:45:46 +0000 2019,Uncle Moon,909132428513546241,120,0,532,RT @GWR: Congratulations to the Duke and Duche...
10,10,Wed Apr 03 17:45:43 +0000 2019,Ben Bernard,318501747,39,1,0,"Ooh! Ello Bernardians! Tony Tatting, Jr. has h..."
11,11,Wed Apr 03 17:45:21 +0000 2019,Sarah Clarke Biz üá®üá¶,810172601209393152,1475,1,0,@SMExaminer @instagram A3: offering a coupon ...
12,12,Wed Apr 03 17:44:55 +0000 2019,JGIB1978,1082928237674668034,1,0,0,@instagram please stop publishing French adds ...
13,13,Wed Apr 03 17:44:48 +0000 2019,muzukulu wa mulondo,737939101,10437,0,2,RT @JBugs10210: @SMExaminer @instagram A3 - Ti...
14,14,Wed Apr 03 17:44:44 +0000 2019,Tay Alejandro,29187560,595,0,0,@instagram @InstagramES take 9. my account has...
15,15,Wed Apr 03 17:44:39 +0000 2019,muzukulu wa mulondo,737939101,10437,0,1,RT @MLLNNLmotivator: @SMExaminer @instagram A3...
16,16,Wed Apr 03 17:44:11 +0000 2019,Sricharan Iyengar,844101113666330624,6,0,0,@nickatnyteYT @instagram @verified Finally..di...
17,17,Wed Apr 03 17:44:06 +0000 2019,Products That Count,2319351871,3496,1,0,Today's #mobile app leaders are looking to mon...
18,18,Wed Apr 03 17:44:01 +0000 2019,muzukulu wa mulondo,737939101,10437,0,2,RT @SMExaminer: Q3. What would be a unique way...
19,19,Wed Apr 03 17:43:58 +0000 2019,Milena Drs,3222374748,422,0,0,"@instagram en est √† la version 87, la version..."
20,20,Wed Apr 03 17:43:56 +0000 2019,Klutch Royale,857684187620548611,174,0,0,@nickatnyteYT @instagram @verified Don‚Äôt forge...
21,21,Wed Apr 03 17:43:54 +0000 2019,ispotify,340770461,858,0,0,@keithboykin @TwitterMoments @facebook @Snapch...
22,22,Wed Apr 03 17:43:50 +0000 2019,Dough,150735505,1257,0,0,@instagram x @Twitter got me in my Feelins!! #...
23,23,Wed Apr 03 17:43:46 +0000 2019,McKenna Harris,493619182,344,0,0,@instagram. night mode. pls.
24,24,Wed Apr 03 17:43:23 +0000 2019,Dewi Eirig Jones üè¥Û†ÅßÛ†Å¢Û†Å∑Û†Å¨Û†Å≥Û†Åø,19086504,4229,1,0,@SMExaminer @iSocialFanz @StonehamPress @insta...
25,25,Wed Apr 03 17:43:12 +0000 2019,B&W Forever,789486893603971072,8,0,0,@realwarriale @MATUIDIBlaise @instagram @repor...
26,26,Wed Apr 03 17:43:09 +0000 2019,senaida yajima,1113489772503130112,0,0,549,RT @marcuslemonis: Join me on @instagram @marc...
27,27,Wed Apr 03 17:43:02 +0000 2019,Paolo Rotellini,457758673,168,0,0,@realwarriale @mike_fusco @MATUIDIBlaise @inst...
28,28,Wed Apr 03 17:43:00 +0000 2019,Stephanie Liu #MDMC19,14903290,18115,0,2,RT @MLLNNLmotivator: @SMExaminer A2 This is a ...
29,29,Wed Apr 03 17:43:00 +0000 2019,muzukulu wa mulondo,737939101,10437,0,2,RT @MLLNNLmotivator: @SMExaminer A2 This is a ...
...,...,...,...,...,...,...,...,...
3128,628,Wed Apr 03 22:20:40 +0000 2019,gabrielleleigha on Patreon,952863887283687425,1158,1,0,@instagram it would be helpful if someone coul...
3129,629,Wed Apr 03 22:20:38 +0000 2019,Pierpaolo Cavaliero,134789725,395,0,0,#instagram #ricordi https://t.co/cHUsROBxKA
3130,630,Wed Apr 03 22:20:27 +0000 2019,Lucy,232245965,2848,1,0,üòÇ‚úåüèº\n‚Ä¢\n‚Ä¢\n#goodnight #night #bedtime #bed #fu...
3131,631,Wed Apr 03 22:20:15 +0000 2019,The Tell-Tale Heart Short Film,1078106544737157120,459,0,0,So @shudder just liked one of our photos!!! @t...
3132,632,Wed Apr 03 22:19:45 +0000 2019,Joseph (JehDee) Disopa,1034326033984446464,301,0,1,700 days and I‚Äôm still stuck on you. @miriansm...
3133,633,Wed Apr 03 22:19:34 +0000 2019,K2gr,1091452962818457600,7,1,0,#pizza #gr #mi #puremi #puremichigan #love #va...
3134,634,Wed Apr 03 22:19:27 +0000 2019,„Åó„Çá„ÅÜ„Å°„ÇÉ„Çì,145471090,122,0,16,RT @ayano_DM: „Éù„ÉÅ„É£„ÉÉ„Ç≥„ÅÆ„Ç´„É¨„Éºüçõ\nÂèØÊÑõ„Åô„Åé„Çã„Å£„Å£ü§¶‚Äç‚ôÄÔ∏èüíòüíò\n„Éª\n‚ô°\...
3135,635,Wed Apr 03 22:19:27 +0000 2019,#Sheffieldissuper,864982249,32223,0,2,RT @mickybricky1: Remaining #brickwork complet...
3136,636,Wed Apr 03 22:19:12 +0000 2019,Vanessa Etim,985614510034694144,583,0,1,RT @Marco_Freitas96: There are no limits to wh...
3137,637,Wed Apr 03 22:19:09 +0000 2019,Tweetering,387002668,9013,0,1,#instagood #instagram #travel #traveling #explore
3138,638,Wed Apr 03 22:18:48 +0000 2019,Allstar Listings,87878790,514,0,0,#InStock shop and search Alexis\n\nhttps://t.c...
3139,639,Wed Apr 03 22:18:39 +0000 2019,Maria Moreira,912339715197718528,652,0,2,RT @ByJeyBar: #3Abr üíª ¬øTienes tiempo de maneja...
3140,640,Wed Apr 03 22:18:35 +0000 2019,üí´gÕûÕüÃ∏uÕûÕüÃ∏aÕûÕüÃ∏dÕûÕüÃ∏aÕûÕüÃ∏ üí´,953203189519736833,124,0,6,RT @OrianaNicole_SB: Abro hilo de #INSTAGRAM a...
3141,641,Wed Apr 03 22:17:53 +0000 2019,Erick Jenkins,741662810464227328,112,0,0,Is it appropriate for someone to comment on th...
3142,642,Wed Apr 03 22:17:24 +0000 2019,ArtsForAllCork,1095344515425038342,151,0,1,"RT @Good_DayNews: Spreading #positivevibes of,..."
3143,643,Wed Apr 03 22:17:21 +0000 2019,Truth Sleuth üïµüèº‚Äç‚ôÄÔ∏è,897246886058446848,75,0,309,RT @MinaANDMaya: #Instagram model #Keevonna C‚Äô...
3144,644,Wed Apr 03 22:17:20 +0000 2019,Live Love Kfardebian,900240846922158080,28,0,0,@tarekfeghali üì∑ ‚úå ‚ù§‚ù§‚ù§‚ù§‚ù§‚ù§\n#beautiful #white #l...
3145,645,Wed Apr 03 22:17:16 +0000 2019,chiBihige„Äêgranire„Äë,2855156724,92,1,0,^\n^\n28-75 F/2.8(A036)-Œ±7‚Ö±\nÔºä\nÔºä\n#camera #so...
3146,646,Wed Apr 03 22:17:07 +0000 2019,Jule G√∂lsdorf,1879656542,658,0,0,Wenn mir noch ein Mensch bei #Instagram #Tee v...
3147,647,Wed Apr 03 22:17:00 +0000 2019,‚ô• Suzie ‚ô•,16630502,12771,0,0,"The Best Time to Post on #Instagram, #Facebook..."
3148,648,Wed Apr 03 22:17:00 +0000 2019,Gigalvivelalibert√©,909735373294759936,65,0,1,RT @TransfoNum89: Si vous vous demandez commen...
3149,649,Wed Apr 03 22:16:53 +0000 2019,"Eastjavasurfcamp,Art&Culture",1113469862158905344,0,0,0,Contact number :\nWhastaap : +6281236192026\nE...
3150,650,Wed Apr 03 22:16:11 +0000 2019,Land Over Landings,267855923,1157,0,1,RT @CityofPickering: Calling all #photographer...
3151,651,Wed Apr 03 22:16:04 +0000 2019,Jimena Moran,903280164725030920,2236,0,2,RT @ByJeyBar: #3Abr üíª ¬øTienes tiempo de maneja...
3152,652,Wed Apr 03 22:15:49 +0000 2019,‚ãÜ‚ú∞∆ä‚ÑØ‚ÑØ◊†Œ±·Éß ≈¶aÃ∂‡πñ…£‚ú∞,887933150,4205,1,0,N-am nevoie #OfficialVideo\n#OfficialVideo #Ye...
3153,653,Wed Apr 03 22:15:00 +0000 2019,Por J. Barrios,331802880,1256,0,2,#3Abr üíª ¬øTienes tiempo de manejar las Redes So...
3154,654,Wed Apr 03 22:14:50 +0000 2019,Claudia Q A,244254671,201,0,309,RT @MinaANDMaya: #Instagram model #Keevonna C‚Äô...
3155,655,Wed Apr 03 22:14:41 +0000 2019,AnnMarie Byrnes,38905431,807,0,8,"RT @phillyzoo: Good morning, Philly! ‚òÄÔ∏è We can..."
3156,656,Wed Apr 03 22:14:13 +0000 2019,graffiti_bot,920107419266699264,791,0,1,RT @BetancourtJonah: Que valga la pena!! ü•Å #gr...
3157,657,Wed Apr 03 22:14:10 +0000 2019,Official_MarcoDeFreitas,821749854770724864,141,0,1,There are no limits to what you can accomplish...

In [15]:
# Snapshot Statistics
instagram_source_df.describe()

,Unnamed: 0,User ID,User Follower Count,Likes Counts,ReTweet Count
count,3158.000000,3.158000e+03,3158.000000,3158.000000,3158.000000
mean,1057.600697,2.973860e+17,24434.236225,0.806840,37.960101
std,748.279004,4.401682e+17,101565.229508,1.549334,132.480916
min,0.000000,1.490329e+07,0.000000,0.000000,0.000000
25%,394.250000,1.286329e+08,89.000000,0.000000,0.000000
50%,920.500000,9.442872e+08,432.000000,0.000000,0.000000
75%,1709.750000,8.124180e+17,4045.000000,1.000000,1.000000
max,2499.000000,1.113492e+18,521137.000000,6.000000,549.000000

In [16]:
instagram_source_df.head()

,Unnamed: 0,Created At,Screen Name,User ID,User Follower Count,Likes Counts,ReTweet Count,Tweet Text
0,0,Wed Apr 03 17:46:57 +0000 2019,matilda urrea-berm.,52971889,10,0,0,@GWR @instagram Nice do you get a plaque?
1,1,Wed Apr 03 17:46:35 +0000 2019,BAD WAI üåéBE WATER üòâ MY FRIEND ü§ü,143771117,13232,1,0,@TamaraVila83 @EstasTamara @CDRReus @CDRCatOfi...
2,2,Wed Apr 03 17:46:14 +0000 2019,Francesca,718914757,178,0,0,@instagram this new algorithm is awful and mak...
3,3,Wed Apr 03 17:46:06 +0000 2019,Silverlinings,1088936582609014784,18,0,0,@RichJC1001 @GWR @instagram She isnt trying to...
4,4,Wed Apr 03 17:46:01 +0000 2019,rosella north,1113491398819569665,0,0,549,RT @marcuslemonis: Join me on @instagram @marc...

In [17]:
# Sort to set up removal of duplicates
instagram_source_df.sort_values(by=['User ID','Created At'], ascending=False)

,Unnamed: 0,Created At,Screen Name,User ID,User Follower Count,Likes Counts,ReTweet Count,Tweet Text
34,34,Wed Apr 03 17:41:38 +0000 2019,tamica demartino,1113492484968075265,0,0,549,RT @marcuslemonis: Join me on @instagram @marc...
134,134,Wed Apr 03 17:41:38 +0000 2019,tamica demartino,1113492484968075265,0,0,549,RT @marcuslemonis: Join me on @instagram @marc...
234,234,Wed Apr 03 17:41:38 +0000 2019,tamica demartino,1113492484968075265,0,0,549,RT @marcuslemonis: Join me on @instagram @marc...
334,334,Wed Apr 03 17:41:38 +0000 2019,tamica demartino,1113492484968075265,0,0,549,RT @marcuslemonis: Join me on @instagram @marc...
435,435,Wed Apr 03 17:41:38 +0000 2019,tamica demartino,1113492484968075265,0,0,549,RT @marcuslemonis: Join me on @instagram @marc...
536,536,Wed Apr 03 17:41:38 +0000 2019,tamica demartino,1113492484968075265,0,0,549,RT @marcuslemonis: Join me on @instagram @marc...
636,636,Wed Apr 03 17:41:38 +0000 2019,tamica demartino,1113492484968075265,0,0,549,RT @marcuslemonis: Join me on @instagram @marc...
736,736,Wed Apr 03 17:41:38 +0000 2019,tamica demartino,1113492484968075265,0,0,549,RT @marcuslemonis: Join me on @instagram @marc...
836,836,Wed Apr 03 17:41:38 +0000 2019,tamica demartino,1113492484968075265,0,0,549,RT @marcuslemonis: Join me on @instagram @marc...
936,936,Wed Apr 03 17:41:38 +0000 2019,tamica demartino,1113492484968075265,0,0,549,RT @marcuslemonis: Join me on @instagram @marc...
1036,1036,Wed Apr 03 17:41:38 +0000 2019,tamica demartino,1113492484968075265,0,0,549,RT @marcuslemonis: Join me on @instagram @marc...
1136,1136,Wed Apr 03 17:41:38 +0000 2019,tamica demartino,1113492484968075265,0,0,549,RT @marcuslemonis: Join me on @instagram @marc...
1236,1236,Wed Apr 03 17:41:38 +0000 2019,tamica demartino,1113492484968075265,0,0,549,RT @marcuslemonis: Join me on @instagram @marc...
1336,1336,Wed Apr 03 17:41:38 +0000 2019,tamica demartino,1113492484968075265,0,0,549,RT @marcuslemonis: Join me on @instagram @marc...
1437,1437,Wed Apr 03 17:41:38 +0000 2019,tamica demartino,1113492484968075265,0,0,549,RT @marcuslemonis: Join me on @instagram @marc...
1537,1537,Wed Apr 03 17:41:38 +0000 2019,tamica demartino,1113492484968075265,0,0,549,RT @marcuslemonis: Join me on @instagram @marc...
1638,1638,Wed Apr 03 17:41:38 +0000 2019,tamica demartino,1113492484968075265,0,0,549,RT @marcuslemonis: Join me on @instagram @marc...
1739,1739,Wed Apr 03 17:41:38 +0000 2019,tamica demartino,1113492484968075265,0,0,548,RT @marcuslemonis: Join me on @instagram @marc...
1839,1839,Wed Apr 03 17:41:38 +0000 2019,tamica demartino,1113492484968075265,0,0,548,RT @marcuslemonis: Join me on @instagram @marc...
1941,1941,Wed Apr 03 17:41:38 +0000 2019,tamica demartino,1113492484968075265,0,0,548,RT @marcuslemonis: Join me on @instagram @marc...
2041,2041,Wed Apr 03 17:41:38 +0000 2019,tamica demartino,1113492484968075265,0,0,548,RT @marcuslemonis: Join me on @instagram @marc...
2142,2142,Wed Apr 03 17:41:38 +0000 2019,tamica demartino,1113492484968075265,0,0,548,RT @marcuslemonis: Join me on @instagram @marc...
2242,2242,Wed Apr 03 17:41:38 +0000 2019,tamica demartino,1113492484968075265,0,0,548,RT @marcuslemonis: Join me on @instagram @marc...
2342,2342,Wed Apr 03 17:41:38 +0000 2019,tamica demartino,1113492484968075265,0,0,548,RT @marcuslemonis: Join me on @instagram @marc...
2443,2443,Wed Apr 03 17:41:38 +0000 2019,tamica demartino,1113492484968075265,0,0,548,RT @marcuslemonis: Join me on @instagram @marc...
50,50,Wed Apr 03 17:37:58 +0000 2019,ricarda pease,1113492397659267072,0,0,549,RT @marcuslemonis: Join me on @instagram @marc...
150,150,Wed Apr 03 17:37:58 +0000 2019,ricarda pease,1113492397659267072,0,0,549,RT @marcuslemonis: Join me on @instagram @marc...
250,250,Wed Apr 03 17:37:58 +0000 2019,ricarda pease,1113492397659267072,0,0,549,RT @marcuslemonis: Join me on @instagram @marc...
350,350,Wed Apr 03 17:37:58 +0000 2019,ricarda pease,1113492397659267072,0,0,549,RT @marcuslemonis: Join me on @instagram @marc...
451,451,Wed Apr 03 17:37:58 +0000 2019,ricarda pease,1113492397659267072,0,0,549,RT @marcuslemonis: Join me on @instagram @marc...
...,...,...,...,...,...,...,...,...
930,930,Wed Apr 03 17:43:00 +0000 2019,Stephanie Liu #MDMC19,14903290,18115,0,2,RT @MLLNNLmotivator: @SMExaminer A2 This is a ...
1030,1030,Wed Apr 03 17:43:00 +0000 2019,Stephanie Liu #MDMC19,14903290,18115,0,2,RT @MLLNNLmotivator: @SMExaminer A2 This is a ...
1130,1130,Wed Apr 03 17:43:00 +0000 2019,Stephanie Liu #MDMC19,14903290,18115,0,2,RT @MLLNNLmotivator: @SMExaminer A2 This is a ...
1230,1230,Wed Apr 03 17:43:00 +0000 2019,Stephanie Liu #MDMC19,14903290,18115,0,2,RT @MLLNNLmotivator: @SMExaminer A2 This is a ...
1330,1330,Wed Apr 03 17:43:00 +0000 2019,Stephanie Liu #MDMC19,14903290,18115,0,2,RT @MLLNNLmotivator: @SMExaminer A2 This is a ...
1431,1431,Wed Apr 03 17:43:00 +0000 2019,Stephanie Liu #MDMC19,14903290,18115,0,2,RT @MLLNNLmotivator: @SMExaminer A2 This is a ...
1531,1531,Wed Apr 03 17:43:00 +0000 2019,Stephanie Liu #MDMC19,14903290,18115,0,2,RT @MLLNNLmotivator: @SMExaminer A2 This is a ...
1632,1632,Wed Apr 03 17:43:00 +0000 2019,Stephanie Liu #MDMC19,14903290,18115,0,2,RT @MLLNNLmotivator: @SMExaminer A2 This is a ...
1733,1733,Wed Apr 03 17:43:00 +0000 2019,Stephanie Liu #MDMC19,14903290,18115,0,2,RT @MLLNNLmotivator: @SMExaminer A2 This is a ...
1833,1833,Wed Apr 03 17:43:00 +0000 2019,Stephanie Liu #MDMC19,14903290,18115,0,2,RT @MLLNNLmotivator: @SMExaminer A2 This is a ...
1935,1935,Wed Apr 03 17:43:00 +0000 2019,Stephanie Liu #MDMC19,14903290,18115,0,2,RT @MLLNNLmotivator: @SMExaminer A2 This is a ...
2035,2035,Wed Apr 03 17:43:00 +0000 2019,Stephanie Liu #MDMC19,14903290,18115,0,2,RT @MLLNNLmotivator: @SMExaminer A2 This is a ...
2136,2136,Wed Apr 03 17:43:00 +0000 2019,Stephanie Liu #MDMC19,14903290,18115,0,2,RT @MLLNNLmotivator: @SMExaminer A2 This is a ...
2236,2236,Wed Apr 03 17:43:00 +0000 2019,Stephanie Liu #MDMC19,14903290,18115,0,2,RT @MLLNNLmotivator: @SMExaminer A2 This is a ...
2336,2336,Wed Apr 03 17:43:00 +0000 2019,Stephanie Liu #MDMC19,14903290,18115,0,2,RT @MLLNNLmotivator: @SMExaminer A2 This is a ...
2437,2437,Wed Apr 03 17:43:00 +0000 2019,Stephanie Liu #MDMC19,14903290,18115,0,2,RT @MLLNNLmotivator: @SMExaminer A2 This is a ...
97,97,Wed Apr 03 17:30:10 +0000 2019,Stephanie Liu #MDMC19,14903290,18115,0,3,RT @MLLNNLmotivator: @SMExaminer A1 Creating a...
197,197,Wed Apr 03 17:30:10 +0000 2019,Stephanie Liu #MDMC19,14903290,18115,0,3,RT @MLLNNLmotivator: @SMExaminer A1 Creating a...
297,297,Wed Apr 03 17:30:10 +0000 2019,Stephanie Liu #MDMC19,14903290,18115,0,3,RT @MLLNNLmotivator: @SMExaminer A1 Creating a...
397,397,Wed Apr 03 17:30:10 +0000 2019,Stephanie Liu #MDMC19,14903290,18115,0,3,RT @MLLNNLmotivator: @SMExaminer A1 Creating a...
498,498,Wed Apr 03 17:30:10 +0000 2019,Stephanie Liu #MDMC19,14903290,18115,0,3,RT @MLLNNLmotivator: @SMExaminer A1 Creating a...
599,599,Wed Apr 03 17:30:10 +0000 2019,Stephanie Liu #MDMC19,14903290,18115,0,3,RT @MLLNNLmotivator: @SMExaminer A1 Creating a...
699,699,Wed Apr 03 17:30:10 +0000 2019,Stephanie Liu #MDMC19,14903290,18115,0,3,RT @MLLNNLmotivator: @SMExaminer A1 Creating a...
799,799,Wed Apr 03 17:30:10 +0000 2019,Stephanie Liu #MDMC19,14903290,18115,0,3,RT @MLLNNLmotivator: @SMExaminer A1 Creating a...
899,899,Wed Apr 03 17:30:10 +0000 2019,Stephanie Liu #MDMC19,14903290,18115,0,3,RT @MLLNNLmotivator: @SMExaminer A1 Creating a...
999,999,Wed Apr 03 17:30:10 +0000 2019,Stephanie Liu #MDMC19,14903290,18115,0,3,RT @MLLNNLmotivator: @SMExaminer A1 Creating a...
1099,1099,Wed Apr 03 17:30:10 +0000 2019,Stephanie Liu #MDMC19,14903290,18115,0,3,RT @MLLNNLmotivator: @SMExaminer A1 Creating a...
1199,1199,Wed Apr 03 17:30:10 +0000 2019,Stephanie Liu #MDMC19,14903290,18115,0,3,RT @MLLNNLmotivator: @SMExaminer A1 Creating a...
1299,1299,Wed Apr 03 17:30:10 +0000 2019,Stephanie Liu #MDMC19,14903290,18115,0,3,RT @MLLNNLmotivator: @SMExaminer A1 Creating a...
1399,1399,Wed Apr 03 17:30:10 +0000 2019,Stephanie Liu #MDMC19,14903290,18115,0,3,RT @MLLNNLmotivator: @SMExaminer A1 Creating a...

In [18]:
# Drop Duplicates only for matching columns omitting the index
instagram_filtered_df = instagram_source_df.drop_duplicates(['Created At', 'Screen Name', 'User ID', 'User Follower Count', 'Likes Counts', 'ReTweet Count', 'Tweet Text']).sort_values(by=['User ID','Created At'], ascending=False)

In [19]:
instagram_filtered_df

,Unnamed: 0,Created At,Screen Name,User ID,User Follower Count,Likes Counts,ReTweet Count,Tweet Text
34,34,Wed Apr 03 17:41:38 +0000 2019,tamica demartino,1113492484968075265,0,0,549,RT @marcuslemonis: Join me on @instagram @marc...
1739,1739,Wed Apr 03 17:41:38 +0000 2019,tamica demartino,1113492484968075265,0,0,548,RT @marcuslemonis: Join me on @instagram @marc...
50,50,Wed Apr 03 17:37:58 +0000 2019,ricarda pease,1113492397659267072,0,0,549,RT @marcuslemonis: Join me on @instagram @marc...
4,4,Wed Apr 03 17:46:01 +0000 2019,rosella north,1113491398819569665,0,0,549,RT @marcuslemonis: Join me on @instagram @marc...
1709,1709,Wed Apr 03 17:46:01 +0000 2019,rosella north,1113491398819569665,0,0,548,RT @marcuslemonis: Join me on @instagram @marc...
26,26,Wed Apr 03 17:43:09 +0000 2019,senaida yajima,1113489772503130112,0,0,549,RT @marcuslemonis: Join me on @instagram @marc...
1731,1731,Wed Apr 03 17:43:09 +0000 2019,senaida yajima,1113489772503130112,0,0,548,RT @marcuslemonis: Join me on @instagram @marc...
2551,51,Wed Apr 03 22:16:53 +0000 2019,"Eastjavasurfcamp,Art&Culture",1113469862158905344,0,0,0,Contact number :\nWhastaap : +6281236192026\nE...
2100,2100,Wed Apr 03 17:48:40 +0000 2019,Iomlan Sunnd Therapies,1111590595288539136,18,0,0,"Iomlan Sunnd Therapies, now on @Twitter, @face..."
2517,17,Wed Apr 03 22:23:21 +0000 2019,Christina D üë®‚Äçüë©‚Äçüëßüåªüê∂,1100197005966655489,2802,0,17,RT @BriannaHigdon: Instagram follow trainüòç\n\n...
2544,44,Wed Apr 03 22:17:24 +0000 2019,ArtsForAllCork,1095344515425038342,151,0,1,"RT @Good_DayNews: Spreading #positivevibes of,..."
78,78,Wed Apr 03 17:33:30 +0000 2019,caribbeanvibe,1094772717549744130,9,0,0,@theroyaleditor @5_News @instagram @samburgess...
46,46,Wed Apr 03 17:39:05 +0000 2019,Pdizzleclips,1094491255751561216,16,1,0,Tsch√ºss @instagram bis in ein paar Wochen. @Pa...
2535,35,Wed Apr 03 22:19:34 +0000 2019,K2gr,1091452962818457600,7,1,0,#pizza #gr #mi #puremi #puremichigan #love #va...
1400,1400,Wed Apr 03 17:48:02 +0000 2019,bossome,1091434056313655296,10,0,0,@instagram i posted a picture of my food now l...
3,3,Wed Apr 03 17:46:06 +0000 2019,Silverlinings,1088936582609014784,18,0,0,@RichJC1001 @GWR @instagram She isnt trying to...
12,12,Wed Apr 03 17:44:55 +0000 2019,JGIB1978,1082928237674668034,1,0,0,@instagram please stop publishing French adds ...
54,54,Wed Apr 03 17:37:13 +0000 2019,Lele,1078380026519871489,89,0,0,@realwarriale @MATUIDIBlaise @instagram @repor...
2533,33,Wed Apr 03 22:20:15 +0000 2019,The Tell-Tale Heart Short Film,1078106544737157120,459,0,0,So @shudder just liked one of our photos!!! @t...
2526,26,Wed Apr 03 22:21:05 +0000 2019,skyler.global,1066610298742657024,24,0,1,Daily Quotes .\n.\n.\n#business #entrepreneur ...
2500,0,Wed Apr 03 22:27:09 +0000 2019,Karee‚ù§,1039543098991407105,79,0,12,RT @randygonzalez81: #3deAbril Ya Sigues A Mho...
2534,34,Wed Apr 03 22:19:45 +0000 2019,Joseph (JehDee) Disopa,1034326033984446464,301,0,1,700 days and I‚Äôm still stuck on you. @miriansm...
2561,61,Wed Apr 03 22:13:54 +0000 2019,„Å∑„Åæ,986468550662504448,84,0,7,RT @ramu_naruse: üîáüîáüîáüîáüîáüîáüîá\n\n„Ç™„Ç§„É©„ÅÆ„ÅÑ„Çì„Å°„ÇÖ„Åü‚∏ú( ‡•ëÍí≥ ‡•ë ...
2538,38,Wed Apr 03 22:19:12 +0000 2019,Vanessa Etim,985614510034694144,583,0,1,RT @Marco_Freitas96: There are no limits to wh...
88,88,Wed Apr 03 17:32:07 +0000 2019,tsc: USA,981926002979942403,365,3,0,@SMExaminer @instagram a3: like @JBugs10210 me...
2524,24,Wed Apr 03 22:21:53 +0000 2019,Sara Rue Updates,980531461139910657,153,0,1,#instagram || üì∏: via sararue || üí¨: ¬´ üíï Catch m...
2964,464,Wed Apr 03 22:28:36 +0000 2019,‚òÜüéπ A$TRX THA PRODUCER üéπ‚òÜ,978504986371022848,244,0,1,RT @RellGodly_: #Instagram RellGodly üîÜ Yktv ‚ÄºÔ∏è...
82,82,Wed Apr 03 17:32:39 +0000 2019,Gentle Reader,958406166861754370,14,0,532,RT @GWR: Congratulations to the Duke and Duche...
2542,42,Wed Apr 03 22:18:35 +0000 2019,üí´gÕûÕüÃ∏uÕûÕüÃ∏aÕûÕüÃ∏dÕûÕüÃ∏aÕûÕüÃ∏ üí´,953203189519736833,124,0,6,RT @OrianaNicole_SB: Abro hilo de #INSTAGRAM a...
2530,30,Wed Apr 03 22:20:40 +0000 2019,gabrielleleigha on Patreon,952863887283687425,1158,1,0,@instagram it would be helpful if someone coul...
...,...,...,...,...,...,...,...,...
1745,1745,Wed Apr 03 17:40:45 +0000 2019,Social Media Examiner,53925101,521137,6,1,THIS RIGHT HERE! Polls in @Instagram Stories c...
47,47,Wed Apr 03 17:38:39 +0000 2019,Social Media Examiner,53925101,521136,5,0,@KevinDArguello @instagram Love it! We can lea...
1349,1349,Wed Apr 03 17:38:39 +0000 2019,Social Media Examiner,53925101,521137,5,0,@KevinDArguello @instagram Love it! We can lea...
51,51,Wed Apr 03 17:37:50 +0000 2019,Social Media Examiner,53925101,521136,5,0,@iSocialFanz @StonehamPress @DewiEirig @instag...
1353,1353,Wed Apr 03 17:37:50 +0000 2019,Social Media Examiner,53925101,521137,5,0,@iSocialFanz @StonehamPress @DewiEirig @instag...
68,68,Wed Apr 03 17:35:03 +0000 2019,Social Media Examiner,53925101,521136,3,0,@DewiEirig @instagram Oh yes!! (love this GIF ...
1370,1370,Wed Apr 03 17:35:03 +0000 2019,Social Media Examiner,53925101,521137,3,0,@DewiEirig @instagram Oh yes!! (love this GIF ...
89,89,Wed Apr 03 17:32:04 +0000 2019,Social Media Examiner,53925101,521136,4,0,"@JBugs10210 @instagram That's a great idea, Jo..."
1391,1391,Wed Apr 03 17:32:04 +0000 2019,Social Media Examiner,53925101,521137,4,0,"@JBugs10210 @instagram That's a great idea, Jo..."
0,0,Wed Apr 03 17:46:57 +0000 2019,matilda urrea-berm.,52971889,10,0,0,@GWR @instagram Nice do you get a plaque?
93,93,Wed Apr 03 17:31:01 +0000 2019,Devon,46407684,84,0,0,@instagram can you help with a hacked account!?!
2557,57,Wed Apr 03 22:14:41 +0000 2019,AnnMarie Byrnes,38905431,807,0,8,"RT @phillyzoo: Good morning, Philly! ‚òÄÔ∏è We can..."
33,33,Wed Apr 03 17:41:48 +0000 2019,Claudia,33437279,4958,0,0,@NickeeGee21 @JessBWT @instagram @mosseri @Cox...
43,43,Wed Apr 03 17:39:36 +0000 2019,Melinda,33426753,34,0,0,@ThatDude_Jayy @instagram Ugh me neither! Or w...
444,444,Wed Apr 03 17:39:36 +0000 2019,Melinda,33426753,35,0,0,@ThatDude_Jayy @instagram Ugh me neither! Or w...
14,14,Wed Apr 03 17:44:44 +0000 2019,Tay Alejandro,29187560,595,0,0,@instagram @InstagramES take 9. my account has...
60,60,Wed Apr 03 17:35:55 +0000 2019,Bentley University,23678902,18158,2,0,@photosbycaro @SMExaminer @instagram Exactly! ...
70,70,Wed Apr 03 17:34:40 +0000 2019,Bentley University,23678902,18158,5,0,@B2the7 @SMExaminer @instagram Yes!\nThose are...
75,75,Wed Apr 03 17:34:06 +0000 2019,Bentley University,23678902,18158,2,0,@pritchett_dan @SMExaminer @instagram Indeed! ...
76,76,Wed Apr 03 17:33:49 +0000 2019,Bentley University,23678902,18158,2,0,@JBugs10210 @SMExaminer @instagram That's a gr...
39,39,Wed Apr 03 17:41:02 +0000 2019,Evaldas,19443302,258,0,1,RT @AbsoluteDMedia: News: You no longer have t...
24,24,Wed Apr 03 17:43:23 +0000 2019,Dewi Eirig Jones üè¥Û†ÅßÛ†Å¢Û†Å∑Û†Å¨Û†Å≥Û†Åø,19086504,4229,1,0,@SMExaminer @iSocialFanz @StonehamPress @insta...
59,59,Wed Apr 03 17:36:09 +0000 2019,Dewi Eirig Jones üè¥Û†ÅßÛ†Å¢Û†Å∑Û†Å¨Û†Å≥Û†Åø,19086504,4229,2,0,@StonehamPress @SMExaminer @instagram #smechat...
81,81,Wed Apr 03 17:32:53 +0000 2019,Dewi Eirig Jones üè¥Û†ÅßÛ†Å¢Û†Å∑Û†Å¨Û†Å≥Û†Åø,19086504,4229,6,0,@SMExaminer @instagram A3 I would create visua...
96,96,Wed Apr 03 17:30:22 +0000 2019,ScanMyPhotos üíñüì∏üéûtoüìÄ,18909605,11536,0,0,üö®üö®üö®üö®How to get your shoeboxes of pre-digital s...
86,86,Wed Apr 03 17:32:29 +0000 2019,Church Hill Classics,18220259,2242,0,0,So excited that @KylieJenner featured our cust...
2549,49,Wed Apr 03 22:17:00 +0000 2019,‚ô• Suzie ‚ô•,16630502,12771,0,0,"The Best Time to Post on #Instagram, #Facebook..."
2523,23,Wed Apr 03 22:21:59 +0000 2019,Endless Events,16425942,26105,0,0,Follow us on #Instagram at https://t.co/yIM22O...
28,28,Wed Apr 03 17:43:00 +0000 2019,Stephanie Liu #MDMC19,14903290,18115,0,2,RT @MLLNNLmotivator: @SMExaminer A2 This is a ...
97,97,Wed Apr 03 17:30:10 +0000 2019,Stephanie Liu #MDMC19,14903290,18115,0,3,RT @MLLNNLmotivator: @SMExaminer A1 Creating a...

In [20]:
# Get New Snap Shot Statistics
instagram_filtered_df.describe()

,Unnamed: 0,User ID,User Follower Count,Likes Counts,ReTweet Count
count,195.000000,1.950000e+02,195.000000,195.000000,195.000000
mean,198.220513,3.298307e+17,32555.861538,0.728205,38.148718
std,459.693912,4.576026e+17,120194.595519,1.496723,131.269077
min,0.000000,1.490329e+07,0.000000,0.000000,0.000000
25%,24.000000,1.317113e+08,107.000000,0.000000,0.000000
50%,48.000000,1.421939e+09,484.000000,0.000000,0.000000
75%,79.500000,8.768142e+17,3195.000000,1.000000,1.000000
max,2400.000000,1.113492e+18,521137.000000,6.000000,549.000000

In [21]:
# Count total out of Unique Tweets
instagram_total_tweets = len(instagram_filtered_df['Tweet Text'])
instagram_total_tweets

195

In [22]:
# Calculate Facebook Avg Followers - doesn't make sense to sum.
instagram_avg_followers_ct = instagram_filtered_df['User Follower Count'].mean()
instagram_avg_followers_ct

32555.861538461537

In [23]:
# Total Likes of all tweets
instagram_total_likes = instagram_filtered_df['Likes Counts'].sum()
#instagram_avg_likes = instagram_filtered_df['Likes Counts'].mean()
instagram_total_likes
#instagram_avg_likes

142

In [24]:
# Retweets Stats:
#instagram_sum_retweets = instagram_filtered_df['ReTweet Count'].sum()
instagram_avg_retweets = instagram_filtered_df['ReTweet Count'].mean()
#instagram_sum_retweets
instagram_avg_retweets

38.14871794871795

### Clash of Clans Calculations

In [25]:
plug = 'clashofclans'
path = f'./resources/{plug}'
all_files = glob.glob(path + "/*.csv")
li = []

for filename in all_files:
    df = pd.read_csv(filename, index_col=None, header=0)
    li.append(df)
coc_source_df = pd.concat(li, axis=0, ignore_index=True)
coc_source_df

# Snapshot Statistics
coc_source_df.describe()

,Unnamed: 0,User ID,User Follower Count,Likes Counts,ReTweet Count
count,8400.000000,8.400000e+03,8400.000000,8400.000000,8400.000000
mean,468.547619,6.174391e+17,1171.265119,0.532857,5.140357
std,448.828253,4.756433e+17,4200.926735,3.102429,20.483632
min,0.000000,2.006770e+07,0.000000,0.000000,0.000000
25%,161.000000,2.896023e+09,5.000000,0.000000,0.000000
50%,336.000000,8.235135e+17,62.000000,0.000000,0.000000
75%,571.000000,1.049737e+18,474.000000,0.000000,3.000000
max,1999.000000,1.113542e+18,38102.000000,50.000000,185.000000

In [26]:
coc_source_df.head()

,Unnamed: 0,Created At,Screen Name,User ID,User Follower Count,Likes Counts,ReTweet Count,Tweet Text
0,0,Wed Apr 03 23:11:19 +0000 2019,Jual Gems COC,2362332451,9249,0,0,Gems Clash of Clans Cheat Guide ##ClashOfClans
1,1,Wed Apr 03 23:03:09 +0000 2019,EliteWar CLUB ‚≠ê,947082753664868352,1460,0,0,Los mejores trucos para ganar en #ClashOfClans...
2,2,Wed Apr 03 22:52:05 +0000 2019,SNT ELITE,1061211720818003968,57,0,8,RT @CWCFR: Ne ratez pas Dimanche 7 avril de 16...
3,3,Wed Apr 03 22:43:40 +0000 2019,Juan Carlos,1112997949334851584,5,0,1,RT @JuanCar50259285: #ClashOfClans ‚ò†Ô∏è https://...
4,4,Wed Apr 03 22:43:18 +0000 2019,Juan Carlos,1112997949334851584,5,0,1,RT @JuanCar50259285: #ClashOfClansüòÅ https://t....

In [27]:
# Sort to set up removal of duplicates
coc_source_df.sort_values(by=['User ID','Created At'], ascending=False)

,Unnamed: 0,Created At,Screen Name,User ID,User Follower Count,Likes Counts,ReTweet Count,Tweet Text
239,39,Wed Apr 03 20:49:28 +0000 2019,Aaron,1113541776596504578,0,0,0,@ClashofClans Can we have the old animations b...
339,139,Wed Apr 03 20:49:28 +0000 2019,Aaron,1113541776596504578,0,0,0,@ClashofClans Can we have the old animations b...
439,239,Wed Apr 03 20:49:28 +0000 2019,Aaron,1113541776596504578,0,0,0,@ClashofClans Can we have the old animations b...
1038,38,Wed Apr 03 20:49:28 +0000 2019,Aaron,1113541776596504578,0,0,0,@ClashofClans Can we have the old animations b...
1138,138,Wed Apr 03 20:49:28 +0000 2019,Aaron,1113541776596504578,0,0,0,@ClashofClans Can we have the old animations b...
1238,238,Wed Apr 03 20:49:28 +0000 2019,Aaron,1113541776596504578,0,0,0,@ClashofClans Can we have the old animations b...
1338,338,Wed Apr 03 20:49:28 +0000 2019,Aaron,1113541776596504578,0,0,0,@ClashofClans Can we have the old animations b...
2538,38,Wed Apr 03 20:49:28 +0000 2019,Aaron,1113541776596504578,0,0,0,@ClashofClans Can we have the old animations b...
2638,138,Wed Apr 03 20:49:28 +0000 2019,Aaron,1113541776596504578,0,0,0,@ClashofClans Can we have the old animations b...
2738,238,Wed Apr 03 20:49:28 +0000 2019,Aaron,1113541776596504578,0,0,0,@ClashofClans Can we have the old animations b...
2838,338,Wed Apr 03 20:49:28 +0000 2019,Aaron,1113541776596504578,0,0,0,@ClashofClans Can we have the old animations b...
2938,438,Wed Apr 03 20:49:28 +0000 2019,Aaron,1113541776596504578,0,0,0,@ClashofClans Can we have the old animations b...
3038,538,Wed Apr 03 20:49:28 +0000 2019,Aaron,1113541776596504578,0,0,0,@ClashofClans Can we have the old animations b...
3138,38,Wed Apr 03 20:49:28 +0000 2019,Aaron,1113541776596504578,0,0,0,@ClashofClans Can we have the old animations b...
3238,138,Wed Apr 03 20:49:28 +0000 2019,Aaron,1113541776596504578,0,0,0,@ClashofClans Can we have the old animations b...
3338,238,Wed Apr 03 20:49:28 +0000 2019,Aaron,1113541776596504578,0,0,0,@ClashofClans Can we have the old animations b...
3438,338,Wed Apr 03 20:49:28 +0000 2019,Aaron,1113541776596504578,0,0,0,@ClashofClans Can we have the old animations b...
3538,438,Wed Apr 03 20:49:28 +0000 2019,Aaron,1113541776596504578,0,0,0,@ClashofClans Can we have the old animations b...
3638,538,Wed Apr 03 20:49:28 +0000 2019,Aaron,1113541776596504578,0,0,0,@ClashofClans Can we have the old animations b...
4312,12,Wed Apr 03 16:52:08 +0000 2019,BalveerSingh,1113440785465270274,0,0,0,@SumitmMallabade @Swapnil3005 @FighterPune @Cl...
4412,112,Wed Apr 03 16:52:08 +0000 2019,BalveerSingh,1113440785465270274,0,0,0,@SumitmMallabade @Swapnil3005 @FighterPune @Cl...
4512,212,Wed Apr 03 16:52:08 +0000 2019,BalveerSingh,1113440785465270274,0,0,0,@SumitmMallabade @Swapnil3005 @FighterPune @Cl...
4612,312,Wed Apr 03 16:52:08 +0000 2019,BalveerSingh,1113440785465270274,0,0,0,@SumitmMallabade @Swapnil3005 @FighterPune @Cl...
4712,412,Wed Apr 03 16:52:08 +0000 2019,BalveerSingh,1113440785465270274,0,0,0,@SumitmMallabade @Swapnil3005 @FighterPune @Cl...
4812,512,Wed Apr 03 16:52:08 +0000 2019,BalveerSingh,1113440785465270274,0,0,0,@SumitmMallabade @Swapnil3005 @FighterPune @Cl...
4912,612,Wed Apr 03 16:52:08 +0000 2019,BalveerSingh,1113440785465270274,0,0,0,@SumitmMallabade @Swapnil3005 @FighterPune @Cl...
5012,712,Wed Apr 03 16:52:08 +0000 2019,BalveerSingh,1113440785465270274,0,0,0,@SumitmMallabade @Swapnil3005 @FighterPune @Cl...
5112,812,Wed Apr 03 16:52:08 +0000 2019,BalveerSingh,1113440785465270274,0,0,0,@SumitmMallabade @Swapnil3005 @FighterPune @Cl...
5212,912,Wed Apr 03 16:52:08 +0000 2019,BalveerSingh,1113440785465270274,0,0,0,@SumitmMallabade @Swapnil3005 @FighterPune @Cl...
5312,1012,Wed Apr 03 16:52:08 +0000 2019,BalveerSingh,1113440785465270274,0,0,0,@SumitmMallabade @Swapnil3005 @FighterPune @Cl...
...,...,...,...,...,...,...,...,...
5388,1088,Wed Apr 03 13:06:50 +0000 2019,Jennifer Jones,23486408,245,0,0,@ClashofClans I don‚Äôt mind the $5 but make it ...
5488,1188,Wed Apr 03 13:06:50 +0000 2019,Jennifer Jones,23486408,245,0,0,@ClashofClans I don‚Äôt mind the $5 but make it ...
5588,1288,Wed Apr 03 13:06:50 +0000 2019,Jennifer Jones,23486408,245,0,0,@ClashofClans I don‚Äôt mind the $5 but make it ...
5688,1388,Wed Apr 03 13:06:50 +0000 2019,Jennifer Jones,23486408,245,0,0,@ClashofClans I don‚Äôt mind the $5 but make it ...
5788,1488,Wed Apr 03 13:06:50 +0000 2019,Jennifer Jones,23486408,245,0,0,@ClashofClans I don‚Äôt mind the $5 but make it ...
5888,1588,Wed Apr 03 13:06:50 +0000 2019,Jennifer Jones,23486408,245,0,0,@ClashofClans I don‚Äôt mind the $5 but make it ...
5988,1688,Wed Apr 03 13:06:50 +0000 2019,Jennifer Jones,23486408,245,0,0,@ClashofClans I don‚Äôt mind the $5 but make it ...
6088,1788,Wed Apr 03 13:06:50 +0000 2019,Jennifer Jones,23486408,245,0,0,@ClashofClans I don‚Äôt mind the $5 but make it ...
6188,1888,Wed Apr 03 13:06:50 +0000 2019,Jennifer Jones,23486408,245,0,0,@ClashofClans I don‚Äôt mind the $5 but make it ...
6288,1988,Wed Apr 03 13:06:50 +0000 2019,Jennifer Jones,23486408,245,0,0,@ClashofClans I don‚Äôt mind the $5 but make it ...
4340,40,Wed Apr 03 15:09:23 +0000 2019,Casey Goode,20067696,1,0,0,@ClashofClans It wasn't mentioned in the updat...
4440,140,Wed Apr 03 15:09:23 +0000 2019,Casey Goode,20067696,1,0,0,@ClashofClans It wasn't mentioned in the updat...
4540,240,Wed Apr 03 15:09:23 +0000 2019,Casey Goode,20067696,1,0,0,@ClashofClans It wasn't mentioned in the updat...
4640,340,Wed Apr 03 15:09:23 +0000 2019,Casey Goode,20067696,1,0,0,@ClashofClans It wasn't mentioned in the updat...
4740,440,Wed Apr 03 15:09:23 +0000 2019,Casey Goode,20067696,1,0,0,@ClashofClans It wasn't mentioned in the updat...
4840,540,Wed Apr 03 15:09:23 +0000 2019,Casey Goode,20067696,1,0,0,@ClashofClans It wasn't mentioned in the updat...
4940,640,Wed Apr 03 15:09:23 +0000 2019,Casey Goode,20067696,1,0,0,@ClashofClans It wasn't mentioned in the updat...
5040,740,Wed Apr 03 15:09:23 +0000 2019,Casey Goode,20067696,1,0,0,@ClashofClans It wasn't mentioned in the updat...
5140,840,Wed Apr 03 15:09:23 +0000 2019,Casey Goode,20067696,1,0,0,@ClashofClans It wasn't mentioned in the updat...
5240,940,Wed Apr 03 15:09:23 +0000 2019,Casey Goode,20067696,1,0,0,@ClashofClans It wasn't mentioned in the updat...
5340,1040,Wed Apr 03 15:09:23 +0000 2019,Casey Goode,20067696,1,0,0,@ClashofClans It wasn't mentioned in the updat...
5440,1140,Wed Apr 03 15:09:23 +0000 2019,Casey Goode,20067696,1,0,0,@ClashofClans It wasn't mentioned in the updat...
5540,1240,Wed Apr 03 15:09:23 +0000 2019,Casey Goode,20067696,1,0,0,@ClashofClans It wasn't mentioned in the updat...
5640,1340,Wed Apr 03 15:09:23 +0000 2019,Casey Goode,20067696,1,0,0,@ClashofClans It wasn't mentioned in the updat...
5740,1440,Wed Apr 03 15:09:23 +0000 2019,Casey Goode,20067696,1,0,0,@ClashofClans It wasn't mentioned in the updat...
5840,1540,Wed Apr 03 15:09:23 +0000 2019,Casey Goode,20067696,1,0,0,@ClashofClans It wasn't mentioned in the updat...
5940,1640,Wed Apr 03 15:09:23 +0000 2019,Casey Goode,20067696,1,0,0,@ClashofClans It wasn't mentioned in the updat...
6040,1740,Wed Apr 03 15:09:23 +0000 2019,Casey Goode,20067696,1,0,0,@ClashofClans It wasn't mentioned in the updat...
6140,1840,Wed Apr 03 15:09:23 +0000 2019,Casey Goode,20067696,1,0,0,@ClashofClans It wasn't mentioned in the updat...
6240,1940,Wed Apr 03 15:09:23 +0000 2019,Casey Goode,20067696,1,0,0,@ClashofClans It wasn't mentioned in the updat...

In [28]:
# Drop Duplicates only for matching columns omitting the index
coc_filtered_df = coc_source_df.drop_duplicates(['Created At', 'Screen Name', 'User ID', 'User Follower Count', 'Likes Counts', 'ReTweet Count', 'Tweet Text']).sort_values(by=['User ID','Created At'], ascending=False)

In [29]:
coc_filtered_df.head()

,Unnamed: 0,Created At,Screen Name,User ID,User Follower Count,Likes Counts,ReTweet Count,Tweet Text
239,39,Wed Apr 03 20:49:28 +0000 2019,Aaron,1113541776596504578,0,0,0,@ClashofClans Can we have the old animations b...
4312,12,Wed Apr 03 16:52:08 +0000 2019,BalveerSingh,1113440785465270274,0,0,0,@SumitmMallabade @Swapnil3005 @FighterPune @Cl...
4367,67,Wed Apr 03 14:03:12 +0000 2019,BalveerSingh,1113440785465270274,0,0,0,@ClashofClans Hey supercell my game is not wor...
4362,62,Wed Apr 03 14:13:31 +0000 2019,Md alom hossain,1113090731407663104,0,0,0,@ClashofClans
77,77,Wed Apr 03 14:39:07 +0000 2019,Masterchief1425,1113049117058613248,18,0,1,RT @GaintrainE: MINERS MUNCH! Not the best pla...

In [30]:
# Get New Snap Shot Statistics
coc_filtered_df.describe()

,Unnamed: 0,User ID,User Follower Count,Likes Counts,ReTweet Count
count,433.000000,4.330000e+02,433.000000,433.000000,433.000000
mean,60.233256,6.196379e+17,1053.845266,0.438799,5.247113
std,78.058404,4.777695e+17,3818.749669,2.738878,21.235047
min,0.000000,2.006770e+07,0.000000,0.000000,0.000000
25%,24.000000,2.847741e+09,3.000000,0.000000,0.000000
50%,51.000000,8.294716e+17,55.000000,0.000000,0.000000
75%,78.000000,1.058148e+18,387.000000,0.000000,1.000000
max,800.000000,1.113542e+18,38102.000000,50.000000,185.000000

In [31]:
# Count total out of Unique Tweets
coc_total_tweets = len(coc_filtered_df['Tweet Text'])
coc_total_tweets

433

In [32]:
# Calculate Facebook Avg Followers - doesn't make sense to sum.
coc_avg_followers_ct = coc_filtered_df['User Follower Count'].mean()
coc_avg_followers_ct

1053.8452655889146

In [33]:
# Total Likes of all tweets
coc_total_likes = coc_filtered_df['Likes Counts'].sum()
#coc_avg_likes = coc_filtered_df['Likes Counts'].mean()
coc_total_likes
#coc_avg_likes

190

In [34]:
# Retweets Stats:
#coc_sum_retweets = coc_filtered_df['ReTweet Count'].sum()
coc_avg_retweets = coc_filtered_df['ReTweet Count'].mean()
#coc_sum_retweets
coc_avg_retweets

5.247113163972286

### Temple Run Calculations

In [35]:
plug = 'templerun'
path = f'./resources/{plug}'
all_files = glob.glob(path + "/*.csv")
li = []
for filename in all_files:
    df = pd.read_csv(filename, index_col=None, header=0)
    li.append(df)
templerun_source_df = pd.concat(li, axis=0, ignore_index=True)
templerun_source_df

# Snapshot Statistics
templerun_source_df.describe()

,Unnamed: 0,User ID,User Follower Count,Likes Counts,ReTweet Count
count,2010.000000,2.010000e+03,2010.000000,2010.000000,2010.000000
mean,623.902985,2.022660e+17,809.317910,1.208955,0.417910
std,438.082537,3.908188e+17,2146.415619,1.724164,1.085897
min,0.000000,1.533084e+07,1.000000,0.000000,0.000000
25%,251.000000,2.473068e+08,33.000000,0.000000,0.000000
50%,502.000000,1.735789e+09,120.000000,1.000000,0.000000
75%,996.750000,3.070339e+09,389.000000,2.000000,0.000000
max,1499.000000,1.110605e+18,13380.000000,9.000000,9.000000

In [36]:
#templerun_source_df.head()

In [37]:
# Sort to set up removal of duplicates
templerun_source_df.sort_values(by=['User ID','Created At'], ascending=False)

,Unnamed: 0,Created At,Screen Name,User ID,User Follower Count,Likes Counts,ReTweet Count,Tweet Text
1540,40,Tue Mar 26 18:15:05 +0000 2019,Alisa Bressler,1110605123892305920,5,2,0,Just jumped off a cliff #templerun
1591,91,Tue Mar 26 18:15:05 +0000 2019,Alisa Bressler,1110605123892305920,5,2,0,Just jumped off a cliff #templerun
1642,142,Tue Mar 26 18:15:05 +0000 2019,Alisa Bressler,1110605123892305920,5,2,0,Just jumped off a cliff #templerun
1693,193,Tue Mar 26 18:15:05 +0000 2019,Alisa Bressler,1110605123892305920,5,2,0,Just jumped off a cliff #templerun
1744,244,Tue Mar 26 18:15:05 +0000 2019,Alisa Bressler,1110605123892305920,5,2,0,Just jumped off a cliff #templerun
1795,295,Tue Mar 26 18:15:05 +0000 2019,Alisa Bressler,1110605123892305920,5,2,0,Just jumped off a cliff #templerun
1846,346,Tue Mar 26 18:15:05 +0000 2019,Alisa Bressler,1110605123892305920,5,2,0,Just jumped off a cliff #templerun
1897,397,Tue Mar 26 18:15:05 +0000 2019,Alisa Bressler,1110605123892305920,5,2,0,Just jumped off a cliff #templerun
1948,448,Tue Mar 26 18:15:05 +0000 2019,Alisa Bressler,1110605123892305920,5,2,0,Just jumped off a cliff #templerun
1999,499,Tue Mar 26 18:15:05 +0000 2019,Alisa Bressler,1110605123892305920,5,2,0,Just jumped off a cliff #templerun
1521,21,Fri Mar 29 16:36:50 +0000 2019,ChoWkidar Ajay Sinha,1107328525139410949,16,0,2,RT @VikasAdvocat: @BJP4India @AmitShah Opposit...
1572,72,Fri Mar 29 16:36:50 +0000 2019,ChoWkidar Ajay Sinha,1107328525139410949,16,0,2,RT @VikasAdvocat: @BJP4India @AmitShah Opposit...
1623,123,Fri Mar 29 16:36:50 +0000 2019,ChoWkidar Ajay Sinha,1107328525139410949,16,0,2,RT @VikasAdvocat: @BJP4India @AmitShah Opposit...
1674,174,Fri Mar 29 16:36:50 +0000 2019,ChoWkidar Ajay Sinha,1107328525139410949,16,0,2,RT @VikasAdvocat: @BJP4India @AmitShah Opposit...
1725,225,Fri Mar 29 16:36:50 +0000 2019,ChoWkidar Ajay Sinha,1107328525139410949,16,0,2,RT @VikasAdvocat: @BJP4India @AmitShah Opposit...
1776,276,Fri Mar 29 16:36:50 +0000 2019,ChoWkidar Ajay Sinha,1107328525139410949,16,0,2,RT @VikasAdvocat: @BJP4India @AmitShah Opposit...
1827,327,Fri Mar 29 16:36:50 +0000 2019,ChoWkidar Ajay Sinha,1107328525139410949,16,0,2,RT @VikasAdvocat: @BJP4India @AmitShah Opposit...
1878,378,Fri Mar 29 16:36:50 +0000 2019,ChoWkidar Ajay Sinha,1107328525139410949,16,0,2,RT @VikasAdvocat: @BJP4India @AmitShah Opposit...
1929,429,Fri Mar 29 16:36:50 +0000 2019,ChoWkidar Ajay Sinha,1107328525139410949,16,0,2,RT @VikasAdvocat: @BJP4India @AmitShah Opposit...
1980,480,Fri Mar 29 16:36:50 +0000 2019,ChoWkidar Ajay Sinha,1107328525139410949,16,0,2,RT @VikasAdvocat: @BJP4India @AmitShah Opposit...
1513,13,Sun Mar 31 14:26:47 +0000 2019,Chowkidar Amit Sharma,1105004954748682240,32,7,0,@myogiadityanath @RahulGandhi @priyankagandhi ...
1564,64,Sun Mar 31 14:26:47 +0000 2019,Chowkidar Amit Sharma,1105004954748682240,32,7,0,@myogiadityanath @RahulGandhi @priyankagandhi ...
1615,115,Sun Mar 31 14:26:47 +0000 2019,Chowkidar Amit Sharma,1105004954748682240,32,7,0,@myogiadityanath @RahulGandhi @priyankagandhi ...
1666,166,Sun Mar 31 14:26:47 +0000 2019,Chowkidar Amit Sharma,1105004954748682240,32,7,0,@myogiadityanath @RahulGandhi @priyankagandhi ...
1717,217,Sun Mar 31 14:26:47 +0000 2019,Chowkidar Amit Sharma,1105004954748682240,32,7,0,@myogiadityanath @RahulGandhi @priyankagandhi ...
1768,268,Sun Mar 31 14:26:47 +0000 2019,Chowkidar Amit Sharma,1105004954748682240,32,7,0,@myogiadityanath @RahulGandhi @priyankagandhi ...
1819,319,Sun Mar 31 14:26:47 +0000 2019,Chowkidar Amit Sharma,1105004954748682240,32,7,0,@myogiadityanath @RahulGandhi @priyankagandhi ...
1870,370,Sun Mar 31 14:26:47 +0000 2019,Chowkidar Amit Sharma,1105004954748682240,32,7,0,@myogiadityanath @RahulGandhi @priyankagandhi ...
1921,421,Sun Mar 31 14:26:47 +0000 2019,Chowkidar Amit Sharma,1105004954748682240,32,7,0,@myogiadityanath @RahulGandhi @priyankagandhi ...
1972,472,Sun Mar 31 14:26:47 +0000 2019,Chowkidar Amit Sharma,1105004954748682240,32,7,0,@myogiadityanath @RahulGandhi @priyankagandhi ...
...,...,...,...,...,...,...,...,...
1531,31,Thu Mar 28 14:32:30 +0000 2019,hathor2,16427547,1146,0,0,Day four...perfect day for a walk and finding ...
1582,82,Thu Mar 28 14:32:30 +0000 2019,hathor2,16427547,1146,0,0,Day four...perfect day for a walk and finding ...
1633,133,Thu Mar 28 14:32:30 +0000 2019,hathor2,16427547,1146,0,0,Day four...perfect day for a walk and finding ...
1684,184,Thu Mar 28 14:32:30 +0000 2019,hathor2,16427547,1146,0,0,Day four...perfect day for a walk and finding ...
1735,235,Thu Mar 28 14:32:30 +0000 2019,hathor2,16427547,1146,0,0,Day four...perfect day for a walk and finding ...
1786,286,Thu Mar 28 14:32:30 +0000 2019,hathor2,16427547,1146,0,0,Day four...perfect day for a walk and finding ...
1837,337,Thu Mar 28 14:32:30 +0000 2019,hathor2,16427547,1146,0,0,Day four...perfect day for a walk and finding ...
1888,388,Thu Mar 28 14:32:30 +0000 2019,hathor2,16427547,1146,0,0,Day four...perfect day for a walk and finding ...
1939,439,Thu Mar 28 14:32:30 +0000 2019,hathor2,16427547,1146,0,0,Day four...perfect day for a walk and finding ...
1990,490,Thu Mar 28 14:32:30 +0000 2019,hathor2,16427547,1146,0,0,Day four...perfect day for a walk and finding ...
1506,6,Mon Apr 01 08:52:02 +0000 2019,‚ùÑ‡§ö‡•å‡§ï‡•Ä‡§¶‡§æ‡§∞ ‡§Ö‡§Æ‡•ç‡§∞‡§ø‡§§‡§∞‡§æ‡§ú ‡≤Ö‡≤Æ‡≥ç‡≤∞‡≤ø‡≤§‡≥ç ‡≤∞‡≤æ‡≤ú‡≥ç‚ùÑ,15340813,441,0,0,Mumbai kiski hai ? Congress ki....No wait this...
1557,57,Mon Apr 01 08:52:02 +0000 2019,‚ùÑ‡§ö‡•å‡§ï‡•Ä‡§¶‡§æ‡§∞ ‡§Ö‡§Æ‡•ç‡§∞‡§ø‡§§‡§∞‡§æ‡§ú ‡≤Ö‡≤Æ‡≥ç‡≤∞‡≤ø‡≤§‡≥ç ‡≤∞‡≤æ‡≤ú‡≥ç‚ùÑ,15340813,441,0,0,Mumbai kiski hai ? Congress ki....No wait this...
1608,108,Mon Apr 01 08:52:02 +0000 2019,‚ùÑ‡§ö‡•å‡§ï‡•Ä‡§¶‡§æ‡§∞ ‡§Ö‡§Æ‡•ç‡§∞‡§ø‡§§‡§∞‡§æ‡§ú ‡≤Ö‡≤Æ‡≥ç‡≤∞‡≤ø‡≤§‡≥ç ‡≤∞‡≤æ‡≤ú‡≥ç‚ùÑ,15340813,441,0,0,Mumbai kiski hai ? Congress ki....No wait this...
1659,159,Mon Apr 01 08:52:02 +0000 2019,‚ùÑ‡§ö‡•å‡§ï‡•Ä‡§¶‡§æ‡§∞ ‡§Ö‡§Æ‡•ç‡§∞‡§ø‡§§‡§∞‡§æ‡§ú ‡≤Ö‡≤Æ‡≥ç‡≤∞‡≤ø‡≤§‡≥ç ‡≤∞‡≤æ‡≤ú‡≥ç‚ùÑ,15340813,441,0,0,Mumbai kiski hai ? Congress ki....No wait this...
1710,210,Mon Apr 01 08:52:02 +0000 2019,‚ùÑ‡§ö‡•å‡§ï‡•Ä‡§¶‡§æ‡§∞ ‡§Ö‡§Æ‡•ç‡§∞‡§ø‡§§‡§∞‡§æ‡§ú ‡≤Ö‡≤Æ‡≥ç‡≤∞‡≤ø‡≤§‡≥ç ‡≤∞‡≤æ‡≤ú‡≥ç‚ùÑ,15340813,441,0,0,Mumbai kiski hai ? Congress ki....No wait this...
1761,261,Mon Apr 01 08:52:02 +0000 2019,‚ùÑ‡§ö‡•å‡§ï‡•Ä‡§¶‡§æ‡§∞ ‡§Ö‡§Æ‡•ç‡§∞‡§ø‡§§‡§∞‡§æ‡§ú ‡≤Ö‡≤Æ‡≥ç‡≤∞‡≤ø‡≤§‡≥ç ‡≤∞‡≤æ‡≤ú‡≥ç‚ùÑ,15340813,441,0,0,Mumbai kiski hai ? Congress ki....No wait this...
1812,312,Mon Apr 01 08:52:02 +0000 2019,‚ùÑ‡§ö‡•å‡§ï‡•Ä‡§¶‡§æ‡§∞ ‡§Ö‡§Æ‡•ç‡§∞‡§ø‡§§‡§∞‡§æ‡§ú ‡≤Ö‡≤Æ‡≥ç‡≤∞‡≤ø‡≤§‡≥ç ‡≤∞‡≤æ‡≤ú‡≥ç‚ùÑ,15340813,441,0,0,Mumbai kiski hai ? Congress ki....No wait this...
1863,363,Mon Apr 01 08:52:02 +0000 2019,‚ùÑ‡§ö‡•å‡§ï‡•Ä‡§¶‡§æ‡§∞ ‡§Ö‡§Æ‡•ç‡§∞‡§ø‡§§‡§∞‡§æ‡§ú ‡≤Ö‡≤Æ‡≥ç‡≤∞‡≤ø‡≤§‡≥ç ‡≤∞‡≤æ‡≤ú‡≥ç‚ùÑ,15340813,441,0,0,Mumbai kiski hai ? Congress ki....No wait this...
1914,414,Mon Apr 01 08:52:02 +0000 2019,‚ùÑ‡§ö‡•å‡§ï‡•Ä‡§¶‡§æ‡§∞ ‡§Ö‡§Æ‡•ç‡§∞‡§ø‡§§‡§∞‡§æ‡§ú ‡≤Ö‡≤Æ‡≥ç‡≤∞‡≤ø‡≤§‡≥ç ‡≤∞‡≤æ‡≤ú‡≥ç‚ùÑ,15340813,441,0,0,Mumbai kiski hai ? Congress ki....No wait this...
1965,465,Mon Apr 01 08:52:02 +0000 2019,‚ùÑ‡§ö‡•å‡§ï‡•Ä‡§¶‡§æ‡§∞ ‡§Ö‡§Æ‡•ç‡§∞‡§ø‡§§‡§∞‡§æ‡§ú ‡≤Ö‡≤Æ‡≥ç‡≤∞‡≤ø‡≤§‡≥ç ‡≤∞‡≤æ‡≤ú‡≥ç‚ùÑ,15340813,441,0,0,Mumbai kiski hai ? Congress ki....No wait this...
1526,26,Fri Mar 29 12:52:20 +0000 2019,#FeildingForTrsChevellaMP Vundyala Phani S Reddy,15330845,1024,0,0,@VishnuThejPutta @ItsActorNaresh @actor_nithii...
1577,77,Fri Mar 29 12:52:20 +0000 2019,#FeildingForTrsChevellaMP Vundyala Phani S Reddy,15330845,1024,0,0,@VishnuThejPutta @ItsActorNaresh @actor_nithii...
1628,128,Fri Mar 29 12:52:20 +0000 2019,#FeildingForTrsChevellaMP Vundyala Phani S Reddy,15330845,1024,0,0,@VishnuThejPutta @ItsActorNaresh @actor_nithii...
1679,179,Fri Mar 29 12:52:20 +0000 2019,#FeildingForTrsChevellaMP Vundyala Phani S Reddy,15330845,1024,0,0,@VishnuThejPutta @ItsActorNaresh @actor_nithii...
1730,230,Fri Mar 29 12:52:20 +0000 2019,#FeildingForTrsChevellaMP Vundyala Phani S Reddy,15330845,1024,0,0,@VishnuThejPutta @ItsActorNaresh @actor_nithii...
1781,281,Fri Mar 29 12:52:20 +0000 2019,#FeildingForTrsChevellaMP Vundyala Phani S Reddy,15330845,1024,0,0,@VishnuThejPutta @ItsActorNaresh @actor_nithii...
1832,332,Fri Mar 29 12:52:20 +0000 2019,#FeildingForTrsChevellaMP Vundyala Phani S Reddy,15330845,1024,0,0,@VishnuThejPutta @ItsActorNaresh @actor_nithii...
1883,383,Fri Mar 29 12:52:20 +0000 2019,#FeildingForTrsChevellaMP Vundyala Phani S Reddy,15330845,1024,0,0,@VishnuThejPutta @ItsActorNaresh @actor_nithii...
1934,434,Fri Mar 29 12:52:20 +0000 2019,#FeildingForTrsChevellaMP Vundyala Phani S Reddy,15330845,1024,0,0,@VishnuThejPutta @ItsActorNaresh @actor_nithii...
1985,485,Fri Mar 29 12:52:20 +0000 2019,#FeildingForTrsChevellaMP Vundyala Phani S Reddy,15330845,1024,0,0,@VishnuThejPutta @ItsActorNaresh @actor_nithii...

In [38]:
# Drop Duplicates only for matching columns omitting the index
templerun_filtered_df = templerun_source_df.drop_duplicates(['Created At', 'Screen Name', 'User ID', 'User Follower Count', 'Likes Counts', 'ReTweet Count', 'Tweet Text']).sort_values(by=['User ID','Created At'], ascending=False)

In [39]:
#templerun_filtered_df

In [40]:
#templerun_filtered_df.describe()

In [41]:
# Count total out of Unique Tweets
templerun_total_tweets = len(templerun_filtered_df['Tweet Text'])
templerun_total_tweets

75

In [42]:
# Calculate Facebook Avg Followers - doesn't make sense to sum.
templerun_avg_followers_ct = templerun_filtered_df['User Follower Count'].mean()
templerun_avg_followers_ct

1226.7466666666667

In [43]:
# Total Likes of all tweets
templerun_total_likes = templerun_filtered_df['Likes Counts'].sum()
#templerun_avg_likes = templerun_filtered_df['Likes Counts'].mean()
templerun_total_likes
#instagram_avg_likes

76

In [44]:
# Retweets Stats:
#templerun_sum_retweets = templerun_filtered_df['ReTweet Count'].sum()
templerun_avg_retweets = templerun_filtered_df['ReTweet Count'].mean()
#templerun_sum_retweets
templerun_avg_retweets

0.5066666666666667

In [45]:
templerun_total_tweets
templerun_avg_retweets
templerun_avg_followers_ct
templerun_total_likes

76

### Pandora Calculations

In [47]:
plug = 'pandora'
path = f'./resources/{plug}'
all_files = glob.glob(path + "/*.csv")
li = []
for filename in all_files:
    df = pd.read_csv(filename, index_col=None, header=0)
    li.append(df)
pandora_source_df = pd.concat(li, axis=0, ignore_index=True)

# Snapshot Statistics
pandora_source_df.describe()

,Unnamed: 0,User ID,User Follower Count,Likes Counts,ReTweet Count
count,6560.000000,6.560000e+03,6560.000000,6560.000000,6560.000000
mean,1264.865854,3.041765e+17,2375.887805,1.018598,8.773780
std,821.463600,4.604249e+17,5107.187393,2.084937,75.916851
min,0.000000,7.765022e+06,0.000000,0.000000,0.000000
25%,546.000000,5.344516e+07,105.000000,0.000000,0.000000
50%,1159.500000,7.016621e+08,550.000000,0.000000,0.000000
75%,1979.250000,8.475618e+17,1826.000000,1.000000,1.000000
max,2799.000000,1.112761e+18,49819.000000,17.000000,824.000000

In [48]:
#pandora_source_df.head()

In [49]:
# Sort to set up removal of duplicates
pandora_source_df.sort_values(by=['User ID','Created At'], ascending=False)

,Unnamed: 0,Created At,Screen Name,User ID,User Follower Count,Likes Counts,ReTweet Count,Tweet Text
78,78,Mon Apr 01 21:39:42 +0000 2019,Sabrina Carpenter,1.112761e+18,0,0,824,"RT @SabrinaAnnLynn: ""Sue Me"" is now on @Pandor..."
178,178,Mon Apr 01 21:39:42 +0000 2019,Sabrina Carpenter,1.112761e+18,0,0,824,"RT @SabrinaAnnLynn: ""Sue Me"" is now on @Pandor..."
278,278,Mon Apr 01 21:39:42 +0000 2019,Sabrina Carpenter,1.112761e+18,0,0,824,"RT @SabrinaAnnLynn: ""Sue Me"" is now on @Pandor..."
378,378,Mon Apr 01 21:39:42 +0000 2019,Sabrina Carpenter,1.112761e+18,0,0,824,"RT @SabrinaAnnLynn: ""Sue Me"" is now on @Pandor..."
478,478,Mon Apr 01 21:39:42 +0000 2019,Sabrina Carpenter,1.112761e+18,0,0,824,"RT @SabrinaAnnLynn: ""Sue Me"" is now on @Pandor..."
578,578,Mon Apr 01 21:39:42 +0000 2019,Sabrina Carpenter,1.112761e+18,0,0,824,"RT @SabrinaAnnLynn: ""Sue Me"" is now on @Pandor..."
678,678,Mon Apr 01 21:39:42 +0000 2019,Sabrina Carpenter,1.112761e+18,0,0,824,"RT @SabrinaAnnLynn: ""Sue Me"" is now on @Pandor..."
778,778,Mon Apr 01 21:39:42 +0000 2019,Sabrina Carpenter,1.112761e+18,0,0,824,"RT @SabrinaAnnLynn: ""Sue Me"" is now on @Pandor..."
878,878,Mon Apr 01 21:39:42 +0000 2019,Sabrina Carpenter,1.112761e+18,0,0,824,"RT @SabrinaAnnLynn: ""Sue Me"" is now on @Pandor..."
978,978,Mon Apr 01 21:39:42 +0000 2019,Sabrina Carpenter,1.112761e+18,0,0,824,"RT @SabrinaAnnLynn: ""Sue Me"" is now on @Pandor..."
1078,1078,Mon Apr 01 21:39:42 +0000 2019,Sabrina Carpenter,1.112761e+18,0,0,824,"RT @SabrinaAnnLynn: ""Sue Me"" is now on @Pandor..."
1178,1178,Mon Apr 01 21:39:42 +0000 2019,Sabrina Carpenter,1.112761e+18,0,0,824,"RT @SabrinaAnnLynn: ""Sue Me"" is now on @Pandor..."
1278,1278,Mon Apr 01 21:39:42 +0000 2019,Sabrina Carpenter,1.112761e+18,0,0,824,"RT @SabrinaAnnLynn: ""Sue Me"" is now on @Pandor..."
1378,1378,Mon Apr 01 21:39:42 +0000 2019,Sabrina Carpenter,1.112761e+18,0,0,824,"RT @SabrinaAnnLynn: ""Sue Me"" is now on @Pandor..."
1478,1478,Mon Apr 01 21:39:42 +0000 2019,Sabrina Carpenter,1.112761e+18,0,0,824,"RT @SabrinaAnnLynn: ""Sue Me"" is now on @Pandor..."
1578,1578,Mon Apr 01 21:39:42 +0000 2019,Sabrina Carpenter,1.112761e+18,0,0,824,"RT @SabrinaAnnLynn: ""Sue Me"" is now on @Pandor..."
1678,1678,Mon Apr 01 21:39:42 +0000 2019,Sabrina Carpenter,1.112761e+18,0,0,824,"RT @SabrinaAnnLynn: ""Sue Me"" is now on @Pandor..."
1778,1778,Mon Apr 01 21:39:42 +0000 2019,Sabrina Carpenter,1.112761e+18,0,0,824,"RT @SabrinaAnnLynn: ""Sue Me"" is now on @Pandor..."
1878,1878,Mon Apr 01 21:39:42 +0000 2019,Sabrina Carpenter,1.112761e+18,0,0,824,"RT @SabrinaAnnLynn: ""Sue Me"" is now on @Pandor..."
1978,1978,Mon Apr 01 21:39:42 +0000 2019,Sabrina Carpenter,1.112761e+18,0,0,824,"RT @SabrinaAnnLynn: ""Sue Me"" is now on @Pandor..."
2078,2078,Mon Apr 01 21:39:42 +0000 2019,Sabrina Carpenter,1.112761e+18,0,0,824,"RT @SabrinaAnnLynn: ""Sue Me"" is now on @Pandor..."
2178,2178,Mon Apr 01 21:39:42 +0000 2019,Sabrina Carpenter,1.112761e+18,0,0,824,"RT @SabrinaAnnLynn: ""Sue Me"" is now on @Pandor..."
2278,2278,Mon Apr 01 21:39:42 +0000 2019,Sabrina Carpenter,1.112761e+18,0,0,824,"RT @SabrinaAnnLynn: ""Sue Me"" is now on @Pandor..."
2378,2378,Mon Apr 01 21:39:42 +0000 2019,Sabrina Carpenter,1.112761e+18,0,0,824,"RT @SabrinaAnnLynn: ""Sue Me"" is now on @Pandor..."
2478,2478,Mon Apr 01 21:39:42 +0000 2019,Sabrina Carpenter,1.112761e+18,0,0,824,"RT @SabrinaAnnLynn: ""Sue Me"" is now on @Pandor..."
2578,2578,Mon Apr 01 21:39:42 +0000 2019,Sabrina Carpenter,1.112761e+18,0,0,824,"RT @SabrinaAnnLynn: ""Sue Me"" is now on @Pandor..."
2678,2678,Mon Apr 01 21:39:42 +0000 2019,Sabrina Carpenter,1.112761e+18,0,0,824,"RT @SabrinaAnnLynn: ""Sue Me"" is now on @Pandor..."
2778,2778,Mon Apr 01 21:39:42 +0000 2019,Sabrina Carpenter,1.112761e+18,0,0,824,"RT @SabrinaAnnLynn: ""Sue Me"" is now on @Pandor..."
2878,78,Mon Apr 01 21:39:42 +0000 2019,Sabrina Carpenter,1.112760e+18,0,0,824,"RT @SabrinaAnnLynn: ""Sue Me"" is now on @Pandor..."
2978,178,Mon Apr 01 21:39:42 +0000 2019,Sabrina Carpenter,1.112760e+18,0,0,824,"RT @SabrinaAnnLynn: ""Sue Me"" is now on @Pandor..."
...,...,...,...,...,...,...,...,...
2651,2651,Tue Apr 02 13:39:22 +0000 2019,Kent Lewis üî•,7.765022e+06,6322,0,0,.@Pandora to test interactive voice ads later ...
2751,2751,Tue Apr 02 13:39:22 +0000 2019,Kent Lewis üî•,7.765022e+06,6322,0,0,.@Pandora to test interactive voice ads later ...
2851,51,Tue Apr 02 13:39:22 +0000 2019,Kent Lewis üî•,7.765022e+06,6322,0,0,.@Pandora to test interactive voice ads later ...
2951,151,Tue Apr 02 13:39:22 +0000 2019,Kent Lewis üî•,7.765022e+06,6322,0,0,.@Pandora to test interactive voice ads later ...
3051,251,Tue Apr 02 13:39:22 +0000 2019,Kent Lewis üî•,7.765022e+06,6322,0,0,.@Pandora to test interactive voice ads later ...
3151,351,Tue Apr 02 13:39:22 +0000 2019,Kent Lewis üî•,7.765022e+06,6322,0,0,.@Pandora to test interactive voice ads later ...
3251,451,Tue Apr 02 13:39:22 +0000 2019,Kent Lewis üî•,7.765022e+06,6322,0,0,.@Pandora to test interactive voice ads later ...
3351,551,Tue Apr 02 13:39:22 +0000 2019,Kent Lewis üî•,7.765022e+06,6322,0,0,.@Pandora to test interactive voice ads later ...
3451,651,Tue Apr 02 13:39:22 +0000 2019,Kent Lewis üî•,7.765022e+06,6322,0,0,.@Pandora to test interactive voice ads later ...
3551,751,Tue Apr 02 13:39:22 +0000 2019,Kent Lewis üî•,7.765022e+06,6322,0,0,.@Pandora to test interactive voice ads later ...
3651,851,Tue Apr 02 13:39:22 +0000 2019,Kent Lewis üî•,7.765022e+06,6322,0,0,.@Pandora to test interactive voice ads later ...
3751,951,Tue Apr 02 13:39:22 +0000 2019,Kent Lewis üî•,7.765022e+06,6322,0,0,.@Pandora to test interactive voice ads later ...
3851,1051,Tue Apr 02 13:39:22 +0000 2019,Kent Lewis üî•,7.765022e+06,6322,0,0,.@Pandora to test interactive voice ads later ...
3951,1151,Tue Apr 02 13:39:22 +0000 2019,Kent Lewis üî•,7.765022e+06,6322,0,0,.@Pandora to test interactive voice ads later ...
4051,1251,Tue Apr 02 13:39:22 +0000 2019,Kent Lewis üî•,7.765022e+06,6322,0,0,.@Pandora to test interactive voice ads later ...
4151,1351,Tue Apr 02 13:39:22 +0000 2019,Kent Lewis üî•,7.765022e+06,6322,0,0,.@Pandora to test interactive voice ads later ...
4251,1451,Tue Apr 02 13:39:22 +0000 2019,Kent Lewis üî•,7.765022e+06,6322,0,0,.@Pandora to test interactive voice ads later ...
4351,1551,Tue Apr 02 13:39:22 +0000 2019,Kent Lewis üî•,7.765022e+06,6322,0,0,.@Pandora to test interactive voice ads later ...
4451,1651,Tue Apr 02 13:39:22 +0000 2019,Kent Lewis üî•,7.765022e+06,6322,0,0,.@Pandora to test interactive voice ads later ...
4551,1751,Tue Apr 02 13:39:22 +0000 2019,Kent Lewis üî•,7.765022e+06,6322,0,0,.@Pandora to test interactive voice ads later ...
4651,1851,Tue Apr 02 13:39:22 +0000 2019,Kent Lewis üî•,7.765022e+06,6322,0,0,.@Pandora to test interactive voice ads later ...
4751,1951,Tue Apr 02 13:39:22 +0000 2019,Kent Lewis üî•,7.765022e+06,6322,0,0,.@Pandora to test interactive voice ads later ...
4851,2051,Tue Apr 02 13:39:22 +0000 2019,Kent Lewis üî•,7.765022e+06,6322,0,0,.@Pandora to test interactive voice ads later ...
4951,2151,Tue Apr 02 13:39:22 +0000 2019,Kent Lewis üî•,7.765022e+06,6322,0,0,.@Pandora to test interactive voice ads later ...
5051,2251,Tue Apr 02 13:39:22 +0000 2019,Kent Lewis üî•,7.765022e+06,6322,0,0,.@Pandora to test interactive voice ads later ...
5151,2351,Tue Apr 02 13:39:22 +0000 2019,Kent Lewis üî•,7.765022e+06,6322,0,0,.@Pandora to test interactive voice ads later ...
5251,2451,Tue Apr 02 13:39:22 +0000 2019,Kent Lewis üî•,7.765022e+06,6322,0,0,.@Pandora to test interactive voice ads later ...
5351,2551,Tue Apr 02 13:39:22 +0000 2019,Kent Lewis üî•,7.765022e+06,6322,0,0,.@Pandora to test interactive voice ads later ...
5451,2651,Tue Apr 02 13:39:22 +0000 2019,Kent Lewis üî•,7.765022e+06,6322,0,0,.@Pandora to test interactive voice ads later ...
5551,2751,Tue Apr 02 13:39:22 +0000 2019,Kent Lewis üî•,7.765022e+06,6322,0,0,.@Pandora to test interactive voice ads later ...

In [50]:
# Drop Duplicates only for matching columns omitting the index
pandora_filtered_df = pandora_source_df.drop_duplicates(['Created At', 'Screen Name', 'User ID', 'User Follower Count', 'Likes Counts', 'ReTweet Count', 'Tweet Text']).sort_values(by=['User ID','Created At'], ascending=False)

In [51]:
pandora_filtered_df

,Unnamed: 0,Created At,Screen Name,User ID,User Follower Count,Likes Counts,ReTweet Count,Tweet Text
78,78,Mon Apr 01 21:39:42 +0000 2019,Sabrina Carpenter,1.112761e+18,0,0,824,"RT @SabrinaAnnLynn: ""Sue Me"" is now on @Pandor..."
2878,78,Mon Apr 01 21:39:42 +0000 2019,Sabrina Carpenter,1.112760e+18,0,0,824,"RT @SabrinaAnnLynn: ""Sue Me"" is now on @Pandor..."
2822,22,Tue Apr 02 20:01:43 +0000 2019,YANG.,1.111460e+18,50,0,0,@xxbangj hmm n√£o fala assim que eu me apaixono...
22,22,Tue Apr 02 20:01:43 +0000 2019,YANG.,1.111458e+18,50,0,0,@xxbangj hmm n√£o fala assim que eu me apaixono...
5610,10,Wed Apr 03 23:36:18 +0000 2019,Club De Fans Oficial Revanchitas De JMLC üëäüèªüíöüî•,1.111435e+18,1,0,0,"üéßYa Puedes Escuchar ""Regalame Una Noche"" En #P..."
2839,39,Tue Apr 02 15:15:01 +0000 2019,Leli,1.109700e+18,11,0,0,@levihummon @Spotify @amazonmusic @AppleMusic ...
39,39,Tue Apr 02 15:15:01 +0000 2019,Leli,1.109695e+18,11,0,0,@levihummon @Spotify @amazonmusic @AppleMusic ...
10,10,Wed Apr 03 04:06:09 +0000 2019,Vanessa Stevenson,1.109613e+18,0,0,1,RT @joelhawkins: Typical Friday night: @Jameso...
2810,10,Wed Apr 03 04:06:09 +0000 2019,Vanessa Stevenson,1.109610e+18,0,0,1,RT @joelhawkins: Typical Friday night: @Jameso...
5618,18,Wed Apr 03 23:11:44 +0000 2019,sam ab,1.106946e+18,449,0,2,RT @eaeperformance: Dope! Your profile is awes...
2892,92,Mon Apr 01 15:33:42 +0000 2019,Suzanne J. Laberge,1.106800e+18,0,1,0,@Icielani @JpLaMemoria @Pandora Great Choice
2893,93,Mon Apr 01 15:31:32 +0000 2019,Alba D. Lemos,1.106800e+18,0,1,0,@Icielani @JpLaMemoria @Pandora awesome track üôè
2894,94,Mon Apr 01 15:21:25 +0000 2019,John J. Williams,1.106800e+18,0,1,0,@Icielani @JpLaMemoria @Pandora Best track and...
94,94,Mon Apr 01 15:21:25 +0000 2019,John J. Williams,1.106798e+18,0,1,0,@Icielani @JpLaMemoria @Pandora Best track and...
93,93,Mon Apr 01 15:31:32 +0000 2019,Alba D. Lemos,1.106797e+18,0,1,0,@Icielani @JpLaMemoria @Pandora awesome track üôè
92,92,Mon Apr 01 15:33:42 +0000 2019,Suzanne J. Laberge,1.106795e+18,0,1,0,@Icielani @JpLaMemoria @Pandora Great Choice
91,91,Mon Apr 01 15:35:05 +0000 2019,Billie N. Green,1.106793e+18,0,1,0,@Icielani @JpLaMemoria @Pandora Keep it up. nice
90,90,Mon Apr 01 15:36:38 +0000 2019,Phil R. Henson,1.106791e+18,0,1,0,@Icielani @JpLaMemoria @Pandora Outstanding mu...
2887,87,Mon Apr 01 15:39:49 +0000 2019,Soila W. Resendiz,1.106790e+18,0,1,0,@Icielani @JpLaMemoria @Pandora fabulous music...
2888,88,Mon Apr 01 15:38:05 +0000 2019,Juanita C. Lafrance,1.106790e+18,0,1,0,@Icielani @JpLaMemoria @Pandora I appreciate y...
2890,90,Mon Apr 01 15:36:38 +0000 2019,Phil R. Henson,1.106790e+18,0,1,0,@Icielani @JpLaMemoria @Pandora Outstanding mu...
2891,91,Mon Apr 01 15:35:05 +0000 2019,Billie N. Green,1.106790e+18,0,1,0,@Icielani @JpLaMemoria @Pandora Keep it up. nice
88,88,Mon Apr 01 15:38:05 +0000 2019,Juanita C. Lafrance,1.106789e+18,0,1,0,@Icielani @JpLaMemoria @Pandora I appreciate y...
87,87,Mon Apr 01 15:39:49 +0000 2019,Soila W. Resendiz,1.106787e+18,0,1,0,@Icielani @JpLaMemoria @Pandora fabulous music...
2886,86,Mon Apr 01 15:41:03 +0000 2019,Donna J. Wilk,1.106780e+18,0,1,1,@Icielani @JpLaMemoria @Pandora best music cho...
86,86,Mon Apr 01 15:41:03 +0000 2019,Donna J. Wilk,1.106775e+18,0,1,1,@Icielani @JpLaMemoria @Pandora best music cho...
2885,85,Mon Apr 01 15:41:54 +0000 2019,Pedro J. Cooper,1.106770e+18,0,1,0,@Icielani @JpLaMemoria @Pandora Love it. do it...
85,85,Mon Apr 01 15:41:54 +0000 2019,Pedro J. Cooper,1.106770e+18,0,1,0,@Icielani @JpLaMemoria @Pandora Love it. do it...
84,84,Mon Apr 01 15:42:29 +0000 2019,Marjorie F. Brett,1.106763e+18,0,1,0,"@Icielani @JpLaMemoria @Pandora Great,You are ..."
2884,84,Mon Apr 01 15:42:29 +0000 2019,Marjorie F. Brett,1.106760e+18,0,1,0,"@Icielani @JpLaMemoria @Pandora Great,You are ..."
...,...,...,...,...,...,...,...,...
82,82,Mon Apr 01 15:50:16 +0000 2019,PegaFogoCabar√©,4.214299e+07,3034,1,0,@jaosogabe @Pandora Aaaargh!!!
17,17,Tue Apr 02 22:30:45 +0000 2019,Uli Reese,4.020683e+07,515,0,2,"RT @joelbeckerman: ""A brand identity is no lon..."
21,21,Tue Apr 02 20:28:18 +0000 2019,Janelle Mon√°e de Osasco,3.889332e+07,709,0,0,@Pandora @morenamoraes EP de Black mirror
54,54,Tue Apr 02 13:00:28 +0000 2019,Janelle Mon√°e de Osasco,3.889332e+07,709,1,0,@Pandora Am√©m üôè vamos falar mais sobre isso üòè‚ú®üëÄ‚ú®
59,59,Tue Apr 02 01:17:34 +0000 2019,Janelle Mon√°e de Osasco,3.889332e+07,709,1,0,@Pandora https://t.co/KcKXHm7rM0
5695,95,Wed Apr 03 18:35:47 +0000 2019,Michelle Graff,3.827192e+07,10300,0,0,Bead brand #Pandora is eliminating the COO pos...
20,20,Tue Apr 02 21:28:11 +0000 2019,Nate Larson,3.620250e+07,3970,1,0,Everyone check out my first #podcast episode w...
29,29,Tue Apr 02 18:05:37 +0000 2019,Elza Soares,3.352036e+07,8793,1,0,@Pandora @BGuilherme1987 @beatriz_santos Eu en...
37,37,Tue Apr 02 15:47:12 +0000 2019,Elza Soares,3.352036e+07,8793,1,0,@BGuilherme1987 @beatriz_santos @Pandora N√£o f...
70,70,Mon Apr 01 22:47:05 +0000 2019,Elza Soares,3.352036e+07,8793,7,0,Algu√©m com poder aquisitivo poderia produzir u...
72,72,Mon Apr 01 22:46:24 +0000 2019,Elza Soares,3.352036e+07,8793,1,0,@Pandora Que isso?
79,79,Mon Apr 01 21:19:29 +0000 2019,Elza Soares,3.352036e+07,8793,0,0,@Pandora @_ponzuzu TV aberta?
80,80,Mon Apr 01 20:47:57 +0000 2019,Elza Soares,3.352036e+07,8793,2,0,@Pandora J√° tava esquecendo de fazer e a @_pon...
33,33,Tue Apr 02 16:36:15 +0000 2019,Shannon Dawn,3.335273e+07,1189,0,3,RT @levihummon: Streaming has helped me find a...
45,45,Tue Apr 02 14:23:16 +0000 2019,Shannon Dawn,3.335273e+07,1189,3,0,@levihummon @Spotify @amazonmusic @AppleMusic ...
46,46,Tue Apr 02 14:19:02 +0000 2019,Shannon Dawn,3.335273e+07,1189,0,5,RT @levihummon: Streaming has helped me find a...
5694,94,Wed Apr 03 18:47:46 +0000 2019,malaika,3.033098e+07,4975,0,0,"#JulianMarley Talks ""AS I AM"" Album on @Pandor..."
67,67,Mon Apr 01 23:09:04 +0000 2019,Beatriz Santos,2.705417e+07,1130,4,0,@Iracroft @Pandora At√© eu vi o final da novela...
5672,72,Wed Apr 03 21:22:08 +0000 2019,Gene Turlington,2.618900e+07,218,0,0,"I'm listening to ""Sinkin' Soon"" by @NorahJones..."
73,73,Mon Apr 01 22:13:36 +0000 2019,Jamile Chahine,2.599780e+07,357,0,0,@Pandora Nem falo...üò¢
18,18,Tue Apr 02 21:41:24 +0000 2019,Man Made Music,2.553795e+07,4849,0,2,"RT @joelbeckerman: ""A brand identity is no lon..."
15,15,Wed Apr 03 00:25:40 +0000 2019,Thomas Benner,2.243301e+07,864,0,0,"Adobe Partners with Pandora, Releases Survey R..."
13,13,Wed Apr 03 01:09:22 +0000 2019,JCH,1.942361e+07,713,0,0,My @LyleLovett station on @Pandora has played ...
2,2,Wed Apr 03 13:02:02 +0000 2019,Harry Gold,1.557621e+07,1914,0,0,Good news for brands trying to crack voice mar...
35,35,Tue Apr 02 16:01:24 +0000 2019,A.J. Wood,1.412429e+07,7272,0,0,".@Adobe Partners with @Pandora, releases surve..."
5683,83,Wed Apr 03 20:23:07 +0000 2019,eucondrio,1.330862e+07,590,1,0,#Pandora testa la pubblicit√† vocale interattiv...
98,98,Mon Apr 01 12:00:28 +0000 2019,Emilie Bramly,1.207004e+07,7576,1,1,L'#OverlapReality üöÄ: C'est la strat√©gie d'anim...
5617,17,Wed Apr 03 23:17:18 +0000 2019,John Norton,9.391372e+06,562,2,0,Traversed some Na‚Äôvi ruins yesterday. #pandora...
65,65,Mon Apr 01 23:20:47 +0000 2019,aledanis77,9.112542e+06,101,1,0,"@Pandora Se n√£o me engano, a Irene Ravache vai..."
51,51,Tue Apr 02 13:39:22 +0000 2019,Kent Lewis üî•,7.765022e+06,6322,0,0,.@Pandora to test interactive voice ads later ...

In [52]:
pandora_filtered_df.describe()

,Unnamed: 0,User ID,User Follower Count,Likes Counts,ReTweet Count
count,229.000000,2.290000e+02,229.000000,229.000000,229.000000
mean,54.851528,3.766219e+17,2201.777293,0.799127,9.537118
std,81.371763,4.850427e+17,5963.979485,1.623241,77.018195
min,0.000000,7.765022e+06,0.000000,0.000000,0.000000
25%,26.000000,1.900613e+08,105.000000,0.000000,0.000000
50%,50.000000,1.599656e+09,357.000000,0.000000,0.000000
75%,75.000000,8.837760e+17,1088.000000,1.000000,1.000000
max,1203.000000,1.112761e+18,49819.000000,17.000000,824.000000

In [53]:
# Count total out of Unique Tweets
pandora_total_tweets = len(pandora_filtered_df['Tweet Text'])
pandora_total_tweets

229

In [54]:
# Calculate Facebook Avg Followers - doesn't make sense to sum.
pandora_avg_followers_ct = pandora_filtered_df['User Follower Count'].mean()
pandora_avg_followers_ct

2201.7772925764193

In [55]:
# Total Likes of all tweets
# use sum of likes.
pandora_total_likes = pandora_filtered_df['Likes Counts'].sum()
#pandora_avg_likes = pandora_filtered_df['Likes Counts'].mean()
pandora_total_likes
#pandora_avg_likes

183

In [56]:
# Retweets Stats:
#pandora_sum_retweets = pandora_filtered_df['ReTweet Count'].sum()
pandora_avg_retweets = pandora_filtered_df['ReTweet Count'].mean()
#pandora_sum_retweets
pandora_avg_retweets

9.537117903930131

### Pinterest Calculations

In [57]:
# Concatenate them
plug = 'pinterest'
path = f'./resources/{plug}'
all_files = glob.glob(path + "/*.csv")
li = []
for filename in all_files:
    df = pd.read_csv(filename, index_col=None, header=0)
    li.append(df)
pinterest_source_df = pd.concat(li, axis=0, ignore_index=True)

# Snapshot Statistics
pinterest_source_df.describe()

,Unnamed: 0,User ID,User Follower Count,Likes Counts,ReTweet Count
count,2979.000000,2.979000e+03,2979.000000,2979.000000,2979.000000
mean,890.252098,2.586545e+17,4542.489426,0.182947,7.313864
std,617.386076,4.292814e+17,12457.364750,0.557413,57.056020
min,0.000000,2.807841e+06,1.000000,0.000000,0.000000
25%,372.000000,8.182539e+07,124.000000,0.000000,0.000000
50%,744.000000,9.283590e+08,643.000000,0.000000,0.000000
75%,1403.500000,7.820021e+17,5369.000000,0.000000,0.000000
max,2148.000000,1.113549e+18,164012.000000,5.000000,496.000000

In [58]:
pinterest_source_df.head()

,Unnamed: 0,Created At,Screen Name,User ID,User Follower Count,Likes Counts,ReTweet Count,Tweet Text
0,0,Wed Apr 03 18:00:50 +0000 2019,taiche,26701241,2480,0,0,#Lesbian #Kiss #ArtNouveau Style #Photographic...
1,1,Wed Apr 03 17:59:34 +0000 2019,Hot_Products,1003898407365300225,5075,0,7,RT @OkroguLes: https://t.co/VW9qiCQOc4 via @pi...
2,2,Wed Apr 03 17:59:25 +0000 2019,Niloo Farmand,3982201215,27,0,0,Hey @Pinterest I‚Äôve unsubscribed from your ema...
3,3,Wed Apr 03 17:58:13 +0000 2019,taiche,26701241,2480,0,0,#Lips That Touch #Liquor Shall Not Touch Ours ...
4,4,Wed Apr 03 17:57:35 +0000 2019,BishopMeldinaTaswell,275892884,893,0,0,https://t.co/PqmtvvBufQ via @pinterest

In [59]:
# Sort to set up removal of duplicates
pinterest_source_df.sort_values(by=['User ID','Created At'], ascending=False)

,Unnamed: 0,Created At,Screen Name,User ID,User Follower Count,Likes Counts,ReTweet Count,Tweet Text
2150,1,Thu Apr 04 00:28:45 +0000 2019,averydecent,1113548985413853185,1,0,496,RT @shelleypetersen: #Healthinnovations has ju...
2233,84,Thu Apr 04 00:28:45 +0000 2019,averydecent,1113548985413853185,1,0,496,RT @shelleypetersen: #Healthinnovations has ju...
2316,167,Thu Apr 04 00:28:45 +0000 2019,averydecent,1113548985413853185,1,0,496,RT @shelleypetersen: #Healthinnovations has ju...
2399,250,Thu Apr 04 00:28:45 +0000 2019,averydecent,1113548985413853185,1,0,496,RT @shelleypetersen: #Healthinnovations has ju...
2482,333,Thu Apr 04 00:28:45 +0000 2019,averydecent,1113548985413853185,1,0,496,RT @shelleypetersen: #Healthinnovations has ju...
2565,416,Thu Apr 04 00:28:45 +0000 2019,averydecent,1113548985413853185,1,0,496,RT @shelleypetersen: #Healthinnovations has ju...
2648,499,Thu Apr 04 00:28:45 +0000 2019,averydecent,1113548985413853185,1,0,496,RT @shelleypetersen: #Healthinnovations has ju...
2731,582,Thu Apr 04 00:28:45 +0000 2019,averydecent,1113548985413853185,1,0,495,RT @shelleypetersen: #Healthinnovations has ju...
2814,665,Thu Apr 04 00:28:45 +0000 2019,averydecent,1113548985413853185,1,0,496,RT @shelleypetersen: #Healthinnovations has ju...
2897,748,Thu Apr 04 00:28:45 +0000 2019,averydecent,1113548985413853185,1,0,495,RT @shelleypetersen: #Healthinnovations has ju...
59,59,Wed Apr 03 17:06:10 +0000 2019,Probir mittro,1108304524236615680,7,1,0,World Company of Bitcoin and Ethereum mining i...
145,145,Wed Apr 03 17:06:10 +0000 2019,Probir mittro,1108304524236615680,7,1,0,World Company of Bitcoin and Ethereum mining i...
231,231,Wed Apr 03 17:06:10 +0000 2019,Probir mittro,1108304524236615680,7,1,0,World Company of Bitcoin and Ethereum mining i...
318,318,Wed Apr 03 17:06:10 +0000 2019,Probir mittro,1108304524236615680,7,1,0,World Company of Bitcoin and Ethereum mining i...
404,404,Wed Apr 03 17:06:10 +0000 2019,Probir mittro,1108304524236615680,7,1,0,World Company of Bitcoin and Ethereum mining i...
491,491,Wed Apr 03 17:06:10 +0000 2019,Probir mittro,1108304524236615680,7,1,0,World Company of Bitcoin and Ethereum mining i...
578,578,Wed Apr 03 17:06:10 +0000 2019,Probir mittro,1108304524236615680,7,1,0,World Company of Bitcoin and Ethereum mining i...
664,664,Wed Apr 03 17:06:10 +0000 2019,Probir mittro,1108304524236615680,7,1,0,World Company of Bitcoin and Ethereum mining i...
750,750,Wed Apr 03 17:06:10 +0000 2019,Probir mittro,1108304524236615680,7,1,0,World Company of Bitcoin and Ethereum mining i...
836,836,Wed Apr 03 17:06:10 +0000 2019,Probir mittro,1108304524236615680,7,1,0,World Company of Bitcoin and Ethereum mining i...
923,923,Wed Apr 03 17:06:10 +0000 2019,Probir mittro,1108304524236615680,7,1,0,World Company of Bitcoin and Ethereum mining i...
1009,1009,Wed Apr 03 17:06:10 +0000 2019,Probir mittro,1108304524236615680,7,1,0,World Company of Bitcoin and Ethereum mining i...
1094,1094,Wed Apr 03 17:06:10 +0000 2019,Probir mittro,1108304524236615680,7,1,0,World Company of Bitcoin and Ethereum mining i...
1181,1181,Wed Apr 03 17:06:10 +0000 2019,Probir mittro,1108304524236615680,7,1,0,World Company of Bitcoin and Ethereum mining i...
1267,1267,Wed Apr 03 17:06:10 +0000 2019,Probir mittro,1108304524236615680,7,1,0,World Company of Bitcoin and Ethereum mining i...
1352,1352,Wed Apr 03 17:06:10 +0000 2019,Probir mittro,1108304524236615680,7,1,0,World Company of Bitcoin and Ethereum mining i...
1438,1438,Wed Apr 03 17:06:10 +0000 2019,Probir mittro,1108304524236615680,7,1,0,World Company of Bitcoin and Ethereum mining i...
1524,1524,Wed Apr 03 17:06:10 +0000 2019,Probir mittro,1108304524236615680,7,1,0,World Company of Bitcoin and Ethereum mining i...
1609,1609,Wed Apr 03 17:06:10 +0000 2019,Probir mittro,1108304524236615680,7,1,0,World Company of Bitcoin and Ethereum mining i...
1694,1694,Wed Apr 03 17:06:10 +0000 2019,Probir mittro,1108304524236615680,7,1,0,World Company of Bitcoin and Ethereum mining i...
...,...,...,...,...,...,...,...,...
455,455,Wed Apr 03 17:34:08 +0000 2019,sowa,10474692,96,0,0,Whisky flok inbid fil kalci tal ARcisqof https...
542,542,Wed Apr 03 17:34:08 +0000 2019,sowa,10474692,96,0,0,Whisky flok inbid fil kalci tal ARcisqof https...
628,628,Wed Apr 03 17:34:08 +0000 2019,sowa,10474692,96,0,0,Whisky flok inbid fil kalci tal ARcisqof https...
714,714,Wed Apr 03 17:34:08 +0000 2019,sowa,10474692,96,0,0,Whisky flok inbid fil kalci tal ARcisqof https...
800,800,Wed Apr 03 17:34:08 +0000 2019,sowa,10474692,96,0,0,Whisky flok inbid fil kalci tal ARcisqof https...
887,887,Wed Apr 03 17:34:08 +0000 2019,sowa,10474692,96,0,0,Whisky flok inbid fil kalci tal ARcisqof https...
973,973,Wed Apr 03 17:34:08 +0000 2019,sowa,10474692,96,0,0,Whisky flok inbid fil kalci tal ARcisqof https...
1058,1058,Wed Apr 03 17:34:08 +0000 2019,sowa,10474692,96,0,0,Whisky flok inbid fil kalci tal ARcisqof https...
1145,1145,Wed Apr 03 17:34:08 +0000 2019,sowa,10474692,96,0,0,Whisky flok inbid fil kalci tal ARcisqof https...
1231,1231,Wed Apr 03 17:34:08 +0000 2019,sowa,10474692,96,0,0,Whisky flok inbid fil kalci tal ARcisqof https...
1316,1316,Wed Apr 03 17:34:08 +0000 2019,sowa,10474692,96,0,0,Whisky flok inbid fil kalci tal ARcisqof https...
1402,1402,Wed Apr 03 17:34:08 +0000 2019,sowa,10474692,96,0,0,Whisky flok inbid fil kalci tal ARcisqof https...
1488,1488,Wed Apr 03 17:34:08 +0000 2019,sowa,10474692,96,0,0,Whisky flok inbid fil kalci tal ARcisqof https...
1573,1573,Wed Apr 03 17:34:08 +0000 2019,sowa,10474692,96,0,0,Whisky flok inbid fil kalci tal ARcisqof https...
1658,1658,Wed Apr 03 17:34:08 +0000 2019,sowa,10474692,96,0,0,Whisky flok inbid fil kalci tal ARcisqof https...
1744,1744,Wed Apr 03 17:34:08 +0000 2019,sowa,10474692,96,0,0,Whisky flok inbid fil kalci tal ARcisqof https...
1829,1829,Wed Apr 03 17:34:08 +0000 2019,sowa,10474692,96,0,0,Whisky flok inbid fil kalci tal ARcisqof https...
1915,1915,Wed Apr 03 17:34:08 +0000 2019,sowa,10474692,96,0,0,Whisky flok inbid fil kalci tal ARcisqof https...
2001,2001,Wed Apr 03 17:34:08 +0000 2019,sowa,10474692,96,0,0,Whisky flok inbid fil kalci tal ARcisqof https...
2087,2087,Wed Apr 03 17:34:08 +0000 2019,sowa,10474692,96,0,0,Whisky flok inbid fil kalci tal ARcisqof https...
2184,35,Wed Apr 03 22:11:25 +0000 2019,Gabriel Huecas,2807841,660,0,1,RT @biblioUPM: Tres centrales t√©rmicas espa√±ol...
2267,118,Wed Apr 03 22:11:25 +0000 2019,Gabriel Huecas,2807841,660,0,1,RT @biblioUPM: Tres centrales t√©rmicas espa√±ol...
2350,201,Wed Apr 03 22:11:25 +0000 2019,Gabriel Huecas,2807841,660,0,1,RT @biblioUPM: Tres centrales t√©rmicas espa√±ol...
2433,284,Wed Apr 03 22:11:25 +0000 2019,Gabriel Huecas,2807841,660,0,1,RT @biblioUPM: Tres centrales t√©rmicas espa√±ol...
2516,367,Wed Apr 03 22:11:25 +0000 2019,Gabriel Huecas,2807841,660,0,1,RT @biblioUPM: Tres centrales t√©rmicas espa√±ol...
2599,450,Wed Apr 03 22:11:25 +0000 2019,Gabriel Huecas,2807841,660,0,1,RT @biblioUPM: Tres centrales t√©rmicas espa√±ol...
2682,533,Wed Apr 03 22:11:25 +0000 2019,Gabriel Huecas,2807841,660,0,1,RT @biblioUPM: Tres centrales t√©rmicas espa√±ol...
2765,616,Wed Apr 03 22:11:25 +0000 2019,Gabriel Huecas,2807841,660,0,1,RT @biblioUPM: Tres centrales t√©rmicas espa√±ol...
2848,699,Wed Apr 03 22:11:25 +0000 2019,Gabriel Huecas,2807841,660,0,1,RT @biblioUPM: Tres centrales t√©rmicas espa√±ol...
2931,782,Wed Apr 03 22:11:25 +0000 2019,Gabriel Huecas,2807841,660,0,1,RT @biblioUPM: Tres centrales t√©rmicas espa√±ol...

In [60]:
# Drop Duplicates only for matching columns omitting the index
pinterest_filtered_df = pinterest_source_df.drop_duplicates(['Created At', 'Screen Name', 'User ID', 'User Follower Count', 'Likes Counts', 'ReTweet Count', 'Tweet Text']).sort_values(by=['User ID','Created At'], ascending=False)

In [61]:
pinterest_filtered_df

,Unnamed: 0,Created At,Screen Name,User ID,User Follower Count,Likes Counts,ReTweet Count,Tweet Text
2150,1,Thu Apr 04 00:28:45 +0000 2019,averydecent,1113548985413853185,1,0,496,RT @shelleypetersen: #Healthinnovations has ju...
2731,582,Thu Apr 04 00:28:45 +0000 2019,averydecent,1113548985413853185,1,0,495,RT @shelleypetersen: #Healthinnovations has ju...
59,59,Wed Apr 03 17:06:10 +0000 2019,Probir mittro,1108304524236615680,7,1,0,World Company of Bitcoin and Ethereum mining i...
5,5,Wed Apr 03 17:56:04 +0000 2019,Adam Kempshall,1105568310278664192,5,0,0,"@della71 @Pinterest Pinterest, Twitter makes s..."
32,32,Wed Apr 03 17:26:43 +0000 2019,Melissa Vonn,1097590136014061569,20,0,0,@GarconWines @Pinterest Good news!
2153,4,Thu Apr 04 00:15:51 +0000 2019,Opo,1086742990247378944,26,1,0,Friends this is an awesome way to make money u...
2165,16,Wed Apr 03 23:11:52 +0000 2019,Creative Cakes by Sandy Danner,1073348944296587267,3,0,0,Today's cakes. 2 weddings and a groom's cake. ...
14,14,Wed Apr 03 17:37:33 +0000 2019,Paredes Home,1057773612785053696,124,0,0,https://t.co/lPFz3CR3WV via @pinterest
16,16,Wed Apr 03 17:37:09 +0000 2019,Paredes Home,1057773612785053696,124,0,0,https://t.co/TCflHxkra3 via @pinterest
17,17,Wed Apr 03 17:36:59 +0000 2019,Paredes Home,1057773612785053696,124,0,0,https://t.co/c36FokQAd2 via @pinterest
18,18,Wed Apr 03 17:36:50 +0000 2019,Paredes Home,1057773612785053696,124,0,0,https://t.co/KNblAuSowz via @pinterest
19,19,Wed Apr 03 17:35:12 +0000 2019,Paredes Home,1057773612785053696,124,0,0,https://t.co/9cNqEppd51 via @pinterest
20,20,Wed Apr 03 17:34:54 +0000 2019,Paredes Home,1057773612785053696,124,0,0,https://t.co/CEuwKihG2J via @pinterest
21,21,Wed Apr 03 17:34:46 +0000 2019,Paredes Home,1057773612785053696,124,0,0,https://t.co/YgS6bc73tT via @pinterest
58,58,Wed Apr 03 17:06:14 +0000 2019,Myshirtsboutique,1055141326268911616,2,0,0,Excited to share this item from my shop: Const...
2192,43,Wed Apr 03 21:53:55 +0000 2019,Rafinha..üì∏ü§™üí•,1054993212945903622,6873,0,496,RT @shelleypetersen: #Healthinnovations has ju...
2773,624,Wed Apr 03 21:53:55 +0000 2019,Rafinha..üì∏ü§™üí•,1054993212945903622,6873,0,495,RT @shelleypetersen: #Healthinnovations has ju...
2175,26,Wed Apr 03 22:26:43 +0000 2019,fabrica de carteles de goma eva para cotillon.,1049654306947903489,9,0,0,Gracias a mis seguidores en pinterest ya son 1...
2178,29,Wed Apr 03 22:17:34 +0000 2019,otto frank,1030838750245466112,74,0,496,RT @shelleypetersen: #Healthinnovations has ju...
2261,112,Wed Apr 03 22:17:34 +0000 2019,otto frank,1030838750245466112,72,0,496,RT @shelleypetersen: #Healthinnovations has ju...
2759,610,Wed Apr 03 22:17:34 +0000 2019,otto frank,1030838750245466112,72,0,495,RT @shelleypetersen: #Healthinnovations has ju...
1,1,Wed Apr 03 17:59:34 +0000 2019,Hot_Products,1003898407365300225,5075,0,7,RT @OkroguLes: https://t.co/VW9qiCQOc4 via @pi...
2222,73,Wed Apr 03 20:42:12 +0000 2019,IracingSBS,971107656055316480,342,0,7,RT @Bjsimracin1: üî•üî•üî•FORMULA 1üî•üî•üî•\n#simracing #...
2209,60,Wed Apr 03 21:11:06 +0000 2019,Coffee. Mom. Repeat. ‚òïÔ∏è,970483464305815553,96,0,0,Pin this one for layer! https://t.co/gSQfmFfSw...
13,13,Wed Apr 03 17:38:43 +0000 2019,SERVICE SOFA BANDUNG TLP/WA.0822-1919-1671,962014328772689920,470,1,0,Service Sofa Bandung Tlp.0822-1919-1671.Wa.089...
44,44,Wed Apr 03 17:13:26 +0000 2019,SERVICE SOFA BANDUNG TLP/WA.0822-1919-1671,962014328772689920,470,1,1,https://t.co/RIGBUi8VfD lewat @pinterest
45,45,Wed Apr 03 17:13:16 +0000 2019,SERVICE SOFA BANDUNG TLP/WA.0822-1919-1671,962014328772689920,470,1,1,https://t.co/qWfwDKmCT0 lewat @pinterest
46,46,Wed Apr 03 17:13:05 +0000 2019,SERVICE SOFA BANDUNG TLP/WA.0822-1919-1671,962014328772689920,470,1,0,https://t.co/skNEGUbFwi lewat @pinterest
38,38,Wed Apr 03 17:19:04 +0000 2019,Bego√±a Mart√≠n,913210473729937408,389,0,2,RT @EsquireEs: De Marlon Brando a Paul Newman:...
2212,63,Wed Apr 03 21:05:01 +0000 2019,Laura B,902472770424070144,1948,0,1,RT @LauraB30min: #FREE 5 Day #Pinterest course...
...,...,...,...,...,...,...,...,...
68,68,Wed Apr 03 17:03:04 +0000 2019,Chaco On Line,81825393,5369,0,0,https://t.co/B0mqwvitiC v√≠a @pinterest
70,70,Wed Apr 03 17:01:23 +0000 2019,Chaco On Line,81825393,5369,0,0,https://t.co/ouQq9iD8fv v√≠a @pinterest
73,73,Wed Apr 03 16:59:13 +0000 2019,Chaco On Line,81825393,5369,0,0,https://t.co/ZfGvQaq1tu v√≠a @pinterest
74,74,Wed Apr 03 16:59:10 +0000 2019,Chaco On Line,81825393,5369,0,0,https://t.co/LM1sgAc03F v√≠a @pinterest
75,75,Wed Apr 03 16:59:05 +0000 2019,Chaco On Line,81825393,5369,0,0,https://t.co/jcG4ZyIQRc v√≠a @pinterest
2159,10,Wed Apr 03 23:47:21 +0000 2019,Don't You Love Wine,75343553,843,0,0,They call it cheers! #pinterest #ilovewine htt...
7,7,Wed Apr 03 17:52:31 +0000 2019,BLynne,70576926,83,0,0,@Pinterest can't get into my account and it ha...
2199,50,Wed Apr 03 21:35:29 +0000 2019,Manoj,65879683,11109,0,0,How to Schedule #Pinterest Pins (No Apps) to B...
57,57,Wed Apr 03 17:06:22 +0000 2019,Sunshine Trading Co,57530314,5521,0,2,"RT @MyTexasTreasure: #Gifts, wonderful Journal..."
2170,21,Wed Apr 03 22:41:01 +0000 2019,Ilka Flood,47234940,4414,0,0,How to create a Pinterest pin your followers w...
2186,37,Wed Apr 03 22:04:15 +0000 2019,NAMI Orange County,34782749,3020,0,0,"May is #MentalHealthAwareness Month, join us f..."
2161,12,Wed Apr 03 23:25:28 +0000 2019,Leesa,33788427,17485,0,0,Follow #EcoChic on Pinterest! https://t.co/9T...
69,69,Wed Apr 03 17:01:24 +0000 2019,Donna Anderson,33421553,12,0,0,@Pinterest Is Pinterest down?
40,40,Wed Apr 03 17:15:24 +0000 2019,Andrea,28230568,907,0,0,"@BrandiCakes0609 @Pinterest @pinterestbiz Ugh,..."
2164,15,Wed Apr 03 23:15:28 +0000 2019,Stephan Jaeckel,27627485,335,0,0,Enjoy my #Pinterest Boards on #Marketing https...
0,0,Wed Apr 03 18:00:50 +0000 2019,taiche,26701241,2480,0,0,#Lesbian #Kiss #ArtNouveau Style #Photographic...
3,3,Wed Apr 03 17:58:13 +0000 2019,taiche,26701241,2480,0,0,#Lips That Touch #Liquor Shall Not Touch Ours ...
8,8,Wed Apr 03 17:52:03 +0000 2019,Amycanbe,26590693,1800,0,0,#musicweek #feature #remix #newtrack #brandnew...
2228,79,Wed Apr 03 20:24:15 +0000 2019,Mosqidou Inc.,23720051,697,0,1,#tranquility #wordoftheday #bookworms #future...
2221,72,Wed Apr 03 20:42:33 +0000 2019,Inspired Bride,22020909,40728,0,0,"Color Palette: Golden Rod, White, and Gray htt..."
2160,11,Wed Apr 03 23:33:00 +0000 2019,Will Adams,21068187,5590,0,0,#Pinterest for Business: Seven Helpful Tips [I...
6,6,Wed Apr 03 17:55:04 +0000 2019,Andromeda Beauty,19330585,2079,0,0,Jannis Niew√∂hner https://t.co/cHXzNbuFLY via @...
2193,44,Wed Apr 03 21:52:25 +0000 2019,Michelle D Harris - Social Media,18854635,52272,2,0,Love the #roses in my communal garden - they a...
2220,71,Wed Apr 03 20:44:09 +0000 2019,Michelle D Harris - Social Media,18854635,52272,0,0,It Monday still right lol I forgot to post my ...
2179,30,Wed Apr 03 22:17:00 +0000 2019,‚ô• Suzie ‚ô•,16630502,12772,0,0,"The Best Time to Post on #Instagram, #Facebook..."
2152,3,Thu Apr 04 00:20:08 +0000 2019,socialmediacombo,16555374,2110,0,1,RT @postoff25: What do you think? https://t.co...
2149,0,Thu Apr 04 00:30:03 +0000 2019,Gabriella Sannino,15506203,11208,0,0,6 Compelling Reasons Why Your Business Should ...
2166,17,Wed Apr 03 23:10:46 +0000 2019,Jonathan Gebauer,14205576,164012,0,0,You need to get your basics right if you are l...
23,23,Wed Apr 03 17:34:08 +0000 2019,sowa,10474692,96,0,0,Whisky flok inbid fil kalci tal ARcisqof https...
2184,35,Wed Apr 03 22:11:25 +0000 2019,Gabriel Huecas,2807841,660,0,1,RT @biblioUPM: Tres centrales t√©rmicas espa√±ol...

In [62]:
pinterest_filtered_df.describe()

,Unnamed: 0,User ID,User Follower Count,Likes Counts,ReTweet Count
count,176.000000,1.760000e+02,176.000000,176.000000,176.000000
mean,66.835227,2.556862e+17,6058.943182,0.181818,26.136364
std,164.904998,4.291131e+17,15671.626804,0.596091,109.320361
min,0.000000,2.807841e+06,1.000000,0.000000,0.000000
25%,21.750000,1.024241e+08,124.000000,0.000000,0.000000
50%,43.500000,9.761855e+08,1107.000000,0.000000,0.000000
75%,65.250000,7.584289e+17,5369.000000,0.000000,0.000000
max,1891.000000,1.113549e+18,164012.000000,5.000000,496.000000

In [63]:
# Count total out of Unique Tweets
pinterest_total_tweets = len(pinterest_filtered_df['Tweet Text'])
pinterest_total_tweets

176

In [64]:
# Calculate Facebook Avg Followers - doesn't make sense to sum.
pinterest_avg_followers_ct = pinterest_filtered_df['User Follower Count'].mean()
pinterest_avg_followers_ct

6058.943181818182

In [65]:
# Total Likes of all tweets
pinterest_total_likes = pinterest_filtered_df['Likes Counts'].sum()
#pinterest_avg_likes = pinterest_filtered_df['Likes Counts'].mean()
pinterest_total_likes
#pinterest_avg_likes

32

In [66]:
# Retweets Stats:
#pinterest_sum_retweets = pinterest_filtered_df['ReTweet Count'].sum()
pinterest_avg_retweets = pinterest_filtered_df['ReTweet Count'].mean()
#pinterest_sum_retweets
pinterest_avg_retweets

26.136363636363637

### Bible (You Version) Calculations

In [67]:
plug = 'bible'
path = f'./resources/{plug}'
all_files = glob.glob(path + "/*.csv")
li = []
for filename in all_files:
    df = pd.read_csv(filename, index_col=None, header=0)
    li.append(df)
bible_source_df = pd.concat(li, axis=0, ignore_index=True)
bible_source_df
# Snapshot Statistics
bible_source_df.describe()

,Unnamed: 0,User ID,User Follower Count,Likes Counts,ReTweet Count
count,5040.000000,5.040000e+03,5040.000000,5040.000000,5040.000000
mean,987.892857,2.181067e+17,2066.002381,0.741270,21.110913
std,755.624089,3.959182e+17,4466.433459,2.978477,39.783790
min,0.000000,1.409471e+06,1.000000,0.000000,0.000000
25%,314.750000,1.462119e+08,90.000000,0.000000,0.000000
50%,854.500000,1.090482e+09,313.000000,0.000000,0.000000
75%,1484.250000,3.667774e+09,1190.000000,1.000000,7.000000
max,2699.000000,1.112643e+18,34769.000000,36.000000,163.000000

In [68]:
bible_source_df.head()

,Unnamed: 0,Created At,Screen Name,User ID,User Follower Count,Likes Counts,ReTweet Count,Tweet Text
0,0,Wed Apr 03 15:23:43 +0000 2019,Tommy Buch üéöüïäüá∫üá∏üê∏,3004439539,6136,1,0,#BibleStudy üìñ April 3\n\nOT - Deuteronomy chap...
1,1,Wed Apr 03 14:59:08 +0000 2019,OrgThis Blog - S.Lee,258926868,11277,0,1,RT @TheGodBlessGirl: On-line #Devotionals and ...
2,2,Wed Apr 03 14:21:00 +0000 2019,TheGodBlessGirl,3292909502,191,0,1,On-line #Devotionals and #Bible Readings: @You...
3,3,Wed Apr 03 14:20:05 +0000 2019,The Gentleman Poet,178151268,273,0,0,"‚ÄúCome to me, all you who are weary and burdene..."
4,4,Wed Apr 03 12:07:11 +0000 2019,Phillip Simfukwe,1099913636,66,0,0,"~ Amen ~\n,‚ñ™\n‚ñ™\n‚ñ™\nImage created by the @youv..."

In [69]:
# Sort to set up removal of duplicates
bible_source_df.sort_values(by=['User ID','Created At'], ascending=False)

,Unnamed: 0,Created At,Screen Name,User ID,User Follower Count,Likes Counts,ReTweet Count,Tweet Text
2359,19,Wed Apr 03 17:21:08 +0000 2019,Maddys ghost,1112643032627580930,16,0,94,"RT @YouVersion: Come to me, all you who are we..."
2459,119,Wed Apr 03 17:21:08 +0000 2019,Maddys ghost,1112643032627580930,16,0,94,"RT @YouVersion: Come to me, all you who are we..."
2559,219,Wed Apr 03 17:21:08 +0000 2019,Maddys ghost,1112643032627580930,16,0,94,"RT @YouVersion: Come to me, all you who are we..."
2659,319,Wed Apr 03 17:21:08 +0000 2019,Maddys ghost,1112643032627580930,16,0,94,"RT @YouVersion: Come to me, all you who are we..."
2760,420,Wed Apr 03 17:21:08 +0000 2019,Maddys ghost,1112643032627580930,16,0,94,"RT @YouVersion: Come to me, all you who are we..."
2860,520,Wed Apr 03 17:21:08 +0000 2019,Maddys ghost,1112643032627580930,16,0,94,"RT @YouVersion: Come to me, all you who are we..."
2960,620,Wed Apr 03 17:21:08 +0000 2019,Maddys ghost,1112643032627580930,16,0,94,"RT @YouVersion: Come to me, all you who are we..."
3060,720,Wed Apr 03 17:21:08 +0000 2019,Maddys ghost,1112643032627580930,16,0,94,"RT @YouVersion: Come to me, all you who are we..."
3160,820,Wed Apr 03 17:21:08 +0000 2019,Maddys ghost,1112643032627580930,16,0,94,"RT @YouVersion: Come to me, all you who are we..."
3260,920,Wed Apr 03 17:21:08 +0000 2019,Maddys ghost,1112643032627580930,16,0,94,"RT @YouVersion: Come to me, all you who are we..."
3360,1020,Wed Apr 03 17:21:08 +0000 2019,Maddys ghost,1112643032627580930,16,0,94,"RT @YouVersion: Come to me, all you who are we..."
3460,1120,Wed Apr 03 17:21:08 +0000 2019,Maddys ghost,1112643032627580930,16,0,94,"RT @YouVersion: Come to me, all you who are we..."
3560,1220,Wed Apr 03 17:21:08 +0000 2019,Maddys ghost,1112643032627580930,16,0,94,"RT @YouVersion: Come to me, all you who are we..."
3660,1320,Wed Apr 03 17:21:08 +0000 2019,Maddys ghost,1112643032627580930,16,0,94,"RT @YouVersion: Come to me, all you who are we..."
3760,1420,Wed Apr 03 17:21:08 +0000 2019,Maddys ghost,1112643032627580930,16,0,94,"RT @YouVersion: Come to me, all you who are we..."
3860,1520,Wed Apr 03 17:21:08 +0000 2019,Maddys ghost,1112643032627580930,16,0,94,"RT @YouVersion: Come to me, all you who are we..."
3960,1620,Wed Apr 03 17:21:08 +0000 2019,Maddys ghost,1112643032627580930,16,0,94,"RT @YouVersion: Come to me, all you who are we..."
4060,1720,Wed Apr 03 17:21:08 +0000 2019,Maddys ghost,1112643032627580930,16,0,94,"RT @YouVersion: Come to me, all you who are we..."
4160,1820,Wed Apr 03 17:21:08 +0000 2019,Maddys ghost,1112643032627580930,16,0,94,"RT @YouVersion: Come to me, all you who are we..."
4260,1920,Wed Apr 03 17:21:08 +0000 2019,Maddys ghost,1112643032627580930,16,0,94,"RT @YouVersion: Come to me, all you who are we..."
4360,2020,Wed Apr 03 17:21:08 +0000 2019,Maddys ghost,1112643032627580930,16,0,94,"RT @YouVersion: Come to me, all you who are we..."
4460,2120,Wed Apr 03 17:21:08 +0000 2019,Maddys ghost,1112643032627580930,16,0,94,"RT @YouVersion: Come to me, all you who are we..."
4560,2220,Wed Apr 03 17:21:08 +0000 2019,Maddys ghost,1112643032627580930,16,0,94,"RT @YouVersion: Come to me, all you who are we..."
4660,2320,Wed Apr 03 17:21:08 +0000 2019,Maddys ghost,1112643032627580930,16,0,94,"RT @YouVersion: Come to me, all you who are we..."
4760,2420,Wed Apr 03 17:21:08 +0000 2019,Maddys ghost,1112643032627580930,16,0,94,"RT @YouVersion: Come to me, all you who are we..."
4860,2520,Wed Apr 03 17:21:08 +0000 2019,Maddys ghost,1112643032627580930,16,0,94,"RT @YouVersion: Come to me, all you who are we..."
4960,2620,Wed Apr 03 17:21:08 +0000 2019,Maddys ghost,1112643032627580930,16,0,94,"RT @YouVersion: Come to me, all you who are we..."
2394,54,Wed Apr 03 16:06:34 +0000 2019,GaLüè≥Ô∏è‚Äçüåàüåàüèêüëë,1110903724568805376,23,0,118,RT @YouVersion: For God so loved the world tha...
2494,154,Wed Apr 03 16:06:34 +0000 2019,GaLüè≥Ô∏è‚Äçüåàüåàüèêüëë,1110903724568805376,23,0,118,RT @YouVersion: For God so loved the world tha...
2594,254,Wed Apr 03 16:06:34 +0000 2019,GaLüè≥Ô∏è‚Äçüåàüåàüèêüëë,1110903724568805376,23,0,118,RT @YouVersion: For God so loved the world tha...
...,...,...,...,...,...,...,...,...
4719,2379,Wed Apr 03 15:22:33 +0000 2019,Bob Mungovan,10747722,460,1,0,I just finished day 220 of the @YouVersion pla...
4819,2479,Wed Apr 03 15:22:33 +0000 2019,Bob Mungovan,10747722,460,1,0,I just finished day 220 of the @YouVersion pla...
4919,2579,Wed Apr 03 15:22:33 +0000 2019,Bob Mungovan,10747722,460,1,0,I just finished day 220 of the @YouVersion pla...
5019,2679,Wed Apr 03 15:22:33 +0000 2019,Bob Mungovan,10747722,460,1,0,I just finished day 220 of the @YouVersion pla...
29,29,Mon Apr 01 19:04:37 +0000 2019,Bobby Gruenewald,1409471,34769,36,7,There‚Äôs no risk of failure with God! So why wo...
119,119,Mon Apr 01 19:04:37 +0000 2019,Bobby Gruenewald,1409471,34769,36,7,There‚Äôs no risk of failure with God! So why wo...
209,209,Mon Apr 01 19:04:37 +0000 2019,Bobby Gruenewald,1409471,34769,36,7,There‚Äôs no risk of failure with God! So why wo...
299,299,Mon Apr 01 19:04:37 +0000 2019,Bobby Gruenewald,1409471,34769,36,7,There‚Äôs no risk of failure with God! So why wo...
389,389,Mon Apr 01 19:04:37 +0000 2019,Bobby Gruenewald,1409471,34769,36,7,There‚Äôs no risk of failure with God! So why wo...
479,479,Mon Apr 01 19:04:37 +0000 2019,Bobby Gruenewald,1409471,34769,36,7,There‚Äôs no risk of failure with God! So why wo...
569,569,Mon Apr 01 19:04:37 +0000 2019,Bobby Gruenewald,1409471,34769,36,7,There‚Äôs no risk of failure with God! So why wo...
659,659,Mon Apr 01 19:04:37 +0000 2019,Bobby Gruenewald,1409471,34769,36,7,There‚Äôs no risk of failure with God! So why wo...
749,749,Mon Apr 01 19:04:37 +0000 2019,Bobby Gruenewald,1409471,34769,36,7,There‚Äôs no risk of failure with God! So why wo...
839,839,Mon Apr 01 19:04:37 +0000 2019,Bobby Gruenewald,1409471,34769,36,7,There‚Äôs no risk of failure with God! So why wo...
929,929,Mon Apr 01 19:04:37 +0000 2019,Bobby Gruenewald,1409471,34769,36,7,There‚Äôs no risk of failure with God! So why wo...
1019,1019,Mon Apr 01 19:04:37 +0000 2019,Bobby Gruenewald,1409471,34769,36,7,There‚Äôs no risk of failure with God! So why wo...
1109,1109,Mon Apr 01 19:04:37 +0000 2019,Bobby Gruenewald,1409471,34769,36,7,There‚Äôs no risk of failure with God! So why wo...
1199,1199,Mon Apr 01 19:04:37 +0000 2019,Bobby Gruenewald,1409471,34769,36,7,There‚Äôs no risk of failure with God! So why wo...
1289,1289,Mon Apr 01 19:04:37 +0000 2019,Bobby Gruenewald,1409471,34769,36,7,There‚Äôs no risk of failure with God! So why wo...
1379,1379,Mon Apr 01 19:04:37 +0000 2019,Bobby Gruenewald,1409471,34769,36,7,There‚Äôs no risk of failure with God! So why wo...
1469,1469,Mon Apr 01 19:04:37 +0000 2019,Bobby Gruenewald,1409471,34769,36,7,There‚Äôs no risk of failure with God! So why wo...
1559,29,Mon Apr 01 19:04:37 +0000 2019,Bobby Gruenewald,1409471,34769,36,7,There‚Äôs no risk of failure with God! So why wo...
1649,119,Mon Apr 01 19:04:37 +0000 2019,Bobby Gruenewald,1409471,34769,36,7,There‚Äôs no risk of failure with God! So why wo...
1739,209,Mon Apr 01 19:04:37 +0000 2019,Bobby Gruenewald,1409471,34769,36,7,There‚Äôs no risk of failure with God! So why wo...
1829,299,Mon Apr 01 19:04:37 +0000 2019,Bobby Gruenewald,1409471,34769,36,7,There‚Äôs no risk of failure with God! So why wo...
1919,389,Mon Apr 01 19:04:37 +0000 2019,Bobby Gruenewald,1409471,34769,36,7,There‚Äôs no risk of failure with God! So why wo...
2009,29,Mon Apr 01 19:04:37 +0000 2019,Bobby Gruenewald,1409471,34769,36,7,There‚Äôs no risk of failure with God! So why wo...
2099,119,Mon Apr 01 19:04:37 +0000 2019,Bobby Gruenewald,1409471,34769,36,7,There‚Äôs no risk of failure with God! So why wo...
2189,209,Mon Apr 01 19:04:37 +0000 2019,Bobby Gruenewald,1409471,34769,36,7,There‚Äôs no risk of failure with God! So why wo...
2279,299,Mon Apr 01 19:04:37 +0000 2019,Bobby Gruenewald,1409471,34769,36,7,There‚Äôs no risk of failure with God! So why wo...

In [70]:
# Drop Duplicates only for matching columns omitting the index
bible_filtered_df = bible_source_df.drop_duplicates(['Created At', 'Screen Name', 'User ID', 'User Follower Count', 'Likes Counts', 'ReTweet Count', 'Tweet Text']).sort_values(by=['User ID','Created At'], ascending=False)

In [71]:
bible_filtered_df

,Unnamed: 0,Created At,Screen Name,User ID,User Follower Count,Likes Counts,ReTweet Count,Tweet Text
2359,19,Wed Apr 03 17:21:08 +0000 2019,Maddys ghost,1112643032627580930,16,0,94,"RT @YouVersion: Come to me, all you who are we..."
2394,54,Wed Apr 03 16:06:34 +0000 2019,GaLüè≥Ô∏è‚Äçüåàüåàüèêüëë,1110903724568805376,23,0,118,RT @YouVersion: For God so loved the world tha...
2395,55,Wed Apr 03 16:06:11 +0000 2019,GaLüè≥Ô∏è‚Äçüåàüåàüèêüëë,1110903724568805376,23,0,94,"RT @YouVersion: Come to me, all you who are we..."
42,42,Sun Mar 31 08:47:44 +0000 2019,Hester F. Kacee,1108355540655243264,2,0,1,RT @we_will_worship: Here is your 'Verse of th...
2389,49,Wed Apr 03 16:13:19 +0000 2019,Kay,1101269012791640064,980,0,0,Here is where you will find scriptures that wi...
61,61,Fri Mar 29 04:50:29 +0000 2019,Amen,1099747741129936897,2709,0,1,"RT @PhillipSimfukwe: ~ ""perplexed, but not in ..."
2388,48,Wed Apr 03 16:17:38 +0000 2019,x-Diana Frances,1088992134089256962,30,0,0,I absolutely LOVE this devotional! Lots of har...
2382,42,Wed Apr 03 16:29:59 +0000 2019,Eugenia B Halbert,1051525737939791872,1,1,0,I just finished day 26 of the @YouVersion plan...
2393,53,Wed Apr 03 16:07:55 +0000 2019,was @XOXO_DIM,1047444897819709441,301,0,66,RT @livechristian1: **VERSE OF THE DAY**\n\nTh...
87,87,Mon Mar 25 13:11:19 +0000 2019,John Mason,1022833002613755906,514,3,0,Making Marriage Beautiful\nhttps://t.co/wCj1KL...
1617,87,Mon Mar 25 13:11:19 +0000 2019,John Mason,1022833002613755906,513,3,0,Making Marriage Beautiful\nhttps://t.co/wCj1KL...
75,75,Wed Mar 27 05:00:40 +0000 2019,We Will Worship,1006082367151370240,182,16,0,Here is your 'Verse of the day'!\n\nImage via ...
10,10,Wed Apr 03 05:00:33 +0000 2019,We Will Worship,1006082367151370240,182,1,0,Here is your 'Verse of the day'!\n\nImage via ...
82,82,Tue Mar 26 05:00:32 +0000 2019,We Will Worship,1006082367151370240,182,2,0,Here is your 'Verse of the day'!\n\nImage via ...
23,23,Tue Apr 02 05:00:36 +0000 2019,We Will Worship,1006082367151370240,182,0,0,Here is your 'Verse of the day'!\n\nImage via ...
68,68,Thu Mar 28 05:00:37 +0000 2019,We Will Worship,1006082367151370240,182,2,0,Here is your 'Verse of the day'!\n\nImage via ...
43,43,Sun Mar 31 05:00:25 +0000 2019,We Will Worship,1006082367151370240,182,0,1,Here is your 'Verse of the day'!\n\nImage via ...
54,54,Sat Mar 30 05:00:30 +0000 2019,We Will Worship,1006082367151370240,182,0,0,Here is your 'Verse of the day'!\n\nImage via ...
89,89,Mon Mar 25 05:00:34 +0000 2019,We Will Worship,1006082367151370240,182,1,0,Here is your 'Verse of the day'!\n\nImage via ...
60,60,Fri Mar 29 05:00:33 +0000 2019,We Will Worship,1006082367151370240,182,8,1,Here is your 'Verse of the day'!\n\nImage via ...
2415,75,Wed Apr 03 15:24:10 +0000 2019,BonShiiiin,989689525638053891,41,0,66,RT @livechristian1: **VERSE OF THE DAY**\n\nTh...
14,14,Wed Apr 03 01:19:17 +0000 2019,Team Of Indore,963337426205732864,794,0,1,RT @SteveRepak: A 7 Day #Bible reading Plan to...
2376,36,Wed Apr 03 16:37:48 +0000 2019,lina,961363261391286278,99,0,5,"RT @ShellNotFall: ""No matter how intimidating ..."
57,57,Fri Mar 29 11:13:37 +0000 2019,Ariane Desbiens,937281240398360576,541,0,1,RT @_TORedemption: I was reflecting on prayer ...
51,51,Sat Mar 30 05:24:50 +0000 2019,God bless you,928618106863448064,2898,0,1,RT @AmyHood8611: The @YouVersion Bible App has...
1581,51,Sat Mar 30 05:24:50 +0000 2019,God bless you,928618106863448064,2897,0,1,RT @AmyHood8611: The @YouVersion Bible App has...
2436,96,Wed Apr 03 14:54:53 +0000 2019,"it's ya queen, dlho üë∏üèæ",882961952905080832,647,0,94,"RT @YouVersion: Come to me, all you who are we..."
2370,30,Wed Apr 03 16:56:49 +0000 2019,Neal Detwiler,870671371990294529,3,0,0,I just finished day 14 of the @YouVersion plan...
50,50,Sat Mar 30 05:51:50 +0000 2019,Amy Hood,858101747037777920,163,0,0,I just finished day 1 of the @YouVersion plan ...
52,52,Sat Mar 30 05:18:56 +0000 2019,Amy Hood,858101747037777920,163,3,1,The @YouVersion Bible App has a permanent spot...
...,...,...,...,...,...,...,...,...
2396,56,Wed Apr 03 16:06:10 +0000 2019,Julie Morales,67817457,313,0,0,I just finished day 359 of the @YouVersion pla...
2414,74,Wed Apr 03 15:25:29 +0000 2019,Julie Morales,67817457,313,0,0,I just finished day 29 of the @YouVersion plan...
2432,92,Wed Apr 03 14:56:39 +0000 2019,Doug Stoufer,59890551,86,0,0,I just finished day 93 of the @YouVersion plan...
64,64,Thu Mar 28 12:18:47 +0000 2019,Lamar Gibbs,58103754,1047,0,1,RT @_TORedemption: I was reflecting on prayer ...
2424,84,Wed Apr 03 15:11:25 +0000 2019,RonieG,55963783,412,1,0,I just finished day 102 of the @YouVersion pla...
2373,33,Wed Apr 03 16:47:23 +0000 2019,CHINAJO,49310650,297,0,94,"RT @YouVersion: Come to me, all you who are we..."
2340,0,Wed Apr 03 18:29:11 +0000 2019,Michael,47602876,89,0,94,"RT @YouVersion: Come to me, all you who are we..."
2360,20,Wed Apr 03 17:21:05 +0000 2019,Kat,46531841,6,0,94,"RT @YouVersion: Come to me, all you who are we..."
79,79,Tue Mar 26 10:46:32 +0000 2019,Tyler H. McCart,41003064,712,0,0,‚ÄúThe mature children of God are those who are ...
2402,62,Wed Apr 03 15:47:02 +0000 2019,üëãüèæHeyyyAmber‚ú®,40970263,324,0,66,RT @livechristian1: **VERSE OF THE DAY**\n\nTh...
27,27,Mon Apr 01 21:42:05 +0000 2019,Albert Br√ºckmann,39731485,426,0,7,RT @bobbygwald: There‚Äôs no risk of failure wit...
44,44,Sat Mar 30 19:09:14 +0000 2019,ekido rachael,36240704,118,0,1,RT @we_will_worship: Here is your 'Verse of th...
2368,28,Wed Apr 03 17:10:40 +0000 2019,Mattisa M.,32259939,2017,1,0,I just finished day 2 of the @YouVersion plan ...
2372,32,Wed Apr 03 16:51:45 +0000 2019,Arthur Koutsenko,27963762,645,0,66,RT @livechristian1: **VERSE OF THE DAY**\n\nTh...
2423,83,Wed Apr 03 15:11:32 +0000 2019,Alexandra Molina,27803846,824,2,0,I just finished day 27 of the @YouVersion plan...
2347,7,Wed Apr 03 18:02:05 +0000 2019,Brent Dumler,27665200,2236,0,0,Fearing the unknown outcomes of stepping into ...
2345,5,Wed Apr 03 18:14:04 +0000 2019,Ernie Sullivan,23793826,27,0,0,I just finished day 270 of the @YouVersion pla...
2349,9,Wed Apr 03 17:58:59 +0000 2019,Ernie Sullivan,23793826,27,1,0,I just finished day 29 of the @YouVersion plan...
2348,8,Wed Apr 03 18:01:33 +0000 2019,‚öìÔ∏èMermaid at Heart‚öì,21540776,1109,0,0,I'm reading the @YouVersion plan 'Uncensored: ...
11,11,Wed Apr 03 04:00:32 +0000 2019,Jon Edmiston,21139402,361,0,7,RT @bobbygwald: There‚Äôs no risk of failure wit...
2400,60,Wed Apr 03 15:50:00 +0000 2019,Joan Bandy,17141143,129,0,94,"RT @YouVersion: Come to me, all you who are we..."
2427,87,Wed Apr 03 15:05:35 +0000 2019,Tobias Dunn,16576930,129,0,0,(Image and Scripture is courtesy of @youversio...
2377,37,Wed Apr 03 16:37:00 +0000 2019,Lino Morales,15564938,1190,0,0,I just finished day 3 of the @YouVersion plan ...
2399,59,Wed Apr 03 15:54:18 +0000 2019,Lino Morales,15564938,1190,0,0,I finished the Tremble From MOSAIC MSC Bible r...
2401,61,Wed Apr 03 15:47:58 +0000 2019,Lino Morales,15564938,1190,0,0,I just finished day 3 of the @YouVersion plan ...
2403,63,Wed Apr 03 15:44:19 +0000 2019,Lino Morales,15564938,1190,0,0,I just finished day 29 of the @YouVersion plan...
2425,85,Wed Apr 03 15:10:51 +0000 2019,Lino Morales,15564938,1190,0,0,I just finished day 28 of the @YouVersion plan...
2369,29,Wed Apr 03 16:57:30 +0000 2019,Lucas Kunert,14480636,931,0,0,Pretty pleased with this streak in @youversion...
2418,78,Wed Apr 03 15:22:33 +0000 2019,Bob Mungovan,10747722,460,1,0,I just finished day 220 of the @YouVersion pla...
29,29,Mon Apr 01 19:04:37 +0000 2019,Bobby Gruenewald,1409471,34769,36,7,There‚Äôs no risk of failure with God! So why wo...

In [72]:
bible_filtered_df.describe()

,Unnamed: 0,User ID,User Follower Count,Likes Counts,ReTweet Count
count,194.000000,1.940000e+02,194.000000,194.000000,194.000000
mean,51.324742,2.272229e+17,2070.659794,0.752577,20.865979
std,52.113594,4.024116e+17,4472.581949,2.988860,39.625482
min,0.000000,1.409471e+06,1.000000,0.000000,0.000000
25%,23.250000,1.471803e+08,90.750000,0.000000,0.000000
50%,47.500000,1.099914e+09,313.000000,0.000000,0.000000
75%,71.000000,4.549237e+09,1169.750000,1.000000,7.000000
max,553.000000,1.112643e+18,34769.000000,36.000000,163.000000

In [73]:
# Count total out of Unique Tweets
bible_total_tweets = len(bible_filtered_df['Tweet Text'])
bible_total_tweets

194

In [74]:
# Calculate Avg Followers - doesn't make sense to sum.
bible_avg_followers_ct = bible_filtered_df['User Follower Count'].mean()
bible_avg_followers_ct

2070.659793814433

In [75]:
# Total Likes of all tweets
bible_total_likes = bible_filtered_df['Likes Counts'].sum()
#bible_avg_likes = bible_filtered_df['Likes Counts'].mean()
bible_total_likes
#bible_avg_likes

146

In [76]:
# Retweets Stats:
#bible_sum_retweets = bible_filtered_df['ReTweet Count'].sum()
bible_avg_retweets = bible_filtered_df['ReTweet Count'].mean()
#bible_sum_retweets
bible_avg_retweets

20.8659793814433

### Candy Crush Saga Calculations

In [77]:
plug = 'candycrushsaga'
path = f'./resources/{plug}'
all_files = glob.glob(path + "/*.csv")
li = []
for filename in all_files:
    df = pd.read_csv(filename, index_col=None, header=0)
    li.append(df)
CandyCrushSaga_source_df = pd.concat(li, axis=0, ignore_index=True)

# Snapshot Statistics
CandyCrushSaga_source_df.describe()

,Unnamed: 0,User ID,User Follower Count,Likes Counts,ReTweet Count
count,6069.000000,6.069000e+03,6069.000000,6069.000000,6069.000000
mean,507.865546,2.286053e+17,4947.816609,1.328720,0.404844
std,296.462105,4.008503e+17,22191.791507,5.014501,1.048455
min,0.000000,1.270613e+07,0.000000,0.000000,0.000000
25%,252.000000,2.488358e+08,122.000000,0.000000,0.000000
50%,505.000000,7.947122e+08,406.000000,0.000000,0.000000
75%,758.000000,4.274617e+09,1225.000000,1.000000,0.000000
max,1099.000000,1.113483e+18,168471.000000,53.000000,5.000000

In [78]:
# has duplicates
CandyCrushSaga_source_df.sort_values(by=['User ID','Created At'], ascending=False)
CandyCrushSaga_source_df.head()

,Unnamed: 0,Created At,Screen Name,User ID,User Follower Count,Likes Counts,ReTweet Count,Tweet Text
0,0,Wed Apr 03 22:56:01 +0000 2019,Jack,820375452468514816,92,0,0,@CandyCrushSaga Is this on the souljaphone?
1,1,Wed Apr 03 22:32:38 +0000 2019,Emyly A. Sivira R.,411661824,100,0,0,@CandyCrushSaga üëç
2,2,Wed Apr 03 17:43:33 +0000 2019,Alex Sprague,381743591,2222,0,0,@candycrushsaga candy_crush_soda oh wow. Wasn‚Äô...
3,3,Wed Apr 03 17:23:07 +0000 2019,Leah Bartlett,755644242,275,0,0,@CandyCrushSaga Android!
4,4,Wed Apr 03 17:10:43 +0000 2019,Wendy‚Äôs World,882972754890428417,1818,2,0,@OhioSQ @cassieglows @28DaysMore @CandyCrushSa...

In [79]:
# Drop Duplicates only for matching columns omitting the index
CandyCrushSaga_filtered_df = CandyCrushSaga_source_df.drop_duplicates(['Created At', 'Screen Name', 'User ID', 'User Follower Count', 'Likes Counts', 'ReTweet Count', 'Tweet Text']).sort_values(by=['User ID','Created At'], ascending=False)

In [80]:
# Get New Snap Shot Statistics
CandyCrushSaga_filtered_df.describe()

,Unnamed: 0,User ID,User Follower Count,Likes Counts,ReTweet Count
count,192.000000,1.920000e+02,192.000000,192.000000,192.000000
mean,47.182292,2.067172e+17,7109.208333,1.598958,0.380208
std,27.455687,3.897017e+17,27030.514906,6.021828,1.051662
min,0.000000,1.270613e+07,0.000000,0.000000,0.000000
25%,25.000000,1.658855e+08,122.000000,0.000000,0.000000
50%,47.000000,7.556442e+08,411.500000,0.000000,0.000000
75%,70.000000,3.556615e+09,1818.000000,1.000000,0.000000
max,99.000000,1.113483e+18,168471.000000,53.000000,5.000000

In [81]:
CandyCrushSaga_filtered_df.head()

,Unnamed: 0,Created At,Screen Name,User ID,User Follower Count,Likes Counts,ReTweet Count,Tweet Text
4206,6,Wed Apr 03 17:16:54 +0000 2019,Lori123,1113483046705979393,0,0,0,"""Play Candy Crush with me! --&gt; https://t.co..."
4213,13,Wed Apr 03 09:33:28 +0000 2019,Laplace francoise,1113369305876398080,0,0,0,"""Play Candy Crush with me! --&gt; https://t.co..."
4240,40,Sun Mar 31 21:46:02 +0000 2019,francesca,1112468568904474627,0,0,0,"""Play Candy Crush with me! --&gt; https://t.co..."
37,37,Wed Apr 03 05:49:54 +0000 2019,DJ PRINCE KEN-C,1109559524799799301,2,0,0,@ivwa @CandyCrushSaga Hi
13,13,Wed Apr 03 13:57:56 +0000 2019,Joanne Hayleigh,1109183320024403968,2,0,1,RT @axebangeraxelor: ‚Å¶@CandyCrushSaga‚Å© I know ...

In [82]:
# Count total out of Unique Tweets
candycrushsaga_total_tweets = len(CandyCrushSaga_filtered_df['Tweet Text'])
candycrushsaga_total_tweets

192

In [83]:
# Calculate Avg Followers - doesn't make sense to sum.
candycrushsaga_avg_followers_ct = CandyCrushSaga_filtered_df['User Follower Count'].mean()
candycrushsaga_avg_followers_ct

7109.208333333333

In [84]:
# Total Likes of all tweets
candycrushsaga_total_likes = CandyCrushSaga_filtered_df['Likes Counts'].sum()
#facebook_avg_likes = facebook_filtered_df['Likes Counts'].mean()
candycrushsaga_total_likes
#facebook_avg_likes

307

In [85]:
# Retweets Stats:
#facebook_sum_retweets = facebook_filtered_df['ReTweet Count'].sum()
candycrushsaga_avg_retweets = CandyCrushSaga_filtered_df['ReTweet Count'].mean()
#facebook_sum_retweets
candycrushsaga_avg_retweets

0.3802083333333333

### Spotify Music Caculations

In [86]:
plug = 'spotify'
path = f'./resources/{plug}'
all_files = glob.glob(path + "/*.csv")
li = []
for filename in all_files:
    df = pd.read_csv(filename, index_col=None, header=0)
    li.append(df)
spotify_source_df = pd.concat(li, axis=0, ignore_index=True)

# Snapshot Statistics
spotify_source_df.describe()

,Unnamed: 0,User ID,User Follower Count,Likes Counts,ReTweet Count
count,3139.000000,3.139000e+03,3139.000000,3139.000000,3139.000000
mean,784.148136,2.644418e+17,10774.734947,0.280663,172.918764
std,596.843192,4.283853e+17,70140.745584,1.650824,515.985566
min,0.000000,3.646461e+06,0.000000,0.000000,0.000000
25%,261.000000,2.858961e+08,154.000000,0.000000,0.000000
50%,640.000000,1.706741e+09,524.000000,0.000000,1.000000
75%,1264.500000,7.747843e+17,1881.000000,0.000000,13.000000
max,2049.000000,1.113600e+18,763374.000000,17.000000,4958.000000

In [87]:
spotify_source_df.head()

,Unnamed: 0,Created At,Screen Name,User ID,User Follower Count,Likes Counts,ReTweet Count,Tweet Text
0,0,Wed Apr 03 18:43:08 +0000 2019,theo,1103828047059345409,54,0,792,"RT @PViphurit: A lot of love for you, 2018 @Sp..."
1,1,Wed Apr 03 18:43:06 +0000 2019,yes,1000405371507347456,11,0,0,@Spotify CHANGE THE LAYOUT BACK THAT SHIT IS UGLY
2,2,Wed Apr 03 18:43:03 +0000 2019,ùêÉùêÄùêçùêà,796905277421449216,908,0,0,Thank you @Spotify for this playlist. üòçüòç https...
3,3,Wed Apr 03 18:43:01 +0000 2019,RunBTS,860162403102797825,1265,0,1005,RT @blobyblo: Million+ souls listening to us r...
4,4,Wed Apr 03 18:43:00 +0000 2019,‚ú¥Azul Spears‚ú¥‚ù§‚ùÑüòçüíï,4485474317,177,0,5,RT @eshygazit: MONBEBE ALERT! \nLet's stream #...

In [88]:
# Sort to set up removal of duplicates
spotify_source_df.sort_values(by=['User ID','Created At'], ascending=False)

,Unnamed: 0,Created At,Screen Name,User ID,User Follower Count,Likes Counts,ReTweet Count,Tweet Text
2385,46,Thu Apr 04 00:35:27 +0000 2019,md faruk,1113600206367539201,0,0,778,RT @iamterrell5: https://t.co/lkfOCpnHCj\n\n#a...
2465,126,Thu Apr 04 00:35:27 +0000 2019,md faruk,1113600206367539201,0,0,777,RT @iamterrell5: https://t.co/lkfOCpnHCj\n\n#a...
2545,206,Thu Apr 04 00:35:27 +0000 2019,md faruk,1113600206367539201,0,0,777,RT @iamterrell5: https://t.co/lkfOCpnHCj\n\n#a...
2625,286,Thu Apr 04 00:35:27 +0000 2019,md faruk,1113600206367539201,0,0,777,RT @iamterrell5: https://t.co/lkfOCpnHCj\n\n#a...
2704,365,Thu Apr 04 00:35:27 +0000 2019,md faruk,1113600206367539201,0,0,777,RT @iamterrell5: https://t.co/lkfOCpnHCj\n\n#a...
2783,444,Thu Apr 04 00:35:27 +0000 2019,md faruk,1113600206367539201,0,0,777,RT @iamterrell5: https://t.co/lkfOCpnHCj\n\n#a...
2863,524,Thu Apr 04 00:35:27 +0000 2019,md faruk,1113600206367539201,0,0,777,RT @iamterrell5: https://t.co/lkfOCpnHCj\n\n#a...
2944,605,Thu Apr 04 00:35:27 +0000 2019,md faruk,1113600206367539201,0,0,777,RT @iamterrell5: https://t.co/lkfOCpnHCj\n\n#a...
3025,686,Thu Apr 04 00:35:27 +0000 2019,md faruk,1113600206367539201,0,0,777,RT @iamterrell5: https://t.co/lkfOCpnHCj\n\n#a...
3106,767,Thu Apr 04 00:35:27 +0000 2019,md faruk,1113600206367539201,0,0,777,RT @iamterrell5: https://t.co/lkfOCpnHCj\n\n#a...
2388,49,Thu Apr 04 00:34:49 +0000 2019,N8teHens,1113599070466183168,0,1,0,Should I Finish!? Retwet/follow new to Twitter...
2468,129,Thu Apr 04 00:34:49 +0000 2019,N8teHens,1113599070466183168,0,1,0,Should I Finish!? Retwet/follow new to Twitter...
2548,209,Thu Apr 04 00:34:49 +0000 2019,N8teHens,1113599070466183168,0,1,0,Should I Finish!? Retwet/follow new to Twitter...
2628,289,Thu Apr 04 00:34:49 +0000 2019,N8teHens,1113599070466183168,0,1,0,Should I Finish!? Retwet/follow new to Twitter...
2707,368,Thu Apr 04 00:34:49 +0000 2019,N8teHens,1113599070466183168,0,1,0,Should I Finish!? Retwet/follow new to Twitter...
2786,447,Thu Apr 04 00:34:49 +0000 2019,N8teHens,1113599070466183168,0,1,0,Should I Finish!? Retwet/follow new to Twitter...
2866,527,Thu Apr 04 00:34:49 +0000 2019,N8teHens,1113599070466183168,0,1,0,Should I Finish!? Retwet/follow new to Twitter...
2947,608,Thu Apr 04 00:34:49 +0000 2019,N8teHens,1113599070466183168,0,1,0,Should I Finish!? Retwet/follow new to Twitter...
3028,689,Thu Apr 04 00:34:49 +0000 2019,N8teHens,1113599070466183168,0,1,0,Should I Finish!? Retwet/follow new to Twitter...
3109,770,Thu Apr 04 00:34:49 +0000 2019,N8teHens,1113599070466183168,0,1,0,Should I Finish!? Retwet/follow new to Twitter...
2404,65,Thu Apr 04 00:27:38 +0000 2019,Akter523,1113598086624890880,0,0,778,RT @iamterrell5: https://t.co/lkfOCpnHCj\n\n#a...
2484,145,Thu Apr 04 00:27:38 +0000 2019,Akter523,1113598086624890880,0,0,777,RT @iamterrell5: https://t.co/lkfOCpnHCj\n\n#a...
2564,225,Thu Apr 04 00:27:38 +0000 2019,Akter523,1113598086624890880,0,0,777,RT @iamterrell5: https://t.co/lkfOCpnHCj\n\n#a...
2644,305,Thu Apr 04 00:27:38 +0000 2019,Akter523,1113598086624890880,0,0,777,RT @iamterrell5: https://t.co/lkfOCpnHCj\n\n#a...
2723,384,Thu Apr 04 00:27:38 +0000 2019,Akter523,1113598086624890880,0,0,777,RT @iamterrell5: https://t.co/lkfOCpnHCj\n\n#a...
2802,463,Thu Apr 04 00:27:38 +0000 2019,Akter523,1113598086624890880,0,0,777,RT @iamterrell5: https://t.co/lkfOCpnHCj\n\n#a...
2882,543,Thu Apr 04 00:27:38 +0000 2019,Akter523,1113598086624890880,0,0,777,RT @iamterrell5: https://t.co/lkfOCpnHCj\n\n#a...
2963,624,Thu Apr 04 00:27:38 +0000 2019,Akter523,1113598086624890880,0,0,777,RT @iamterrell5: https://t.co/lkfOCpnHCj\n\n#a...
3044,705,Thu Apr 04 00:27:38 +0000 2019,Akter523,1113598086624890880,0,0,777,RT @iamterrell5: https://t.co/lkfOCpnHCj\n\n#a...
3125,786,Thu Apr 04 00:27:38 +0000 2019,Akter523,1113598086624890880,0,0,777,RT @iamterrell5: https://t.co/lkfOCpnHCj\n\n#a...
...,...,...,...,...,...,...,...,...
2210,160,Wed Apr 03 18:39:02 +0000 2019,Silentz Beats,15869104,54,0,0,@JoeBuddenPod @JoeBudden @Spotify @thisisrory ...
2306,256,Wed Apr 03 18:39:02 +0000 2019,Silentz Beats,15869104,54,0,0,@JoeBuddenPod @JoeBudden @Spotify @thisisrory ...
2055,5,Wed Apr 03 18:45:18 +0000 2019,chain gang of 1974,15800140,9742,0,0,@SpotifyMexico @Spotify üñ§
2152,102,Wed Apr 03 18:45:18 +0000 2019,chain gang of 1974,15800140,9742,0,0,@SpotifyMexico @Spotify üñ§
2248,198,Wed Apr 03 18:45:18 +0000 2019,chain gang of 1974,15800140,9742,0,0,@SpotifyMexico @Spotify üñ§
62,62,Wed Apr 03 18:36:15 +0000 2019,Sami Yusuf,8510412,763374,0,3,RT @SaadetAtes_: @SamiYusuf @DeezerMENA @deeze...
154,154,Wed Apr 03 18:36:15 +0000 2019,Sami Yusuf,8510412,763374,0,3,RT @SaadetAtes_: @SamiYusuf @DeezerMENA @deeze...
247,247,Wed Apr 03 18:36:15 +0000 2019,Sami Yusuf,8510412,763374,0,3,RT @SaadetAtes_: @SamiYusuf @DeezerMENA @deeze...
339,339,Wed Apr 03 18:36:15 +0000 2019,Sami Yusuf,8510412,763374,0,3,RT @SaadetAtes_: @SamiYusuf @DeezerMENA @deeze...
431,431,Wed Apr 03 18:36:15 +0000 2019,Sami Yusuf,8510412,763374,0,3,RT @SaadetAtes_: @SamiYusuf @DeezerMENA @deeze...
523,523,Wed Apr 03 18:36:15 +0000 2019,Sami Yusuf,8510412,763374,0,3,RT @SaadetAtes_: @SamiYusuf @DeezerMENA @deeze...
615,615,Wed Apr 03 18:36:15 +0000 2019,Sami Yusuf,8510412,763374,0,3,RT @SaadetAtes_: @SamiYusuf @DeezerMENA @deeze...
707,707,Wed Apr 03 18:36:15 +0000 2019,Sami Yusuf,8510412,763374,0,3,RT @SaadetAtes_: @SamiYusuf @DeezerMENA @deeze...
799,799,Wed Apr 03 18:36:15 +0000 2019,Sami Yusuf,8510412,763374,0,3,RT @SaadetAtes_: @SamiYusuf @DeezerMENA @deeze...
892,892,Wed Apr 03 18:36:15 +0000 2019,Sami Yusuf,8510412,763374,0,3,RT @SaadetAtes_: @SamiYusuf @DeezerMENA @deeze...
984,984,Wed Apr 03 18:36:15 +0000 2019,Sami Yusuf,8510412,763374,0,3,RT @SaadetAtes_: @SamiYusuf @DeezerMENA @deeze...
1077,1077,Wed Apr 03 18:36:15 +0000 2019,Sami Yusuf,8510412,763374,0,3,RT @SaadetAtes_: @SamiYusuf @DeezerMENA @deeze...
1170,1170,Wed Apr 03 18:36:15 +0000 2019,Sami Yusuf,8510412,763374,0,3,RT @SaadetAtes_: @SamiYusuf @DeezerMENA @deeze...
1263,1263,Wed Apr 03 18:36:15 +0000 2019,Sami Yusuf,8510412,763374,0,3,RT @SaadetAtes_: @SamiYusuf @DeezerMENA @deeze...
1361,1361,Wed Apr 03 18:36:15 +0000 2019,Sami Yusuf,8510412,763374,0,3,RT @SaadetAtes_: @SamiYusuf @DeezerMENA @deeze...
1552,1552,Wed Apr 03 18:36:15 +0000 2019,Sami Yusuf,8510412,763374,0,3,RT @SaadetAtes_: @SamiYusuf @DeezerMENA @deeze...
1647,1647,Wed Apr 03 18:36:15 +0000 2019,Sami Yusuf,8510412,763374,0,3,RT @SaadetAtes_: @SamiYusuf @DeezerMENA @deeze...
1744,1744,Wed Apr 03 18:36:15 +0000 2019,Sami Yusuf,8510412,763374,0,3,RT @SaadetAtes_: @SamiYusuf @DeezerMENA @deeze...
1839,1839,Wed Apr 03 18:36:15 +0000 2019,Sami Yusuf,8510412,763374,0,3,RT @SaadetAtes_: @SamiYusuf @DeezerMENA @deeze...
1934,1934,Wed Apr 03 18:36:15 +0000 2019,Sami Yusuf,8510412,763374,0,3,RT @SaadetAtes_: @SamiYusuf @DeezerMENA @deeze...
2031,2031,Wed Apr 03 18:36:15 +0000 2019,Sami Yusuf,8510412,763374,0,3,RT @SaadetAtes_: @SamiYusuf @DeezerMENA @deeze...
2139,89,Wed Apr 03 18:36:15 +0000 2019,Sami Yusuf,8510412,763374,0,3,RT @SaadetAtes_: @SamiYusuf @DeezerMENA @deeze...
2236,186,Wed Apr 03 18:36:15 +0000 2019,Sami Yusuf,8510412,763374,0,3,RT @SaadetAtes_: @SamiYusuf @DeezerMENA @deeze...
2332,282,Wed Apr 03 18:36:15 +0000 2019,Sami Yusuf,8510412,763374,0,3,RT @SaadetAtes_: @SamiYusuf @DeezerMENA @deeze...
1463,1463,Wed Apr 03 18:44:04 +0000 2019,Yukito,3646461,591,0,1,RT @gaymer_mx: De las √∫ltimas fotos que le he ...

In [89]:
# Drop Duplicates only for matching columns omitting the index
spotify_filtered_df = spotify_source_df.drop_duplicates(['Created At', 'Screen Name', 'User ID', 'User Follower Count', 'Likes Counts', 'ReTweet Count', 'Tweet Text']).sort_values(by=['User ID','Created At'], ascending=False)

In [90]:
spotify_filtered_df

,Unnamed: 0,Created At,Screen Name,User ID,User Follower Count,Likes Counts,ReTweet Count,Tweet Text
2385,46,Thu Apr 04 00:35:27 +0000 2019,md faruk,1113600206367539201,0,0,778,RT @iamterrell5: https://t.co/lkfOCpnHCj\n\n#a...
2465,126,Thu Apr 04 00:35:27 +0000 2019,md faruk,1113600206367539201,0,0,777,RT @iamterrell5: https://t.co/lkfOCpnHCj\n\n#a...
2388,49,Thu Apr 04 00:34:49 +0000 2019,N8teHens,1113599070466183168,0,1,0,Should I Finish!? Retwet/follow new to Twitter...
2404,65,Thu Apr 04 00:27:38 +0000 2019,Akter523,1113598086624890880,0,0,778,RT @iamterrell5: https://t.co/lkfOCpnHCj\n\n#a...
2484,145,Thu Apr 04 00:27:38 +0000 2019,Akter523,1113598086624890880,0,0,777,RT @iamterrell5: https://t.co/lkfOCpnHCj\n\n#a...
2386,47,Thu Apr 04 00:35:24 +0000 2019,yoko seay,1113597154860265473,0,0,709,RT @beckman_jay: the official Teaser Video 4 #...
2411,72,Thu Apr 04 00:25:05 +0000 2019,Brittany,1113155188238495744,5,0,0,#Spotify has introduced me to 4 #BillieEilish ...
1445,1445,Wed Apr 03 18:44:04 +0000 2019,mar√≠a,1112723071604060161,84,0,366,RT @adriianasnchez: Cuando miro cuerpos ajenos...
69,69,Wed Apr 03 18:35:30 +0000 2019,BloggerTeaRT ‚òïÔ∏è üîÅ,1105511441766010880,906,0,2,RT @fleurdubelle: If you haven‚Äôt checked out m...
0,0,Wed Apr 03 18:43:08 +0000 2019,theo,1103828047059345409,54,0,792,"RT @PViphurit: A lot of love for you, 2018 @Sp..."
1490,1490,Wed Apr 03 18:43:08 +0000 2019,theo,1103828047059345409,55,0,792,"RT @PViphurit: A lot of love for you, 2018 @Sp..."
1408,1408,Wed Apr 03 18:44:04 +0000 2019,Sister-Help,1103740540049416192,1,0,0,"@Dani_Gove Super fan de tu madre desde ya!!!, ..."
2360,21,Thu Apr 04 00:45:59 +0000 2019,Ïú†Ï≤ú Ï†ïÎ≥¥Í≥ÑÏ†ï,1103505768962125824,37,0,1,[Îû≠ÌÇπ Ï†ïÎ≥¥] ‰ªäÈÄ±„ÅÆSNS‰∫∫Ê∞óÊõ≤„É©„É≥„Ç≠„É≥„Ç∞ 1‰Ωç„Å´TOMORROW X TOGETHER ...
1417,1417,Wed Apr 03 18:44:04 +0000 2019,Nymphadora,1103323792921759744,379,0,0,"@mairahaunau Jam√°s he le√≠do tal aberraci√≥n, y ..."
1473,1473,Wed Apr 03 18:44:04 +0000 2019,Justicia & Corrupci√≥n,1089891068718518273,146,0,2,RT @apocalipsispol1: brasil.argentina peru el ...
2356,17,Thu Apr 04 00:46:27 +0000 2019,‚öîÔ∏èBZY‚öîÔ∏è,1087118833570275329,119,2,0,https://t.co/ndo37htWED‚ñ∂Ô∏è‚ñ∂Ô∏è #Spotify #Music
19,19,Wed Apr 03 18:41:16 +0000 2019,Eskimo Hoe,1086193985377439744,23,0,0,"@Spotify doesnt have any algorithms, they just..."
1424,1424,Wed Apr 03 18:44:04 +0000 2019,Fan de Jon Snow,1078124564465491970,158,0,0,"@Elian2X Uffff tremenda esa escena, creo que f..."
2380,41,Thu Apr 04 00:36:37 +0000 2019,MR_HASSAN_ALI,1076295275000578049,118,0,0,#Spotifyplaylist #Spotify @SpotifyUK https://t...
29,29,Wed Apr 03 18:39:56 +0000 2019,Lilyüå∏,1059755315669872645,3,0,1005,RT @blobyblo: Million+ souls listening to us r...
1519,1519,Wed Apr 03 18:39:56 +0000 2019,Lilyüå∏,1059755315669872645,3,0,1006,RT @blobyblo: Million+ souls listening to us r...
1901,1901,Wed Apr 03 18:39:56 +0000 2019,Lilyüå∏,1059755315669872645,3,0,1007,RT @blobyblo: Million+ souls listening to us r...
2106,56,Wed Apr 03 18:39:56 +0000 2019,Lilyüå∏,1059755315669872645,3,0,1008,RT @blobyblo: Million+ souls listening to us r...
2053,3,Wed Apr 03 18:45:33 +0000 2019,camille lgh,1055187947086069761,38,0,1,RT @camillelgh: uploaded a new episode of Nove...
1390,1390,Wed Apr 03 18:44:04 +0000 2019,FF,1050110043935428608,90,0,0,"@ETClubHQ Sorry y‚Äôall , I pick @QuienComoDios7..."
1394,1394,Wed Apr 03 18:44:04 +0000 2019,luisa portillo,1042010838427742213,2,0,603,RT @JuanOrlandoH: Esta es una soluci√≥n integra...
2417,78,Thu Apr 04 00:20:30 +0000 2019,¬´ a sad taeddie bear.ü•Ä ¬ª,1037485197942509570,298,0,4,RT @RT2EAT: Best Spotify #Rap Music\nüéô 'Miami ...
2406,67,Thu Apr 04 00:26:38 +0000 2019,Anna,1036636873047851008,593,0,34,RT @CentralTXTBR: [#SPOTIFY]\n\nO @TXT_members...
1464,1464,Wed Apr 03 18:44:04 +0000 2019,#WanjikuRevoltKenya,1035936692761440257,28,0,0,@thekhrc So this hullabaloo on #DataProtection...
1393,1393,Wed Apr 03 18:44:04 +0000 2019,Ezequiel,1034835194128330752,316,0,0,D√≠a completo de reuniones. En primer lugar con...
...,...,...,...,...,...,...,...,...
25,25,Wed Apr 03 18:40:37 +0000 2019,Yats SO.,60112188,1496,0,6,RT @Tiggarachi: Bregma Freestyle at 200k+ stre...
1410,1410,Wed Apr 03 18:44:04 +0000 2019,Xisca The Warrior,58490776,660,0,0,Ser√≠a m√°s afortunado sacar Colectivizaci√≥n a M...
2061,11,Wed Apr 03 18:44:45 +0000 2019,Aqua¬•n8tive,57861602,332,0,0,@Spotify why‚Äôd you remove becoming x by sneake...
2896,557,Thu Apr 04 00:51:17 +0000 2019,#JEAN‚ñ´Ô∏è,56138291,283,0,0,"Escuta essa! ""Jack &amp; Diane"" by John Mellen..."
1458,1458,Wed Apr 03 18:44:04 +0000 2019,Bravo Pueblo,48596613,1939,0,169,"RT @USAenEspanol: ""EE.UU. est√° pre-ubicando as..."
1429,1429,Wed Apr 03 18:44:04 +0000 2019,Yago Hansen,46105717,3948,0,7,RT @conde112: Disfrutando de la compa√±√≠a de\n@...
2364,25,Thu Apr 04 00:45:09 +0000 2019,Blabpipe,43115737,2327,0,0,Hard Rock Now a great #spotifyplaylist - #yout...
1467,1467,Wed Apr 03 18:44:04 +0000 2019,Renato Gonz√°lez,40660739,146,0,1,RT @SduenasV: @VeronicaO_gtv Pero se rasgan la...
2418,79,Thu Apr 04 00:19:40 +0000 2019,LeeGoddess,40427679,168,0,0,New World Takedown is now playing on #spotify ...
2347,8,Thu Apr 04 00:48:48 +0000 2019,CRUCIAL_BEEN_GOOD,34290792,1693,1,0,From @zdk305 - It‚Äôs out now y‚Äôall go check o...
1955,1955,Wed Apr 03 18:44:43 +0000 2019,ZainR,31002938,3953,0,0,@LindseyStirling @vrbroussard @Spotify I'm mor...
1480,1480,Wed Apr 03 18:44:16 +0000 2019,ZainR,31002938,3953,0,34,RT @LindseyStirling: I'm featured on @vrbrouss...
85,85,Wed Apr 03 18:33:48 +0000 2019,ùô∞ùöüùöòùöïùö¢ùöó ùôµùöíùöúùöëùöéùöõ,28207374,1293,0,0,Current Mood: #GarageJams playlist on @Spotify...
2396,57,Thu Apr 04 00:32:02 +0000 2019,White Peppa,26071895,177,0,0,Ice cream cone for the win! #WhitePeppa #ConeF...
43,43,Wed Apr 03 18:37:47 +0000 2019,‚ú®Cory Giles‚ú®,23644141,612,0,616,RT @JoeBuddenPod: The @JoeBudden Podcast Episo...
1342,1342,Wed Apr 03 18:37:47 +0000 2019,‚ú®Cory Giles‚ú®,23644141,612,0,617,RT @JoeBuddenPod: The @JoeBudden Podcast Episo...
48,48,Wed Apr 03 18:37:22 +0000 2019,Eshy Gazit,20491275,36365,9,5,MONBEBE ALERT! \nLet's stream #playitcool on t...
417,417,Wed Apr 03 18:37:22 +0000 2019,Eshy Gazit,20491275,36365,10,6,MONBEBE ALERT! \nLet's stream #playitcool on t...
601,601,Wed Apr 03 18:37:22 +0000 2019,Eshy Gazit,20491275,36364,10,6,MONBEBE ALERT! \nLet's stream #playitcool on t...
1538,1538,Wed Apr 03 18:37:22 +0000 2019,Eshy Gazit,20491275,36364,11,7,MONBEBE ALERT! \nLet's stream #playitcool on t...
1730,1730,Wed Apr 03 18:37:22 +0000 2019,Eshy Gazit,20491275,36364,12,7,MONBEBE ALERT! \nLet's stream #playitcool on t...
2125,75,Wed Apr 03 18:37:22 +0000 2019,Eshy Gazit,20491275,36363,12,7,MONBEBE ALERT! \nLet's stream #playitcool on t...
1387,1387,Wed Apr 03 18:44:04 +0000 2019,Luke Griffin,19058788,518,0,0,"The best words. Also y‚Äôall, he found the word ..."
86,86,Wed Apr 03 18:33:44 +0000 2019,Mint Records,18781288,7448,0,0,Giles (@visionloser) from Woolworm (@creatureo...
84,84,Wed Apr 03 18:33:49 +0000 2019,Amanda Duarte,18335632,20218,0,1,RT @dougilustra: AMIGOS PODCASTEIROS: Algu√©m p...
1476,1476,Wed Apr 03 18:44:04 +0000 2019,sebastian,17938516,1286,0,3,RT @Brianmatico: Todo bien con las cr√≠ticas al...
36,36,Wed Apr 03 18:39:02 +0000 2019,Silentz Beats,15869104,54,0,0,@JoeBuddenPod @JoeBudden @Spotify @thisisrory ...
2055,5,Wed Apr 03 18:45:18 +0000 2019,chain gang of 1974,15800140,9742,0,0,@SpotifyMexico @Spotify üñ§
62,62,Wed Apr 03 18:36:15 +0000 2019,Sami Yusuf,8510412,763374,0,3,RT @SaadetAtes_: @SamiYusuf @DeezerMENA @deeze...
1463,1463,Wed Apr 03 18:44:04 +0000 2019,Yukito,3646461,591,0,1,RT @gaymer_mx: De las √∫ltimas fotos que le he ...

In [91]:
spotify_filtered_df.describe()

,Unnamed: 0,User ID,User Follower Count,Likes Counts,ReTweet Count
count,345.000000,3.450000e+02,345.000000,345.000000,345.000000
mean,610.814493,2.926737e+17,7127.443478,0.385507,259.289855
std,696.036850,4.446033e+17,46804.611528,2.042946,656.816616
min,0.000000,3.646461e+06,0.000000,0.000000,0.000000
25%,36.000000,2.490009e+08,135.000000,0.000000,0.000000
50%,75.000000,2.244501e+09,404.000000,0.000000,2.000000
75%,1421.000000,8.497049e+17,1572.000000,0.000000,137.000000
max,1955.000000,1.113600e+18,763374.000000,17.000000,4958.000000

In [92]:
# Count total out of Unique Tweets
spotify_total_tweets = len(spotify_filtered_df['Tweet Text'])
spotify_total_tweets

345

In [93]:
# Calculate Facebook Avg Followers - doesn't make sense to sum.
spotify_avg_followers_ct = spotify_filtered_df['User Follower Count'].mean()
spotify_avg_followers_ct

7127.44347826087

In [94]:
# Total Likes of all tweets
spotify_total_likes = spotify_filtered_df['Likes Counts'].sum()
#spotify_avg_likes = spotify_filtered_df['Likes Counts'].mean()
spotify_total_likes
#spotify_avg_likes

133

In [95]:
# Retweets Stats:
#spotify_sum_retweets = spotify_filtered_df['ReTweet Count'].sum()
spotify_avg_retweets = spotify_filtered_df['ReTweet Count'].mean()
#spotify_sum_retweets
spotify_avg_retweets

259.28985507246375

### Angry Birds Calculations

In [96]:
plug = 'angrybirds'
path = f'./resources/{plug}'
all_files = glob.glob(path + "/*.csv")
li = []
for filename in all_files:
    df = pd.read_csv(filename, index_col=None, header=0)
    li.append(df)
angrybirds_source_df = pd.concat(li, axis=0, ignore_index=True)

# Snapshot Statistics
angrybirds_source_df.describe()

,Unnamed: 0,User ID,User Follower Count,Likes Counts,ReTweet Count
count,3387.000000,3.387000e+03,3387.000000,3387.000000,3387.000000
mean,589.128727,5.618638e+17,1102.092707,1.003543,44.979037
std,369.603864,4.712704e+17,5249.955169,3.227904,53.903042
min,0.000000,9.444002e+06,2.000000,0.000000,0.000000
25%,282.000000,2.884984e+09,35.000000,0.000000,0.000000
50%,564.000000,7.833526e+17,121.000000,0.000000,4.000000
75%,846.000000,9.955561e+17,296.000000,0.000000,113.000000
max,1462.000000,1.113460e+18,77775.000000,34.000000,113.000000

In [97]:
angrybirds_source_df.head()

,Unnamed: 0,Created At,Screen Name,User ID,User Follower Count,Likes Counts,ReTweet Count,Tweet Text
0,0,Wed Apr 03 18:39:59 +0000 2019,It's so cold ...,718360155881107457,21,0,0,"@outofcontxtAB @AngryBirds well, do you mind i..."
1,1,Wed Apr 03 18:36:24 +0000 2019,Captain Conker Diamond,1092963824724922371,9,0,113,RT @AngryBirds: @nocontxtsonic üòò https://t.co/...
2,2,Wed Apr 03 18:08:10 +0000 2019,Brandon,2764719670,54,0,0,@AngryBirds @nocontxtsonic https://t.co/PzmTCI...
3,3,Wed Apr 03 17:43:15 +0000 2019,PikaSalt,1270461625,39,0,113,RT @AngryBirds: @nocontxtsonic üòò https://t.co/...
4,4,Wed Apr 03 17:42:53 +0000 2019,Mƒ´ƒüh»õ√Ω ≈òƒôƒë √ü√Ø≈ïƒë,3065302962,450,1,0,@brennanhorn3 @AngryBirds @TiffanyArtist56 I'v...

In [98]:
# Sort to set up removal of duplicates
angrybirds_source_df.sort_values(by=['User ID','Created At'], ascending=False)

,Unnamed: 0,Created At,Screen Name,User ID,User Follower Count,Likes Counts,ReTweet Count,Tweet Text
7,7,Wed Apr 03 17:18:33 +0000 2019,Out of context Angry Birds,1113460075354644480,6,0,0,@Mighty_Chuck @AngryBirds We already did that.
84,84,Wed Apr 03 17:18:33 +0000 2019,Out of context Angry Birds,1113460075354644480,6,0,0,@Mighty_Chuck @AngryBirds We already did that.
161,161,Wed Apr 03 17:18:33 +0000 2019,Out of context Angry Birds,1113460075354644480,6,0,0,@Mighty_Chuck @AngryBirds We already did that.
238,238,Wed Apr 03 17:18:33 +0000 2019,Out of context Angry Birds,1113460075354644480,6,0,0,@Mighty_Chuck @AngryBirds We already did that.
315,315,Wed Apr 03 17:18:33 +0000 2019,Out of context Angry Birds,1113460075354644480,6,0,0,@Mighty_Chuck @AngryBirds We already did that.
392,392,Wed Apr 03 17:18:33 +0000 2019,Out of context Angry Birds,1113460075354644480,6,0,0,@Mighty_Chuck @AngryBirds We already did that.
469,469,Wed Apr 03 17:18:33 +0000 2019,Out of context Angry Birds,1113460075354644480,6,0,0,@Mighty_Chuck @AngryBirds We already did that.
546,546,Wed Apr 03 17:18:33 +0000 2019,Out of context Angry Birds,1113460075354644480,6,0,0,@Mighty_Chuck @AngryBirds We already did that.
623,623,Wed Apr 03 17:18:33 +0000 2019,Out of context Angry Birds,1113460075354644480,6,0,0,@Mighty_Chuck @AngryBirds We already did that.
700,700,Wed Apr 03 17:18:33 +0000 2019,Out of context Angry Birds,1113460075354644480,6,0,0,@Mighty_Chuck @AngryBirds We already did that.
777,777,Wed Apr 03 17:18:33 +0000 2019,Out of context Angry Birds,1113460075354644480,6,0,0,@Mighty_Chuck @AngryBirds We already did that.
854,854,Wed Apr 03 17:18:33 +0000 2019,Out of context Angry Birds,1113460075354644480,6,0,0,@Mighty_Chuck @AngryBirds We already did that.
931,931,Wed Apr 03 17:18:33 +0000 2019,Out of context Angry Birds,1113460075354644480,6,0,0,@Mighty_Chuck @AngryBirds We already did that.
1008,1008,Wed Apr 03 17:18:33 +0000 2019,Out of context Angry Birds,1113460075354644480,6,0,0,@Mighty_Chuck @AngryBirds We already did that.
1085,1085,Wed Apr 03 17:18:33 +0000 2019,Out of context Angry Birds,1113460075354644480,6,0,0,@Mighty_Chuck @AngryBirds We already did that.
1162,1162,Wed Apr 03 17:18:33 +0000 2019,Out of context Angry Birds,1113460075354644480,6,0,0,@Mighty_Chuck @AngryBirds We already did that.
1239,1239,Wed Apr 03 17:18:33 +0000 2019,Out of context Angry Birds,1113460075354644480,6,0,0,@Mighty_Chuck @AngryBirds We already did that.
1316,1316,Wed Apr 03 17:18:33 +0000 2019,Out of context Angry Birds,1113460075354644480,6,0,0,@Mighty_Chuck @AngryBirds We already did that.
1393,1393,Wed Apr 03 17:18:33 +0000 2019,Out of context Angry Birds,1113460075354644480,6,0,0,@Mighty_Chuck @AngryBirds We already did that.
1470,7,Wed Apr 03 17:18:33 +0000 2019,Out of context Angry Birds,1113460075354644480,6,0,0,@Mighty_Chuck @AngryBirds We already did that.
1547,84,Wed Apr 03 17:18:33 +0000 2019,Out of context Angry Birds,1113460075354644480,6,0,0,@Mighty_Chuck @AngryBirds We already did that.
1624,161,Wed Apr 03 17:18:33 +0000 2019,Out of context Angry Birds,1113460075354644480,6,0,0,@Mighty_Chuck @AngryBirds We already did that.
1701,238,Wed Apr 03 17:18:33 +0000 2019,Out of context Angry Birds,1113460075354644480,6,0,0,@Mighty_Chuck @AngryBirds We already did that.
1778,315,Wed Apr 03 17:18:33 +0000 2019,Out of context Angry Birds,1113460075354644480,6,0,0,@Mighty_Chuck @AngryBirds We already did that.
1855,392,Wed Apr 03 17:18:33 +0000 2019,Out of context Angry Birds,1113460075354644480,6,0,0,@Mighty_Chuck @AngryBirds We already did that.
1932,469,Wed Apr 03 17:18:33 +0000 2019,Out of context Angry Birds,1113460075354644480,6,0,0,@Mighty_Chuck @AngryBirds We already did that.
2009,546,Wed Apr 03 17:18:33 +0000 2019,Out of context Angry Birds,1113460075354644480,6,0,0,@Mighty_Chuck @AngryBirds We already did that.
2086,623,Wed Apr 03 17:18:33 +0000 2019,Out of context Angry Birds,1113460075354644480,6,0,0,@Mighty_Chuck @AngryBirds We already did that.
2163,700,Wed Apr 03 17:18:33 +0000 2019,Out of context Angry Birds,1113460075354644480,6,0,0,@Mighty_Chuck @AngryBirds We already did that.
2240,777,Wed Apr 03 17:18:33 +0000 2019,Out of context Angry Birds,1113460075354644480,6,0,0,@Mighty_Chuck @AngryBirds We already did that.
...,...,...,...,...,...,...,...,...
2467,80,Tue Apr 02 07:36:37 +0000 2019,Teaser-Trailer.com,14201787,9849,1,0,Angry Birds 2 - new character posters: https:...
2567,180,Tue Apr 02 07:36:37 +0000 2019,Teaser-Trailer.com,14201787,9849,1,0,Angry Birds 2 - new character posters: https:...
2668,281,Tue Apr 02 07:36:37 +0000 2019,Teaser-Trailer.com,14201787,9849,1,0,Angry Birds 2 - new character posters: https:...
2768,381,Tue Apr 02 07:36:37 +0000 2019,Teaser-Trailer.com,14201787,9849,1,0,Angry Birds 2 - new character posters: https:...
2868,481,Tue Apr 02 07:36:37 +0000 2019,Teaser-Trailer.com,14201787,9849,1,0,Angry Birds 2 - new character posters: https:...
2968,581,Tue Apr 02 07:36:37 +0000 2019,Teaser-Trailer.com,14201787,9849,1,0,Angry Birds 2 - new character posters: https:...
3068,681,Tue Apr 02 07:36:37 +0000 2019,Teaser-Trailer.com,14201787,9849,1,0,Angry Birds 2 - new character posters: https:...
3168,781,Tue Apr 02 07:36:37 +0000 2019,Teaser-Trailer.com,14201787,9849,1,0,Angry Birds 2 - new character posters: https:...
3268,881,Tue Apr 02 07:36:37 +0000 2019,Teaser-Trailer.com,14201787,9849,1,0,Angry Birds 2 - new character posters: https:...
3368,981,Tue Apr 02 07:36:37 +0000 2019,Teaser-Trailer.com,14201787,9849,1,0,Angry Birds 2 - new character posters: https:...
2394,7,Wed Apr 03 21:37:02 +0000 2019,aliti33028,9444002,207,0,0,@Rovio Still hard at sucking @Rovio ? Still cr...
2494,107,Wed Apr 03 21:37:02 +0000 2019,aliti33028,9444002,207,0,0,@Rovio Still hard at sucking @Rovio ? Still cr...
2595,208,Wed Apr 03 21:37:02 +0000 2019,aliti33028,9444002,207,0,0,@Rovio Still hard at sucking @Rovio ? Still cr...
2695,308,Wed Apr 03 21:37:02 +0000 2019,aliti33028,9444002,207,0,0,@Rovio Still hard at sucking @Rovio ? Still cr...
2795,408,Wed Apr 03 21:37:02 +0000 2019,aliti33028,9444002,207,0,0,@Rovio Still hard at sucking @Rovio ? Still cr...
2895,508,Wed Apr 03 21:37:02 +0000 2019,aliti33028,9444002,207,0,0,@Rovio Still hard at sucking @Rovio ? Still cr...
2995,608,Wed Apr 03 21:37:02 +0000 2019,aliti33028,9444002,207,0,0,@Rovio Still hard at sucking @Rovio ? Still cr...
3095,708,Wed Apr 03 21:37:02 +0000 2019,aliti33028,9444002,207,0,0,@Rovio Still hard at sucking @Rovio ? Still cr...
3195,808,Wed Apr 03 21:37:02 +0000 2019,aliti33028,9444002,207,0,0,@Rovio Still hard at sucking @Rovio ? Still cr...
3295,908,Wed Apr 03 21:37:02 +0000 2019,aliti33028,9444002,207,0,0,@Rovio Still hard at sucking @Rovio ? Still cr...
2395,8,Wed Apr 03 21:36:23 +0000 2019,aliti33028,9444002,207,0,0,Still hard at sucking @Rovio ? Still crashing ...
2495,108,Wed Apr 03 21:36:23 +0000 2019,aliti33028,9444002,207,0,0,Still hard at sucking @Rovio ? Still crashing ...
2596,209,Wed Apr 03 21:36:23 +0000 2019,aliti33028,9444002,207,0,0,Still hard at sucking @Rovio ? Still crashing ...
2696,309,Wed Apr 03 21:36:23 +0000 2019,aliti33028,9444002,207,0,0,Still hard at sucking @Rovio ? Still crashing ...
2796,409,Wed Apr 03 21:36:23 +0000 2019,aliti33028,9444002,207,0,0,Still hard at sucking @Rovio ? Still crashing ...
2896,509,Wed Apr 03 21:36:23 +0000 2019,aliti33028,9444002,207,0,0,Still hard at sucking @Rovio ? Still crashing ...
2996,609,Wed Apr 03 21:36:23 +0000 2019,aliti33028,9444002,207,0,0,Still hard at sucking @Rovio ? Still crashing ...
3096,709,Wed Apr 03 21:36:23 +0000 2019,aliti33028,9444002,207,0,0,Still hard at sucking @Rovio ? Still crashing ...
3196,809,Wed Apr 03 21:36:23 +0000 2019,aliti33028,9444002,207,0,0,Still hard at sucking @Rovio ? Still crashing ...
3296,909,Wed Apr 03 21:36:23 +0000 2019,aliti33028,9444002,207,0,0,Still hard at sucking @Rovio ? Still crashing ...

In [99]:
# Drop Duplicates only for matching columns omitting the index
angrybirds_filtered_df = angrybirds_source_df.drop_duplicates(['Created At', 'Screen Name', 'User ID', 'User Follower Count', 'Likes Counts', 'ReTweet Count', 'Tweet Text']).sort_values(by=['User ID','Created At'], ascending=False)

In [100]:
angrybirds_filtered_df

,Unnamed: 0,Created At,Screen Name,User ID,User Follower Count,Likes Counts,ReTweet Count,Tweet Text
7,7,Wed Apr 03 17:18:33 +0000 2019,Out of context Angry Birds,1113460075354644480,6,0,0,@Mighty_Chuck @AngryBirds We already did that.
2475,88,Tue Apr 02 00:28:49 +0000 2019,Angel,1111106610972246017,3,0,2,RT @learnwithlibby: I LOVE @angrybirds üòç‚ù§Ô∏è So ...
55,55,Wed Apr 03 13:04:40 +0000 2019,Barbara Parker,1110537277250437120,27,0,9,RT @AngryBirds: There's a prize to whoever can...
16,16,Wed Apr 03 15:50:12 +0000 2019,No Context RadicalSoda,1102097920688500736,261,0,113,RT @AngryBirds: @nocontxtsonic üòò https://t.co/...
2476,89,Tue Apr 02 00:18:12 +0000 2019,Elizabeth Montgomery,1101877643773923328,69,2,2,I LOVE @angrybirds üòç‚ù§Ô∏è So I‚Äôve decided to do a...
2388,1,Thu Apr 04 00:01:31 +0000 2019,Elizabeth Montgomery,1101877643773923328,69,0,0,CHUCK üíõüß° \nI‚Äôm not completely happy with his t...
2412,25,Wed Apr 03 16:02:17 +0000 2019,Rubber,1098993894761603072,9,2,0,A quick drawing I made to cheer up @snowythewi...
2458,71,Tue Apr 02 16:06:25 +0000 2019,Over The Hedge,1095578566690070533,143,34,6,"02/04/19 16:45. Big, fluffy storm clouds and,..."
1,1,Wed Apr 03 18:36:24 +0000 2019,Captain Conker Diamond,1092963824724922371,9,0,113,RT @AngryBirds: @nocontxtsonic üòò https://t.co/...
2433,46,Wed Apr 03 06:15:08 +0000 2019,CrazeeGLife,1092317511146659840,6,0,1,Playing Angry Birds on iPad as I can‚Äôt game to...
2465,78,Tue Apr 02 10:39:15 +0000 2019,SpringBoard,1089429373290082304,3,2,1,The Angry Birds 2 Movie l Official Trailer\n#s...
2464,77,Tue Apr 02 10:47:40 +0000 2019,Higamer,1087921188523991041,90,12,1,Angry Birds Emojis for April fool's dayüòå\nPlea...
2482,95,Mon Apr 01 18:52:50 +0000 2019,Red bird,1085912137992593410,19,0,1,RT @YanaThePinkBird: Aww red looks soo adorabl...
23,23,Wed Apr 03 15:18:22 +0000 2019,Alex #TeamSobble,1083118672611295232,11,0,113,RT @AngryBirds: @nocontxtsonic üòò https://t.co/...
8,8,Wed Apr 03 17:16:00 +0000 2019,Matt,1074399992499060736,35,0,113,RT @AngryBirds: @nocontxtsonic üòò https://t.co/...
2422,35,Wed Apr 03 13:09:23 +0000 2019,Juan. R,1073613928385568768,46,0,5,RT @KoiliTheArtist: @Alien_Opossum told me to ...
2445,58,Tue Apr 02 23:08:23 +0000 2019,Juan. R,1073613928385568768,46,3,2,Here is Stella and Yana. \nIn the angry birds ...
59,59,Wed Apr 03 12:46:07 +0000 2019,SuperTails16,1059707729843904512,40,0,113,RT @AngryBirds: @nocontxtsonic üòò https://t.co/...
2432,45,Wed Apr 03 06:20:13 +0000 2019,KingPar2ival,1049518241243164672,896,0,1,RT @crazeeglife: Playing Angry Birds on iPad a...
5,5,Wed Apr 03 17:34:26 +0000 2019,brennan horn,1049422229681844224,18,1,0,@Mighty_Red_Bird @AngryBirds @TiffanyArtist56 ...
24,24,Wed Apr 03 15:14:29 +0000 2019,Monkey!üêû #jjln_anime,1045719385514684416,2967,0,113,RT @AngryBirds: @nocontxtsonic üòò https://t.co/...
2450,63,Tue Apr 02 17:40:57 +0000 2019,Wx Photography,1041367527115374592,2316,0,6,"RT @overthehedge3: 02/04/19 16:45. Big, fluff..."
2402,15,Wed Apr 03 19:01:50 +0000 2019,üñåÔ∏èR.B.A‡øêRedBirdArt2.0 ‚Ñ¢üé®,1039311241804693504,189,0,4,RT @jessdeed: I love this cute couple! It‚Äôs pu...
2409,22,Wed Apr 03 16:57:03 +0000 2019,üñåÔ∏èR.B.A‡øêRedBirdArt2.0 ‚Ñ¢üé®,1039311241804693504,189,0,1,"RT @TiffanyArtist56: In May, I will do my fir..."
2415,28,Wed Apr 03 15:02:26 +0000 2019,üñåÔ∏èR.B.A‡øêRedBirdArt2.0 ‚Ñ¢üé®,1039311241804693504,189,0,5,RT @KoiliTheArtist: @Alien_Opossum told me to ...
2416,29,Wed Apr 03 15:02:16 +0000 2019,üñåÔ∏èR.B.A‡øêRedBirdArt2.0 ‚Ñ¢üé®,1039311241804693504,189,0,3,RT @_mewsical: YEAH YEAH YEAH #angrybirds http...
26,26,Wed Apr 03 14:59:59 +0000 2019,üñåÔ∏èR.B.A‡øêRedBirdArt2.0 ‚Ñ¢üé®,1039311241804693504,189,0,4,RT @_camaroqueen: Time to draw!\n@AngryBirds @...
2424,37,Wed Apr 03 12:02:37 +0000 2019,üñåÔ∏èR.B.A‡øêRedBirdArt2.0 ‚Ñ¢üé®,1039311241804693504,189,0,2,RT @TiffanyArtist56: Have a cute Ella! üòä\n\n#A...
2441,54,Wed Apr 03 00:05:27 +0000 2019,üñåÔ∏èR.B.A‡øêRedBirdArt2.0 ‚Ñ¢üé®,1039311241804693504,189,0,2,RT @JuanRwhitebird: Here is Stella and Yana. \...
2457,70,Tue Apr 02 16:09:53 +0000 2019,üñåÔ∏èR.B.A‡øêRedBirdArt2.0 ‚Ñ¢üé®,1039311241804693504,189,0,1,RT @SiitonenLasse1: Courtney looks like this i...
...,...,...,...,...,...,...,...,...
2436,49,Wed Apr 03 06:12:24 +0000 2019,Klonoa Xavier,1539863514,64,0,2,RT @ILvRedAngryBird: @AngryBirds widdle siblin...
66,66,Wed Apr 03 12:34:35 +0000 2019,Stormy,1524822139,46,1,0,@AngryBirds @nocontxtsonic https://t.co/BQ2uG6...
2389,2,Wed Apr 03 23:00:39 +0000 2019,En el Clavo,1284258984,230,0,0,As√≠ ser√° el nuevo #AngryBirds con realidad aum...
3,3,Wed Apr 03 17:43:15 +0000 2019,PikaSalt,1270461625,39,0,113,RT @AngryBirds: @nocontxtsonic üòò https://t.co/...
2442,55,Tue Apr 02 23:56:08 +0000 2019,Rambos Productions,1053822001,1633,0,0,Rare Coin Collecting - Africa/ Sierra Leone An...
2469,82,Tue Apr 02 06:52:42 +0000 2019,Prince Movie,967271766,788,0,0,#AngryBirds https://t.co/APdYcS9bxR
71,71,Wed Apr 03 12:15:13 +0000 2019,Zonic,870551138,147,0,113,RT @AngryBirds: @nocontxtsonic üòò https://t.co/...
58,58,Wed Apr 03 12:50:09 +0000 2019,paüêùü¶Ñ üá®üá∫‚òÜ¬∞,786480378,1585,0,113,RT @AngryBirds: @nocontxtsonic üòò https://t.co/...
57,57,Wed Apr 03 12:52:29 +0000 2019,QU4D,727029414,655,0,0,"@Jamo_ART @AngryBirds @nocontxtsonic Oh, you m..."
2460,73,Tue Apr 02 14:34:23 +0000 2019,klein88,381698951,717,0,4,RT @SonyPicturesFr: Les pires ennemis vont for...
2472,85,Tue Apr 02 01:49:26 +0000 2019,Rachel Johnson,355767951,32,0,1,RT @dedet3101: (Coming Soon)\n\nPerkenalkan ka...
2455,68,Tue Apr 02 16:52:27 +0000 2019,Earth and Clouds,350274399,25268,0,6,"RT @overthehedge3: 02/04/19 16:45. Big, fluff..."
2400,13,Wed Apr 03 20:01:27 +0000 2019,ÿ≥ÿπŸàÿØ ÿ®ŸÜ ÿπÿ®ÿØÿßŸÑŸÑŸá ÿ®ŸÜ ÿ≠ŸÖÿØ ÿßŸÑÿπÿ∑Ÿäÿ©,344451262,14219,5,4,ÿßŸÑÿßÿπÿ™ŸÖÿßÿØ ÿπŸÑŸâ ÿßŸÑÿ™ŸÉŸÜŸàŸÑŸàÿ¨Ÿäÿß ÿπÿ®ÿ± ÿßŸÑÿ≤ŸÖŸÜ\nÿßŸÑŸàŸÇÿ™ ÿßŸÑÿ∞Ÿä...
2393,6,Wed Apr 03 21:42:15 +0000 2019,ÿßŸÑÿ£ÿπŸÑÿßŸÖŸä ÿ≠ÿ∑ŸëÿßŸÖ | Ha6am üá∂üá¶,313204373,7126,0,4,RT @saud_alattiyah: ÿßŸÑÿßÿπÿ™ŸÖÿßÿØ ÿπŸÑŸâ ÿßŸÑÿ™ŸÉŸÜŸàŸÑŸàÿ¨Ÿäÿß ÿπ...
2425,38,Wed Apr 03 12:00:48 +0000 2019,MoncineAnglet,303695562,223,0,0,Les pires ennemis vont former la pire des √©qui...
2484,97,Mon Apr 01 18:10:07 +0000 2019,p ä≈ãÀànaÀê.t…îr,293960491,241,0,0,#AngryBirds 2 is on the way üòçüòçüòçüòçüî•üî•üî•üî•
2479,92,Mon Apr 01 22:16:10 +0000 2019,Yohanes üîÄ,282969581,145,1,1,(Coming Soon)\n\nPerkenalkan karakter baru\nCo...
2438,51,Wed Apr 03 02:07:33 +0000 2019,AngryBirdsNest,180430422,17500,0,0,Today's Challenge: Angry Birds Rio Airfield Ch...
2471,84,Tue Apr 02 02:00:52 +0000 2019,AngryBirdsNest,180430422,17500,0,0,Today's Challenge: Angry Birds Space Mirror Wo...
2401,14,Wed Apr 03 20:00:01 +0000 2019,Chicklit.nl,143797362,3180,0,0,Dit is de hilarische 'Angry Birds 2' trailer h...
2449,62,Tue Apr 02 17:52:47 +0000 2019,kilogrammedia,59742349,2278,0,0,"#MaurizioDistefanoLicensing, which manages lic..."
2451,64,Tue Apr 02 17:36:46 +0000 2019,kilogrammedia,59742349,2278,2,0,#MaurizioDistefanoLicensing has brought an exc...
2414,27,Wed Apr 03 15:26:54 +0000 2019,Zsuzsa James,33836835,787,0,2,RT @Alannainen: How Angry Birds has increased ...
2419,32,Wed Apr 03 13:49:36 +0000 2019,carlos liranzo,33809339,171,0,0,#theroosterwhisperer #angrybirds #gallo #mypet...
2428,41,Wed Apr 03 08:02:45 +0000 2019,Laura Ala,25869598,752,6,2,How Angry Birds has increased its brand awaren...
2462,75,Tue Apr 02 12:14:33 +0000 2019,Ricky Haynes,23281734,52,0,0,"They got an Angry Birds VR game, its about to ..."
2587,200,Thu Apr 04 01:15:07 +0000 2019,Lew Jetton,18488014,10564,0,0,Now I know how Tippi Hedren felt... #thebirds ...
2467,80,Tue Apr 02 07:36:37 +0000 2019,Teaser-Trailer.com,14201787,9849,1,0,Angry Birds 2 - new character posters: https:...
2394,7,Wed Apr 03 21:37:02 +0000 2019,aliti33028,9444002,207,0,0,@Rovio Still hard at sucking @Rovio ? Still cr...
2395,8,Wed Apr 03 21:36:23 +0000 2019,aliti33028,9444002,207,0,0,Still hard at sucking @Rovio ? Still crashing ...

In [101]:
angrybirds_filtered_df.describe()

,Unnamed: 0,User ID,User Follower Count,Likes Counts,ReTweet Count
count,179.000000,1.790000e+02,179.000000,179.000000,179.000000
mean,45.921788,5.101818e+17,1624.966480,1.402235,28.335196
std,30.059389,4.836753e+17,6768.444151,3.947008,47.130222
min,0.000000,9.444002e+06,2.000000,0.000000,0.000000
25%,22.000000,2.371792e+09,45.000000,0.000000,0.000000
50%,44.000000,7.434137e+17,189.000000,0.000000,3.000000
75%,66.500000,9.954721e+17,543.000000,0.000000,9.000000
max,200.000000,1.113460e+18,77775.000000,34.000000,113.000000

In [102]:
# Count total out of Unique Tweets
angrybirds_total_tweets = len(angrybirds_filtered_df['Tweet Text'])
angrybirds_total_tweets

179

In [103]:
# Calculate angrybirds Avg Followers - doesn't make sense to sum.
angrybirds_avg_followers_ct = angrybirds_filtered_df['User Follower Count'].mean()
angrybirds_avg_followers_ct

1624.9664804469273

In [104]:
# Total Likes of all tweets
angrybirds_total_likes = angrybirds_filtered_df['Likes Counts'].sum()
#angrybirds_avg_likes = angrybirds_filtered_df['Likes Counts'].mean()
angrybirds_total_likes
#angrybirds_avg_likes

251

In [105]:
# Retweets Stats:
#angrybirds_sum_retweets = angrybirds_filtered_df['ReTweet Count'].sum()
angrybirds_avg_retweets = angrybirds_filtered_df['ReTweet Count'].mean()
#angrybirds_sum_retweets
angrybirds_avg_retweets

28.335195530726256

### YouTube Calculations

In [106]:
plug = 'youtube'
path = f'./resources/{plug}'
all_files = glob.glob(path + "/*.csv")
li = []
for filename in all_files:
    df = pd.read_csv(filename, index_col=None, header=0)
    li.append(df)
youtube_source_df = pd.concat(li, axis=0, ignore_index=True)

# Snapshot Statistics
youtube_source_df.describe()

,Unnamed: 0,User ID,User Follower Count,Likes Counts,ReTweet Count
count,5020.000000,5.020000e+03,5020.000000,5020.000000,5020.000000
mean,238.279681,4.804938e+17,7002.120518,0.072112,253.039841
std,147.918623,4.874425e+17,54618.721386,0.296051,1301.297841
min,0.000000,1.166295e+07,0.000000,0.000000,0.000000
25%,114.000000,9.542417e+08,52.000000,0.000000,0.000000
50%,228.000000,7.009658e+17,304.000000,0.000000,0.000000
75%,348.000000,9.864753e+17,1267.000000,0.000000,2.000000
max,594.000000,1.113530e+18,954984.000000,4.000000,28038.000000

In [107]:
youtube_source_df.head()

,Unnamed: 0,Created At,Screen Name,User ID,User Follower Count,Likes Counts,ReTweet Count,Tweet Text
0,0,Wed Apr 03 22:19:17 +0000 2019,Check Bio,1075635037293424640,110,0,11,RT @SanTenChan: #Four #nighttalk on #books! #Q...
1,1,Wed Apr 03 22:19:08 +0000 2019,Kimberly Renee,23680918,912,0,0,‚ÄºÔ∏èThis week‚Äôs video went up on Monday. üó£Go wat...
2,2,Wed Apr 03 22:19:01 +0000 2019,PhysicalPresence,4885677179,2746,0,0,Live on twitch with the LayZe Gaming team play...
3,3,Wed Apr 03 22:18:58 +0000 2019,ImLiveRT,857019003826348032,12995,0,2,RT @TheSpiderwoman1: I am live! Come join me! ...
4,4,Wed Apr 03 22:18:56 +0000 2019,Youtube Tips For You,750826231008993280,1104,0,0,Want to learn How to get More Views on #Youtub...

In [108]:
# Sort
youtube_source_df.sort_values(by=['User ID','Created At'], ascending=False)

,Unnamed: 0,Created At,Screen Name,User ID,User Follower Count,Likes Counts,ReTweet Count,Tweet Text
4144,82,Wed Apr 03 19:56:57 +0000 2019,Dylan Madden TV,1113530366780878848,0,0,0,Dylan Madden TV https://t.co/z18FjXPo89 via @Y...
4252,190,Wed Apr 03 19:56:57 +0000 2019,Dylan Madden TV,1113530366780878848,0,0,0,Dylan Madden TV https://t.co/z18FjXPo89 via @Y...
4361,299,Wed Apr 03 19:56:57 +0000 2019,Dylan Madden TV,1113530366780878848,0,0,0,Dylan Madden TV https://t.co/z18FjXPo89 via @Y...
3599,92,Wed Apr 03 19:53:28 +0000 2019,splashdesign,1113528088841850881,0,0,5,RT @ArThUrCoStA0: Desafio Do Cubo M√°gico! http...
2619,21,Wed Apr 03 20:00:04 +0000 2019,LadyüçØ,1113526663034204160,4,0,57,RT @LuxuryLeftyLucy: I want it now!!! Introduc...
2744,146,Wed Apr 03 20:00:04 +0000 2019,LadyüçØ,1113526663034204160,4,0,57,RT @LuxuryLeftyLucy: I want it now!!! Introduc...
2840,242,Wed Apr 03 20:00:04 +0000 2019,LadyüçØ,1113526663034204160,4,0,57,RT @LuxuryLeftyLucy: I want it now!!! Introduc...
2940,342,Wed Apr 03 20:00:04 +0000 2019,LadyüçØ,1113526663034204160,4,0,57,RT @LuxuryLeftyLucy: I want it now!!! Introduc...
4078,16,Wed Apr 03 19:57:09 +0000 2019,Sabrina Cunningham,1113524089069531136,0,0,0,"I took my students on a ""field trip"" this week..."
4186,124,Wed Apr 03 19:57:09 +0000 2019,Sabrina Cunningham,1113524089069531136,0,0,0,"I took my students on a ""field trip"" this week..."
4295,233,Wed Apr 03 19:57:09 +0000 2019,Sabrina Cunningham,1113524089069531136,0,0,0,"I took my students on a ""field trip"" this week..."
4401,339,Wed Apr 03 19:57:09 +0000 2019,Sabrina Cunningham,1113524089069531136,0,0,0,"I took my students on a ""field trip"" this week..."
4511,449,Wed Apr 03 19:57:09 +0000 2019,Sabrina Cunningham,1113524089069531136,0,0,0,"I took my students on a ""field trip"" this week..."
4630,568,Wed Apr 03 19:57:09 +0000 2019,Sabrina Cunningham,1113524089069531136,0,0,0,"I took my students on a ""field trip"" this week..."
4162,100,Wed Apr 03 19:57:15 +0000 2019,IKARI üï∑,1113367683590791169,4,0,0,Leon X Hilfiger Jay X Plomo - She Tripping (PR...
4271,209,Wed Apr 03 19:57:15 +0000 2019,IKARI üï∑,1113367683590791169,4,0,0,Leon X Hilfiger Jay X Plomo - She Tripping (PR...
4377,315,Wed Apr 03 19:57:15 +0000 2019,IKARI üï∑,1113367683590791169,4,0,0,Leon X Hilfiger Jay X Plomo - She Tripping (PR...
4487,425,Wed Apr 03 19:57:15 +0000 2019,IKARI üï∑,1113367683590791169,4,0,0,Leon X Hilfiger Jay X Plomo - She Tripping (PR...
4606,544,Wed Apr 03 19:57:15 +0000 2019,IKARI üï∑,1113367683590791169,4,0,0,Leon X Hilfiger Jay X Plomo - She Tripping (PR...
3708,201,Wed Apr 03 19:54:01 +0000 2019,DAN MORAR,1113192511684653056,0,0,0,Taxi - Ca ei https://t.co/eULJT9DQXl via @YouTube
3829,322,Wed Apr 03 19:54:01 +0000 2019,DAN MORAR,1113192511684653056,0,0,0,Taxi - Ca ei https://t.co/eULJT9DQXl via @YouTube
3939,432,Wed Apr 03 19:54:01 +0000 2019,DAN MORAR,1113192511684653056,0,0,0,Taxi - Ca ei https://t.co/eULJT9DQXl via @YouTube
3643,136,Wed Apr 03 19:53:49 +0000 2019,O Comendador de Alagoas,1113140370890686464,6,0,0,Marysia | Resort 2019 Full Fashion Show | Excl...
3764,257,Wed Apr 03 19:53:49 +0000 2019,O Comendador de Alagoas,1113140370890686464,6,0,0,Marysia | Resort 2019 Full Fashion Show | Excl...
3885,378,Wed Apr 03 19:53:49 +0000 2019,O Comendador de Alagoas,1113140370890686464,6,0,0,Marysia | Resort 2019 Full Fashion Show | Excl...
2664,66,Wed Apr 03 19:59:52 +0000 2019,Anahita,1113133631671820288,18,0,0,C√Æwan Haco - Welat https://t.co/EjyUQcegaF via...
4135,73,Wed Apr 03 19:56:58 +0000 2019,engineer naveed raheem,1112785377448869895,1,0,1,RT @engineernaveed6: Master jannat gull https:...
4243,181,Wed Apr 03 19:56:58 +0000 2019,engineer naveed raheem,1112785377448869895,1,0,1,RT @engineernaveed6: Master jannat gull https:...
4352,290,Wed Apr 03 19:56:58 +0000 2019,engineer naveed raheem,1112785377448869895,1,0,1,RT @engineernaveed6: Master jannat gull https:...
4458,396,Wed Apr 03 19:56:58 +0000 2019,engineer naveed raheem,1112785377448869895,1,0,1,RT @engineernaveed6: Master jannat gull https:...
...,...,...,...,...,...,...,...,...
4958,301,Wed Apr 03 22:17:57 +0000 2019,rolandsmartin,16116288,520083,0,0,#JustinFairfax responded to his accusers with ...
389,26,Wed Apr 03 22:12:23 +0000 2019,rolandsmartin,16116288,520083,0,1,Black women beaten by white supremacist joins ...
474,111,Wed Apr 03 22:12:23 +0000 2019,rolandsmartin,16116288,520083,0,1,Black women beaten by white supremacist joins ...
559,196,Wed Apr 03 22:12:23 +0000 2019,rolandsmartin,16116288,520083,0,1,Black women beaten by white supremacist joins ...
644,281,Wed Apr 03 22:12:23 +0000 2019,rolandsmartin,16116288,520083,0,1,Black women beaten by white supremacist joins ...
729,366,Wed Apr 03 22:12:23 +0000 2019,rolandsmartin,16116288,520083,0,1,Black women beaten by white supremacist joins ...
815,452,Wed Apr 03 22:12:23 +0000 2019,rolandsmartin,16116288,520083,0,1,Black women beaten by white supremacist joins ...
1459,60,Wed Apr 03 22:12:23 +0000 2019,rolandsmartin,16116288,520083,0,2,Black women beaten by white supremacist joins ...
1540,141,Wed Apr 03 22:12:23 +0000 2019,rolandsmartin,16116288,520083,0,2,Black women beaten by white supremacist joins ...
1620,221,Wed Apr 03 22:12:23 +0000 2019,rolandsmartin,16116288,520083,0,2,Black women beaten by white supremacist joins ...
1701,302,Wed Apr 03 22:12:23 +0000 2019,rolandsmartin,16116288,520083,0,2,Black women beaten by white supremacist joins ...
1781,382,Wed Apr 03 22:12:23 +0000 2019,rolandsmartin,16116288,520083,0,2,Black women beaten by white supremacist joins ...
1862,463,Wed Apr 03 22:12:23 +0000 2019,rolandsmartin,16116288,520083,0,2,Black women beaten by white supremacist joins ...
1944,545,Wed Apr 03 22:12:23 +0000 2019,rolandsmartin,16116288,520083,0,2,Black women beaten by white supremacist joins ...
3998,491,Wed Apr 03 19:54:20 +0000 2019,Mike Murphy,15535595,17545,0,0,I can‚Äôt wait for some Cap‚Äôn Kranchberries
2066,107,Wed Apr 03 19:31:56 +0000 2019,DanAuito,15387636,4142,0,0,@striderraven1 @YouTube Wouldn't doubt we woul...
2189,230,Wed Apr 03 19:31:56 +0000 2019,DanAuito,15387636,4142,0,0,@striderraven1 @YouTube Wouldn't doubt we woul...
4004,497,Wed Apr 03 19:54:19 +0000 2019,matchar,15357641,52,0,0,@RefundMyTicket Twitter n a pas l air d‚Äô√™tre u...
3637,130,Wed Apr 03 19:53:50 +0000 2019,Mohammed mohanna,15127230,824,0,0,@ArabTechnocracy @AljoufItm @almansooriboos @5...
3758,251,Wed Apr 03 19:53:50 +0000 2019,Mohammed mohanna,15127230,824,0,0,@ArabTechnocracy @AljoufItm @almansooriboos @5...
3879,372,Wed Apr 03 19:53:50 +0000 2019,Mohammed mohanna,15127230,824,0,0,@ArabTechnocracy @AljoufItm @almansooriboos @5...
2696,98,Wed Apr 03 20:00:16 +0000 2019,Chrisna,14754528,442,0,0,Jodeln ist cool.\n\nOesch's die Dritten - Jode...
2792,194,Wed Apr 03 20:00:16 +0000 2019,Chrisna,14754528,442,0,0,Jodeln ist cool.\n\nOesch's die Dritten - Jode...
2892,294,Wed Apr 03 20:00:16 +0000 2019,Chrisna,14754528,442,0,0,Jodeln ist cool.\n\nOesch's die Dritten - Jode...
2994,396,Wed Apr 03 20:00:16 +0000 2019,Chrisna,14754528,442,0,0,Jodeln ist cool.\n\nOesch's die Dritten - Jode...
3803,296,Wed Apr 03 19:54:06 +0000 2019,„Åï„Å®„Åí,14492497,976,0,0,JOKER - Teaser Trailer - In Theaters October 4...
3913,406,Wed Apr 03 19:54:06 +0000 2019,„Åï„Å®„Åí,14492497,976,0,0,JOKER - Teaser Trailer - In Theaters October 4...
3810,303,Wed Apr 03 19:54:04 +0000 2019,Mehmet Kamil Co≈ükun,12826852,502,0,6,RT @HilmiDemir60: ƒ∞mam Mat√ºridi √ºzerine yapaca...
3920,413,Wed Apr 03 19:54:04 +0000 2019,Mehmet Kamil Co≈ükun,12826852,502,0,6,RT @HilmiDemir60: ƒ∞mam Mat√ºridi √ºzerine yapaca...
4055,548,Wed Apr 03 19:54:17 +0000 2019,Dommi @ ‚ö∞Ô∏èü•Ä double update,11662952,1056,0,0,@n_x_northwest @savedbynotepad My cat when I l...

In [109]:
# Drop Duplicates only for matching columns omitting the index
youtube_filtered_df = youtube_source_df.drop_duplicates(['Created At', 'Screen Name', 'User ID', 'User Follower Count', 'Likes Counts', 'ReTweet Count', 'Tweet Text']).sort_values(by=['User ID','Created At'], ascending=False)

In [110]:
# Get New Snap Shot Statistics
youtube_filtered_df.describe()

,Unnamed: 0,User ID,User Follower Count,Likes Counts,ReTweet Count
count,1382.000000,1.382000e+03,1382.000000,1382.000000,1382.000000
mean,142.885673,4.380427e+17,4294.963097,0.052098,213.109262
std,146.756183,4.837970e+17,39806.943333,0.266727,1232.306174
min,0.000000,1.166295e+07,0.000000,0.000000,0.000000
25%,43.000000,5.511940e+08,43.000000,0.000000,0.000000
50%,82.000000,3.434125e+09,231.000000,0.000000,0.000000
75%,196.750000,9.576572e+17,959.750000,0.000000,2.000000
max,577.000000,1.113530e+18,954984.000000,4.000000,28038.000000

In [111]:
youtube_filtered_df.head()

,Unnamed: 0,Created At,Screen Name,User ID,User Follower Count,Likes Counts,ReTweet Count,Tweet Text
4144,82,Wed Apr 03 19:56:57 +0000 2019,Dylan Madden TV,1113530366780878848,0,0,0,Dylan Madden TV https://t.co/z18FjXPo89 via @Y...
3599,92,Wed Apr 03 19:53:28 +0000 2019,splashdesign,1113528088841850881,0,0,5,RT @ArThUrCoStA0: Desafio Do Cubo M√°gico! http...
2619,21,Wed Apr 03 20:00:04 +0000 2019,LadyüçØ,1113526663034204160,4,0,57,RT @LuxuryLeftyLucy: I want it now!!! Introduc...
4078,16,Wed Apr 03 19:57:09 +0000 2019,Sabrina Cunningham,1113524089069531136,0,0,0,"I took my students on a ""field trip"" this week..."
4162,100,Wed Apr 03 19:57:15 +0000 2019,IKARI üï∑,1113367683590791169,4,0,0,Leon X Hilfiger Jay X Plomo - She Tripping (PR...

In [112]:
# Count total out of Unique Tweets
youtube_total_tweets = len(youtube_filtered_df['Tweet Text'])
youtube_total_tweets

1382

In [113]:
# Calculate Facebook Avg Followers - doesn't make sense to sum.
youtube_avg_followers_ct = youtube_filtered_df['User Follower Count'].mean()
youtube_avg_followers_ct

4294.963096960926

In [114]:
# Total Likes of all tweets
# use sum of likes.
youtube_total_likes = youtube_filtered_df['Likes Counts'].sum()
#youtube_avg_likes = youtube_filtered_df['Likes Counts'].mean()
youtube_total_likes
#youtube_avg_likes

72

In [115]:
# You Tube Retweets Stats:
#youtube_sum_retweets = facebook_filtered_df['ReTweet Count'].sum()
youtube_avg_retweets = youtube_filtered_df['ReTweet Count'].mean()
#youtube_sum_retweets
youtube_avg_retweets

213.10926193921853

### Subway Surfers

In [116]:
plug = 'subwaysurfer'
path = f'./resources/{plug}'
all_files = glob.glob(path + "/*.csv")
li = []
for filename in all_files:
    df = pd.read_csv(filename, index_col=None, header=0)
    li.append(df)
SubwaySurfers_source_df = pd.concat(li, axis=0, ignore_index=True)

# Snapshot Statistics
SubwaySurfers_source_df.describe()

,Unnamed: 0,User ID,User Follower Count,Likes Counts,ReTweet Count
count,1065.000000,1.065000e+03,1065.000000,1065.000000,1065.000000
mean,250.626291,5.440740e+17,140191.392488,7.061033,2.561502
std,153.171452,4.901477e+17,292201.932131,12.602327,2.508673
min,0.000000,1.610584e+07,0.000000,0.000000,0.000000
25%,117.000000,8.770825e+08,13.000000,0.000000,0.000000
50%,250.000000,8.254647e+17,56.000000,0.000000,3.000000
75%,383.000000,9.999624e+17,3296.000000,7.000000,4.000000
max,516.000000,1.108673e+18,751349.000000,44.000000,13.000000

In [117]:
SubwaySurfers_source_df.head()

,Unnamed: 0,Created At,Screen Name,User ID,User Follower Count,Likes Counts,ReTweet Count,Tweet Text
0,0,Mon Apr 01 15:36:33 +0000 2019,kayla maria,2724663473,3296,2,0,hi @SubwaySurfers can you please download on m...
1,1,Mon Apr 01 15:36:33 +0000 2019,kayla maria,2724663473,3296,2,0,hi @SubwaySurfers can you please download on m...
2,2,Mon Apr 01 15:36:33 +0000 2019,kayla maria,2724663473,3296,2,0,hi @SubwaySurfers can you please download on m...
3,3,Mon Apr 01 15:36:33 +0000 2019,kayla maria,2724663473,3296,2,0,hi @SubwaySurfers can you please download on m...
4,4,Mon Apr 01 15:36:33 +0000 2019,kayla maria,2724663473,3296,2,0,hi @SubwaySurfers can you please download on m...

In [118]:
# Sort
SubwaySurfers_source_df.sort_values(by=['User ID','Created At'], ascending=False)
SubwaySurfers_source_df.head()

,Unnamed: 0,Created At,Screen Name,User ID,User Follower Count,Likes Counts,ReTweet Count,Tweet Text
0,0,Mon Apr 01 15:36:33 +0000 2019,kayla maria,2724663473,3296,2,0,hi @SubwaySurfers can you please download on m...
1,1,Mon Apr 01 15:36:33 +0000 2019,kayla maria,2724663473,3296,2,0,hi @SubwaySurfers can you please download on m...
2,2,Mon Apr 01 15:36:33 +0000 2019,kayla maria,2724663473,3296,2,0,hi @SubwaySurfers can you please download on m...
3,3,Mon Apr 01 15:36:33 +0000 2019,kayla maria,2724663473,3296,2,0,hi @SubwaySurfers can you please download on m...
4,4,Mon Apr 01 15:36:33 +0000 2019,kayla maria,2724663473,3296,2,0,hi @SubwaySurfers can you please download on m...

In [119]:
# Drop Duplicates only for matching columns omitting the index
SubwaySurfers_filtered_df = SubwaySurfers_source_df.drop_duplicates(['Created At', 'Screen Name', 'User ID', 'User Follower Count', 'Likes Counts', 'ReTweet Count', 'Tweet Text']).sort_values(by=['User ID','Created At'], ascending=False)

In [120]:
# Get New Snap Shot Statistics
SubwaySurfers_filtered_df.describe()

,Unnamed: 0,User ID,User Follower Count,Likes Counts,ReTweet Count
count,57.000000,5.700000e+01,57.000000,57.000000,57.000000
mean,22.473684,4.620724e+17,237672.385965,11.105263,2.649123
std,13.954141,4.960357e+17,352077.712577,15.121749,2.401571
min,0.000000,1.610584e+07,0.000000,0.000000,0.000000
25%,10.000000,1.194205e+08,13.000000,0.000000,1.000000
50%,22.000000,3.321520e+09,180.000000,1.000000,3.000000
75%,34.000000,9.410043e+17,751348.000000,27.000000,4.000000
max,46.000000,1.108673e+18,751349.000000,44.000000,13.000000

In [121]:
SubwaySurfers_filtered_df.head()

,Unnamed: 0,Created At,Screen Name,User ID,User Follower Count,Likes Counts,ReTweet Count,Tweet Text
27,6,Tue Apr 02 17:16:44 +0000 2019,ŸÖŸÖŸÖŸÖ,1108673269413089280,0,0,6,RT @KilooGames: If you can't get enough of the...
36,15,Sun Mar 31 04:52:05 +0000 2019,Riya_18181,1105890490413711362,4,1,0,OMG today is my lucky day I am on the diamond ...
23,2,Wed Apr 03 16:02:49 +0000 2019,ŸÖÿ≠ŸÖÿØ ÿ´ŸÇŸäŸÅ,1074247982449487872,5,0,4,RT @sybogames: Hippity-hoppity! üê∞ It's time to...
41,20,Fri Mar 29 15:29:21 +0000 2019,ŸÖÿ≠ŸÖÿØ ÿ´ŸÇŸäŸÅ,1074247982449487872,5,0,3,RT @sybogames: The contest is over! Thank you ...
25,4,Wed Apr 03 03:17:57 +0000 2019,Ia Marzan,1070980164731863042,13,0,3,RT @sybogames: ONE HUNDRED updates. ONE GROUP ...

In [122]:
# Count total out of Unique Tweets
SubwaySurfers_total_tweets = len(SubwaySurfers_filtered_df['Tweet Text'])
SubwaySurfers_total_tweets

57

In [123]:
# Calculate Avg Followers - doesn't make sense to sum.
SubwaySurfers_avg_followers_ct = SubwaySurfers_filtered_df['User Follower Count'].mean()
SubwaySurfers_avg_followers_ct

237672.38596491228

In [124]:
# Total Likes of all tweets
SubwaySurfers_total_likes = SubwaySurfers_filtered_df['Likes Counts'].sum()
#SubwaySurfers_avg_likes = SubwaySurfers_filtered_df['Likes Counts'].mean()
SubwaySurfers_total_likes
#SubwaySurfers_avg_likes

633

In [125]:
# Subway Surfer Retweets Stats:
#SubwaySurfers_sum_retweets = SubwaySurfers_filtered_df['ReTweet Count'].sum()
SubwaySurfers_avg_retweets = SubwaySurfers_filtered_df['ReTweet Count'].mean()
#SubwaySurfers_sum_retweets
SubwaySurfers_avg_retweets

2.6491228070175437

### Security Master - Antivirus, VPN

In [126]:
# Cheetah Mobile owns Security Master
plug = 'cheetah'
path = f'./resources/{plug}'
all_files = glob.glob(path + "/*.csv")
li = []
for filename in all_files:
    df = pd.read_csv(filename, index_col=None, header=0)
    li.append(df)
SecurityMaster_source_df = pd.concat(li, axis=0, ignore_index=True)

# Snapshot Statistics
SecurityMaster_source_df.describe()

,Unnamed: 0,User ID,User Follower Count,Likes Counts,ReTweet Count
count,274.000000,2.740000e+02,274.000000,274.0,274.0
mean,51.390511,9.042903e+17,365.047445,0.0,0.0
std,33.711729,3.965604e+17,985.308829,0.0,0.0
min,0.000000,3.222250e+08,4.000000,0.0,0.0
25%,22.250000,1.069502e+18,5.250000,0.0,0.0
50%,46.000000,1.072073e+18,12.000000,0.0,0.0
75%,80.000000,1.094852e+18,25.000000,0.0,0.0
max,119.000000,1.094865e+18,3466.000000,0.0,0.0

In [127]:
SecurityMaster_source_df.head()

,Unnamed: 0,Created At,Screen Name,User ID,User Follower Count,Likes Counts,ReTweet Count,Tweet Text
0,0,Sat Mar 30 00:22:17 +0000 2019,Ferdinand Duya,1038216836662231040,17,0,0,This Is My New Best In Faded By @IAmAlanWalker...
1,1,Tue Mar 26 09:11:10 +0000 2019,Volanews,1069502003821260805,25,0,0,@CheetahMobile HAS A TOTAL REVENUE OF 5 BILLI...
2,2,Tue Mar 26 09:11:04 +0000 2019,Volanews,1069502003821260805,25,0,0,@CheetahMobile HAS A TOTAL REVENUE OF 5 BILLI...
3,3,Tue Mar 26 09:10:40 +0000 2019,Volanews Iran,1094853441623605248,5,0,0,@CheetahMobile HAS A TOTAL REVENUE OF 5 BILLI...
4,4,Tue Mar 26 09:10:13 +0000 2019,Volanews Israel,1094865044909756417,4,0,0,@CheetahMobile HAS A TOTAL REVENUE OF 5 BILLI...

In [128]:
# has duplicates
SecurityMaster_source_df.sort_values(by=['User ID','Created At'], ascending=False)
SecurityMaster_source_df.head()

,Unnamed: 0,Created At,Screen Name,User ID,User Follower Count,Likes Counts,ReTweet Count,Tweet Text
0,0,Sat Mar 30 00:22:17 +0000 2019,Ferdinand Duya,1038216836662231040,17,0,0,This Is My New Best In Faded By @IAmAlanWalker...
1,1,Tue Mar 26 09:11:10 +0000 2019,Volanews,1069502003821260805,25,0,0,@CheetahMobile HAS A TOTAL REVENUE OF 5 BILLI...
2,2,Tue Mar 26 09:11:04 +0000 2019,Volanews,1069502003821260805,25,0,0,@CheetahMobile HAS A TOTAL REVENUE OF 5 BILLI...
3,3,Tue Mar 26 09:10:40 +0000 2019,Volanews Iran,1094853441623605248,5,0,0,@CheetahMobile HAS A TOTAL REVENUE OF 5 BILLI...
4,4,Tue Mar 26 09:10:13 +0000 2019,Volanews Israel,1094865044909756417,4,0,0,@CheetahMobile HAS A TOTAL REVENUE OF 5 BILLI...

In [129]:
# Drop Duplicates only for matching columns omitting the index
SecurityMaster_filtered_df = SecurityMaster_source_df.drop_duplicates(['Created At', 'Screen Name', 'User ID', 'User Follower Count', 'Likes Counts', 'ReTweet Count', 'Tweet Text']).sort_values(by=['User ID','Created At'], ascending=False)

In [130]:
# Get New Snap Shot Statistics
SecurityMaster_filtered_df.describe()

,Unnamed: 0,User ID,User Follower Count,Likes Counts,ReTweet Count
count,14.000000,1.400000e+01,14.000000,14.0,14.0
mean,3.642857,7.694893e+17,640.071429,0.0,0.0
std,2.951066,5.052647e+17,1291.266669,0.0,0.0
min,0.000000,3.222250e+08,4.000000,0.0,0.0
25%,1.250000,2.595542e+17,7.000000,0.0,0.0
50%,3.000000,1.070780e+18,14.500000,0.0,0.0
75%,5.750000,1.089157e+18,58.750000,0.0,0.0
max,9.000000,1.094865e+18,3466.000000,0.0,0.0

In [131]:
SecurityMaster_filtered_df.head()

,Unnamed: 0,Created At,Screen Name,User ID,User Follower Count,Likes Counts,ReTweet Count,Tweet Text
4,4,Tue Mar 26 09:10:13 +0000 2019,Volanews Israel,1094865044909756417,4,0,0,@CheetahMobile HAS A TOTAL REVENUE OF 5 BILLI...
3,3,Tue Mar 26 09:10:40 +0000 2019,Volanews Iran,1094853441623605248,5,0,0,@CheetahMobile HAS A TOTAL REVENUE OF 5 BILLI...
9,9,Tue Mar 26 09:00:08 +0000 2019,Volanews SoutheastAsia,1094852672409227264,6,0,0,@CheetahMobile HAS A TOTAL REVENUE OF 5 BILLI...
5,5,Tue Mar 26 09:07:19 +0000 2019,Volanews Indonesia,1094851269557137414,5,0,0,@CheetahMobile HAS A TOTAL REVENUE OF 5 BILLI...
8,8,Tue Mar 26 09:02:04 +0000 2019,Volanews Saudi Arabia,1072075553518235648,12,0,0,@CheetahMobile HAS A TOTAL REVENUE OF 5 BILLI...

In [132]:
# Count total out of Unique Tweets
SecurityMaster_total_tweets = len(SecurityMaster_filtered_df['Tweet Text'])
SecurityMaster_total_tweets

14

In [133]:
# Calculate Avg Followers - doesn't make sense to sum.
SecurityMaster_avg_followers_ct = SecurityMaster_filtered_df['User Follower Count'].mean()
SecurityMaster_avg_followers_ct

640.0714285714286

In [134]:
# Total Likes of all tweets
SecurityMaster_total_likes = SecurityMaster_filtered_df['Likes Counts'].sum()
#SecurityMaster_avg_likes = SecurityMaster_filtered_df['Likes Counts'].mean()
SecurityMaster_total_likes
#SecurityMaster_avg_likes

0

In [135]:
# Security Master Retweets Stats:
#SecurityMaster_sum_retweets = SecurityMaster_filtered_df['ReTweet Count'].sum()
SecurityMaster_avg_retweets = SecurityMaster_filtered_df['ReTweet Count'].mean()
#SecurityMaster_sum_retweets
SecurityMaster_avg_retweets

0.0

### Clash Royale

In [136]:
plug = 'clashroyale'
path = f'./resources/{plug}'
all_files = glob.glob(path + "/*.csv")
li = []
for filename in all_files:
    df = pd.read_csv(filename, index_col=None, header=0)
    li.append(df)
ClashRoyale_source_df = pd.concat(li, axis=0, ignore_index=True)

# Snapshot Statistics
ClashRoyale_source_df.describe()

,Unnamed: 0,User ID,User Follower Count,Likes Counts,ReTweet Count
count,5000.000000,5.000000e+03,5000.000000,5000.000000,5000.00000
mean,511.500000,7.100726e+17,3369.361200,2.477800,10.43440
std,305.954199,4.176288e+17,15596.992853,12.352717,24.59703
min,0.000000,1.408385e+07,0.000000,0.000000,0.00000
25%,249.750000,7.139890e+17,26.000000,0.000000,0.00000
50%,499.500000,8.907390e+17,114.000000,0.000000,0.00000
75%,762.000000,9.991290e+17,602.000000,1.000000,8.00000
max,1099.000000,1.113525e+18,132140.000000,120.000000,186.00000

In [137]:
ClashRoyale_source_df.head()

,Unnamed: 0,Created At,Screen Name,User ID,User Follower Count,Likes Counts,ReTweet Count,Tweet Text
0,0,Wed Apr 03 23:46:47 +0000 2019,DRAXLER,999129036336099328,17,0,1,RT @Eagle_LeagueCR: üîº ¬°Se abren Inscripci√≥nes ...
1,1,Wed Apr 03 23:29:04 +0000 2019,DS Mertalz,1044628518527750144,22,0,0,Currently Streaming @ClashRoyale and talking @...
2,2,Wed Apr 03 23:26:33 +0000 2019,Ayuda Jugador,1033487390147571712,4015,0,2,"RT @AEMoviles: Bueno, parece que hoy no habr√° ..."
3,3,Wed Apr 03 23:26:05 +0000 2019,Eagle League CR,1097546946120699904,138,1,1,üîº ¬°Se abren Inscripci√≥nes para una copa de Cla...
4,4,Wed Apr 03 23:25:59 +0000 2019,TwitTheReality,2494423504,41,0,0,It's started üëâüèªüëâüèª#clashroyale #ladder #golem #...

In [138]:
# has duplicates
ClashRoyale_source_df.sort_values(by=['User ID','Created At'], ascending=False)

,Unnamed: 0,Created At,Screen Name,User ID,User Follower Count,Likes Counts,ReTweet Count,Tweet Text
1191,91,Wed Apr 03 19:36:49 +0000 2019,Dark68 Fr,1113524931332120577,0,0,71,RT @ClashRoyale: ü•∞ https://t.co/WHjzvnW52r
1291,191,Wed Apr 03 19:36:49 +0000 2019,Dark68 Fr,1113524931332120577,0,0,71,RT @ClashRoyale: ü•∞ https://t.co/WHjzvnW52r
1391,291,Wed Apr 03 19:36:49 +0000 2019,Dark68 Fr,1113524931332120577,0,0,71,RT @ClashRoyale: ü•∞ https://t.co/WHjzvnW52r
1491,391,Wed Apr 03 19:36:49 +0000 2019,Dark68 Fr,1113524931332120577,0,0,71,RT @ClashRoyale: ü•∞ https://t.co/WHjzvnW52r
1591,491,Wed Apr 03 19:36:49 +0000 2019,Dark68 Fr,1113524931332120577,0,0,71,RT @ClashRoyale: ü•∞ https://t.co/WHjzvnW52r
1691,591,Wed Apr 03 19:36:49 +0000 2019,Dark68 Fr,1113524931332120577,0,0,71,RT @ClashRoyale: ü•∞ https://t.co/WHjzvnW52r
1791,691,Wed Apr 03 19:36:49 +0000 2019,Dark68 Fr,1113524931332120577,0,0,71,RT @ClashRoyale: ü•∞ https://t.co/WHjzvnW52r
1891,791,Wed Apr 03 19:36:49 +0000 2019,Dark68 Fr,1113524931332120577,0,0,71,RT @ClashRoyale: ü•∞ https://t.co/WHjzvnW52r
1991,891,Wed Apr 03 19:36:49 +0000 2019,Dark68 Fr,1113524931332120577,0,0,71,RT @ClashRoyale: ü•∞ https://t.co/WHjzvnW52r
2091,991,Wed Apr 03 19:36:49 +0000 2019,Dark68 Fr,1113524931332120577,0,0,71,RT @ClashRoyale: ü•∞ https://t.co/WHjzvnW52r
2191,1091,Wed Apr 03 19:36:49 +0000 2019,Dark68 Fr,1113524931332120577,0,0,71,RT @ClashRoyale: ü•∞ https://t.co/WHjzvnW52r
2292,92,Wed Apr 03 19:36:49 +0000 2019,Dark68 Fr,1113524931332120577,0,0,71,RT @ClashRoyale: ü•∞ https://t.co/WHjzvnW52r
2392,192,Wed Apr 03 19:36:49 +0000 2019,Dark68 Fr,1113524931332120577,0,0,71,RT @ClashRoyale: ü•∞ https://t.co/WHjzvnW52r
2492,292,Wed Apr 03 19:36:49 +0000 2019,Dark68 Fr,1113524931332120577,0,0,71,RT @ClashRoyale: ü•∞ https://t.co/WHjzvnW52r
2592,392,Wed Apr 03 19:36:49 +0000 2019,Dark68 Fr,1113524931332120577,0,0,71,RT @ClashRoyale: ü•∞ https://t.co/WHjzvnW52r
2692,492,Wed Apr 03 19:36:49 +0000 2019,Dark68 Fr,1113524931332120577,0,0,71,RT @ClashRoyale: ü•∞ https://t.co/WHjzvnW52r
2792,592,Wed Apr 03 19:36:49 +0000 2019,Dark68 Fr,1113524931332120577,0,0,71,RT @ClashRoyale: ü•∞ https://t.co/WHjzvnW52r
2892,692,Wed Apr 03 19:36:49 +0000 2019,Dark68 Fr,1113524931332120577,0,0,71,RT @ClashRoyale: ü•∞ https://t.co/WHjzvnW52r
2992,792,Wed Apr 03 19:36:49 +0000 2019,Dark68 Fr,1113524931332120577,0,0,71,RT @ClashRoyale: ü•∞ https://t.co/WHjzvnW52r
3092,892,Wed Apr 03 19:36:49 +0000 2019,Dark68 Fr,1113524931332120577,0,0,71,RT @ClashRoyale: ü•∞ https://t.co/WHjzvnW52r
3192,992,Wed Apr 03 19:36:49 +0000 2019,Dark68 Fr,1113524931332120577,0,0,71,RT @ClashRoyale: ü•∞ https://t.co/WHjzvnW52r
3292,1092,Wed Apr 03 19:36:49 +0000 2019,Dark68 Fr,1113524931332120577,0,0,71,RT @ClashRoyale: ü•∞ https://t.co/WHjzvnW52r
3391,91,Wed Apr 03 19:36:49 +0000 2019,Dark68 Fr,1113524931332120577,0,0,71,RT @ClashRoyale: ü•∞ https://t.co/WHjzvnW52r
3491,191,Wed Apr 03 19:36:49 +0000 2019,Dark68 Fr,1113524931332120577,0,0,71,RT @ClashRoyale: ü•∞ https://t.co/WHjzvnW52r
3591,291,Wed Apr 03 19:36:49 +0000 2019,Dark68 Fr,1113524931332120577,0,0,71,RT @ClashRoyale: ü•∞ https://t.co/WHjzvnW52r
3691,391,Wed Apr 03 19:36:49 +0000 2019,Dark68 Fr,1113524931332120577,0,0,71,RT @ClashRoyale: ü•∞ https://t.co/WHjzvnW52r
3791,491,Wed Apr 03 19:36:49 +0000 2019,Dark68 Fr,1113524931332120577,0,0,71,RT @ClashRoyale: ü•∞ https://t.co/WHjzvnW52r
3891,591,Wed Apr 03 19:36:49 +0000 2019,Dark68 Fr,1113524931332120577,0,0,71,RT @ClashRoyale: ü•∞ https://t.co/WHjzvnW52r
3991,691,Wed Apr 03 19:36:49 +0000 2019,Dark68 Fr,1113524931332120577,0,0,71,RT @ClashRoyale: ü•∞ https://t.co/WHjzvnW52r
4091,791,Wed Apr 03 19:36:49 +0000 2019,Dark68 Fr,1113524931332120577,0,0,71,RT @ClashRoyale: ü•∞ https://t.co/WHjzvnW52r
...,...,...,...,...,...,...,...,...
329,329,Wed Apr 03 22:28:27 +0000 2019,üå™‚òÖMILENIO‚òÜüå™,132612172,726,0,2,RT @MojoPiconCR: Quieres estar en un #Clan üí∂ R...
429,429,Wed Apr 03 22:28:27 +0000 2019,üå™‚òÖMILENIO‚òÜüå™,132612172,726,0,2,RT @MojoPiconCR: Quieres estar en un #Clan üí∂ R...
529,529,Wed Apr 03 22:28:27 +0000 2019,üå™‚òÖMILENIO‚òÜüå™,132612172,726,0,2,RT @MojoPiconCR: Quieres estar en un #Clan üí∂ R...
629,629,Wed Apr 03 22:28:27 +0000 2019,üå™‚òÖMILENIO‚òÜüå™,132612172,726,0,2,RT @MojoPiconCR: Quieres estar en un #Clan üí∂ R...
729,729,Wed Apr 03 22:28:27 +0000 2019,üå™‚òÖMILENIO‚òÜüå™,132612172,726,0,2,RT @MojoPiconCR: Quieres estar en un #Clan üí∂ R...
829,829,Wed Apr 03 22:28:27 +0000 2019,üå™‚òÖMILENIO‚òÜüå™,132612172,726,0,2,RT @MojoPiconCR: Quieres estar en un #Clan üí∂ R...
929,929,Wed Apr 03 22:28:27 +0000 2019,üå™‚òÖMILENIO‚òÜüå™,132612172,726,0,2,RT @MojoPiconCR: Quieres estar en un #Clan üí∂ R...
1029,1029,Wed Apr 03 22:28:27 +0000 2019,üå™‚òÖMILENIO‚òÜüå™,132612172,726,0,2,RT @MojoPiconCR: Quieres estar en un #Clan üí∂ R...
99,99,Wed Apr 03 20:16:03 +0000 2019,dr.melindre,17268696,431,0,1,RT @eSports4Players: La @LVPes expulsa a @GAEs...
199,199,Wed Apr 03 20:16:03 +0000 2019,dr.melindre,17268696,431,0,1,RT @eSports4Players: La @LVPes expulsa a @GAEs...
299,299,Wed Apr 03 20:16:03 +0000 2019,dr.melindre,17268696,431,0,1,RT @eSports4Players: La @LVPes expulsa a @GAEs...
399,399,Wed Apr 03 20:16:03 +0000 2019,dr.melindre,17268696,431,0,1,RT @eSports4Players: La @LVPes expulsa a @GAEs...
499,499,Wed Apr 03 20:16:03 +0000 2019,dr.melindre,17268696,431,0,1,RT @eSports4Players: La @LVPes expulsa a @GAEs...
599,599,Wed Apr 03 20:16:03 +0000 2019,dr.melindre,17268696,431,0,1,RT @eSports4Players: La @LVPes expulsa a @GAEs...
699,699,Wed Apr 03 20:16:03 +0000 2019,dr.melindre,17268696,431,0,1,RT @eSports4Players: La @LVPes expulsa a @GAEs...
799,799,Wed Apr 03 20:16:03 +0000 2019,dr.melindre,17268696,431,0,1,RT @eSports4Players: La @LVPes expulsa a @GAEs...
899,899,Wed Apr 03 20:16:03 +0000 2019,dr.melindre,17268696,431,0,1,RT @eSports4Players: La @LVPes expulsa a @GAEs...
999,999,Wed Apr 03 20:16:03 +0000 2019,dr.melindre,17268696,431,0,1,RT @eSports4Players: La @LVPes expulsa a @GAEs...
1099,1099,Wed Apr 03 20:16:03 +0000 2019,dr.melindre,17268696,431,0,1,RT @eSports4Players: La @LVPes expulsa a @GAEs...
20,20,Wed Apr 03 22:41:17 +0000 2019,LauraDark,14083852,19879,0,1,RT @CapitalGamingmx: ¬°@YoSoyAntrax y @TheMatt_...
120,120,Wed Apr 03 22:41:17 +0000 2019,LauraDark,14083852,19879,0,1,RT @CapitalGamingmx: ¬°@YoSoyAntrax y @TheMatt_...
220,220,Wed Apr 03 22:41:17 +0000 2019,LauraDark,14083852,19879,0,1,RT @CapitalGamingmx: ¬°@YoSoyAntrax y @TheMatt_...
320,320,Wed Apr 03 22:41:17 +0000 2019,LauraDark,14083852,19879,0,1,RT @CapitalGamingmx: ¬°@YoSoyAntrax y @TheMatt_...
420,420,Wed Apr 03 22:41:17 +0000 2019,LauraDark,14083852,19879,0,1,RT @CapitalGamingmx: ¬°@YoSoyAntrax y @TheMatt_...
520,520,Wed Apr 03 22:41:17 +0000 2019,LauraDark,14083852,19879,0,1,RT @CapitalGamingmx: ¬°@YoSoyAntrax y @TheMatt_...
620,620,Wed Apr 03 22:41:17 +0000 2019,LauraDark,14083852,19879,0,1,RT @CapitalGamingmx: ¬°@YoSoyAntrax y @TheMatt_...
720,720,Wed Apr 03 22:41:17 +0000 2019,LauraDark,14083852,19879,0,1,RT @CapitalGamingmx: ¬°@YoSoyAntrax y @TheMatt_...
820,820,Wed Apr 03 22:41:17 +0000 2019,LauraDark,14083852,19879,0,1,RT @CapitalGamingmx: ¬°@YoSoyAntrax y @TheMatt_...
920,920,Wed Apr 03 22:41:17 +0000 2019,LauraDark,14083852,19879,0,1,RT @CapitalGamingmx: ¬°@YoSoyAntrax y @TheMatt_...
1020,1020,Wed Apr 03 22:41:17 +0000 2019,LauraDark,14083852,19879,0,1,RT @CapitalGamingmx: ¬°@YoSoyAntrax y @TheMatt_...

In [139]:
# Drop Duplicates only for matching columns omitting the index
ClashRoyale_filtered_df = ClashRoyale_source_df.drop_duplicates(['Created At', 'Screen Name', 'User ID', 'User Follower Count', 'Likes Counts', 'ReTweet Count', 'Tweet Text']).sort_values(by=['User ID','Created At'], ascending=False)

In [140]:
# Get New Snap Shot Statistics
ClashRoyale_filtered_df.describe()

,Unnamed: 0,User ID,User Follower Count,Likes Counts,ReTweet Count
count,214.000000,2.140000e+02,214.000000,214.000000,214.000000
mean,63.261682,7.201007e+17,6993.528037,4.532710,9.635514
std,115.339453,4.181063e+17,23675.956380,17.032043,21.458068
min,0.000000,1.408385e+07,0.000000,0.000000,0.000000
25%,25.000000,7.191157e+17,29.250000,0.000000,0.000000
50%,50.000000,9.020075e+17,145.500000,0.000000,1.000000
75%,75.750000,1.033273e+18,907.000000,1.000000,8.000000
max,1043.000000,1.113525e+18,132140.000000,120.000000,186.000000

In [141]:
ClashRoyale_filtered_df.head()

,Unnamed: 0,Created At,Screen Name,User ID,User Follower Count,Likes Counts,ReTweet Count,Tweet Text
1191,91,Wed Apr 03 19:36:49 +0000 2019,Dark68 Fr,1113524931332120577,0,0,71,RT @ClashRoyale: ü•∞ https://t.co/WHjzvnW52r
51,51,Wed Apr 03 21:44:55 +0000 2019,DCR Championship,1113204116325580801,10,2,1,‚öîÔ∏è Para saber o que vai rolar voc√™ precisa est...
17,17,Wed Apr 03 22:43:51 +0000 2019,Juan Carlos,1112997949334851584,5,0,1,RT @JuanCar50259285: #ClashRoyale https://t.co...
18,18,Wed Apr 03 22:43:46 +0000 2019,Juan Carlos,1112997949334851584,5,0,1,RT @JuanCar50259285: #ClashRoyale üôÑ https://t....
5,5,Wed Apr 03 23:21:58 +0000 2019,eSports Ayuda,1112527167274057728,2,0,17,RT @TopMexOficial: #ANUNCIO ‚ö†Ô∏è\n\nüî∂ Estos ser√°...

In [142]:
# Count total out of Unique Tweets
ClashRoyale_total_tweets = len(ClashRoyale_filtered_df['Tweet Text'])
ClashRoyale_total_tweets

214

In [143]:
# Calculate Avg Followers - doesn't make sense to sum.
ClashRoyale_avg_followers_ct = ClashRoyale_filtered_df['User Follower Count'].mean()
ClashRoyale_avg_followers_ct

6993.528037383177

In [144]:
# Total Likes of all tweets
ClashRoyale_total_likes = ClashRoyale_filtered_df['Likes Counts'].sum()
#ClashRoyale_avg_likes = ClashRoyale_filtered_df['Likes Counts'].mean()
ClashRoyale_total_likes
#ClashRoyale_avg_likes

970

In [145]:
# ClashRoyale Retweets Stats:
#ClashRoyale_sum_retweets = ClashRoyale_filtered_df['ReTweet Count'].sum()
ClashRoyale_avg_retweets = ClashRoyale_filtered_df['ReTweet Count'].mean()
#facebook_sum_retweets
ClashRoyale_avg_retweets

9.63551401869159

### Clean Master - Space Cleaner

In [146]:
plug = 'cleanmaster'
path = f'./resources/{plug}'
all_files = glob.glob(path + "/*.csv")
li = []
for filename in all_files:
    df = pd.read_csv(filename, index_col=None, header=0)
    li.append(df)
CleanMaster_source_df = pd.concat(li, axis=0, ignore_index=True)

# Snapshot Statistics
CleanMaster_source_df.describe()

,Unnamed: 0,Created At,Screen Name,User ID,User Follower Count,Likes Counts,ReTweet Count,Tweet Text
count,110,110,110,110,110,110,110,110
unique,55,5,4,4,4,2,2,3
top,54,Tue Mar 26 07:46:25 +0000 2019,clean master,1108067498488987650,55,0,3,RT @cleanma96732504: A chaque jour suffit sa p...
freq,2,22,44,44,44,88,88,66

In [147]:
CleanMaster_source_df.head()

,Unnamed: 0,Created At,Screen Name,User ID,User Follower Count,Likes Counts,ReTweet Count,Tweet Text
0,0,Tue Mar 26 07:46:25 +0000 2019,‚ô°Ivy Javaaa‚ô°,634590496,598,0,3,RT @cleanma96732504: A chaque jour suffit sa p...
1,1,Mon Mar 25 18:49:34 +0000 2019,mbabi Philchris,1078223353549414400,38,0,3,RT @cleanma96732504: A chaque jour suffit sa p...
2,2,Mon Mar 25 18:44:14 +0000 2019,clean master,1108067498488987650,55,0,3,RT @cleanma96732504: A chaque jour suffit sa p...
3,3,Mon Mar 25 18:43:49 +0000 2019,clean master,1108067498488987650,55,3,3,A chaque jour suffit sa peine..Merci a cette d...
4,4,Mon Mar 25 17:53:57 +0000 2019,LavanderiApp,1015722017264488449,40,0,0,¬øSab√≠as que #LavanderiApp la puedes descargar ...

In [148]:
# has duplicates
CleanMaster_source_df.sort_values(by=['User ID','Created At'], ascending=False)
CleanMaster_source_df.head()

,Unnamed: 0,Created At,Screen Name,User ID,User Follower Count,Likes Counts,ReTweet Count,Tweet Text
0,0,Tue Mar 26 07:46:25 +0000 2019,‚ô°Ivy Javaaa‚ô°,634590496,598,0,3,RT @cleanma96732504: A chaque jour suffit sa p...
1,1,Mon Mar 25 18:49:34 +0000 2019,mbabi Philchris,1078223353549414400,38,0,3,RT @cleanma96732504: A chaque jour suffit sa p...
2,2,Mon Mar 25 18:44:14 +0000 2019,clean master,1108067498488987650,55,0,3,RT @cleanma96732504: A chaque jour suffit sa p...
3,3,Mon Mar 25 18:43:49 +0000 2019,clean master,1108067498488987650,55,3,3,A chaque jour suffit sa peine..Merci a cette d...
4,4,Mon Mar 25 17:53:57 +0000 2019,LavanderiApp,1015722017264488449,40,0,0,¬øSab√≠as que #LavanderiApp la puedes descargar ...

In [149]:
# Drop Duplicates only for matching columns omitting the index
CleanMaster_filtered_df = CleanMaster_source_df.drop_duplicates(['Created At', 'Screen Name', 'User ID', 'User Follower Count', 'Likes Counts', 'ReTweet Count', 'Tweet Text']).sort_values(by=['User ID','Created At'], ascending=False)

In [150]:
# Get New Snap Shot Statistics
CleanMaster_filtered_df.describe()

,Unnamed: 0,Created At,Screen Name,User ID,User Follower Count,Likes Counts,ReTweet Count,Tweet Text
count,5,5,5,5,5,5,5,5
unique,5,5,4,4,4,2,2,3
top,4,Tue Mar 26 07:46:25 +0000 2019,clean master,1108067498488987650,55,0,3,RT @cleanma96732504: A chaque jour suffit sa p...
freq,1,1,2,2,2,4,4,3

In [151]:
CleanMaster_filtered_df.head()

,Unnamed: 0,Created At,Screen Name,User ID,User Follower Count,Likes Counts,ReTweet Count,Tweet Text
2,2,Mon Mar 25 18:44:14 +0000 2019,clean master,1108067498488987650,55,0,3,RT @cleanma96732504: A chaque jour suffit sa p...
3,3,Mon Mar 25 18:43:49 +0000 2019,clean master,1108067498488987650,55,3,3,A chaque jour suffit sa peine..Merci a cette d...
1,1,Mon Mar 25 18:49:34 +0000 2019,mbabi Philchris,1078223353549414400,38,0,3,RT @cleanma96732504: A chaque jour suffit sa p...
4,4,Mon Mar 25 17:53:57 +0000 2019,LavanderiApp,1015722017264488449,40,0,0,¬øSab√≠as que #LavanderiApp la puedes descargar ...
0,0,Tue Mar 26 07:46:25 +0000 2019,‚ô°Ivy Javaaa‚ô°,634590496,598,0,3,RT @cleanma96732504: A chaque jour suffit sa p...

In [152]:
# Count total out of Unique Tweets
CleanMaster_total_tweets = len(CleanMaster_filtered_df['Tweet Text'])
CleanMaster_total_tweets

5

In [153]:
# Calculate Avg Followers - doesn't make sense to sum.
CleanMaster_avg_followers_ct = CleanMaster_filtered_df['User Follower Count'].mean()
CleanMaster_avg_followers_ct

157.2

In [154]:
# Total Likes of all tweets
CleanMaster_total_likes = CleanMaster_filtered_df['Likes Counts'].sum()
#facebook_avg_likes = facebook_filtered_df['Likes Counts'].mean()
CleanMaster_total_likes
#facebook_avg_likes

3

In [155]:
# Clean MasterRetweets Stats:
#CleanMaster_sum_retweets = CleanMaster_filtered_df['ReTweet Count'].sum()
CleanMaster_avg_retweets = CleanMaster_filtered_df['ReTweet Count'].mean()
#facebook_sum_retweets
CleanMaster_avg_retweets

2.4

### What's App

In [156]:
plug = 'whatsapp'
path = f'./resources/{plug}'
all_files = glob.glob(path + "/*.csv")
li = []
for filename in all_files:
    df = pd.read_csv(filename, index_col=None, header=0)
    li.append(df)
whatsapp_source_df = pd.concat(li, axis=0, ignore_index=True)

# Snapshot Statistics
whatsapp_source_df.describe()

,Unnamed: 0,User ID,User Follower Count,Likes Counts,ReTweet Count
count,1222.000000,1.222000e+03,1222.000000,1222.000000,1222.000000
mean,610.500000,4.248351e+17,6411.445990,0.126023,140.546645
std,352.905323,4.950561e+17,38477.049121,0.736657,177.606008
min,0.000000,1.666568e+07,0.000000,0.000000,0.000000
25%,305.250000,2.980197e+08,36.000000,0.000000,0.000000
50%,610.500000,2.552448e+09,167.000000,0.000000,16.000000
75%,915.750000,9.956510e+17,1169.000000,0.000000,355.000000
max,1221.000000,1.113630e+18,339446.000000,7.000000,429.000000

In [157]:
whatsapp_source_df.head()

,Unnamed: 0,Created At,Screen Name,User ID,User Follower Count,Likes Counts,ReTweet Count,Tweet Text
0,0,Thu Apr 04 03:07:50 +0000 2019,Chowkidar Ankush KhandelwalüáÆüá≥üáÆüá≥,1703848657,264,0,42,RT @manakgupta: Thanks @WhatsApp. Now nobody w...
1,1,Thu Apr 04 03:07:37 +0000 2019,Prabhu,134720028,787,0,426,RT @ShashiTharoor: This is the poisonous bilge...
2,2,Thu Apr 04 03:07:22 +0000 2019,Prabhu,134720028,787,0,258,RT @ShashiTharoor: I call on those who run @wh...
3,3,Thu Apr 04 03:07:13 +0000 2019,‡§ú‡§æ‡§ó‡§∞‡•Ç‡§ï ‡§Æ‡§§‡§¶‡§æ‡§§‡§æ,1031206661434875904,148,0,426,RT @ShashiTharoor: This is the poisonous bilge...
4,4,Thu Apr 04 03:07:02 +0000 2019,Deepti,1039712604246044674,347,0,0,@manakgupta @WhatsApp Self control is D key to...

In [158]:
# has duplicates
whatsapp_source_df.sort_values(by=['User ID','Created At'], ascending=False)
whatsapp_source_df.head()

,Unnamed: 0,Created At,Screen Name,User ID,User Follower Count,Likes Counts,ReTweet Count,Tweet Text
0,0,Thu Apr 04 03:07:50 +0000 2019,Chowkidar Ankush KhandelwalüáÆüá≥üáÆüá≥,1703848657,264,0,42,RT @manakgupta: Thanks @WhatsApp. Now nobody w...
1,1,Thu Apr 04 03:07:37 +0000 2019,Prabhu,134720028,787,0,426,RT @ShashiTharoor: This is the poisonous bilge...
2,2,Thu Apr 04 03:07:22 +0000 2019,Prabhu,134720028,787,0,258,RT @ShashiTharoor: I call on those who run @wh...
3,3,Thu Apr 04 03:07:13 +0000 2019,‡§ú‡§æ‡§ó‡§∞‡•Ç‡§ï ‡§Æ‡§§‡§¶‡§æ‡§§‡§æ,1031206661434875904,148,0,426,RT @ShashiTharoor: This is the poisonous bilge...
4,4,Thu Apr 04 03:07:02 +0000 2019,Deepti,1039712604246044674,347,0,0,@manakgupta @WhatsApp Self control is D key to...

In [159]:
# Drop Duplicates only for matching columns omitting the index
whatsapp_filtered_df = whatsapp_source_df.drop_duplicates(['Created At', 'Screen Name', 'User ID', 'User Follower Count', 'Likes Counts', 'ReTweet Count', 'Tweet Text']).sort_values(by=['User ID','Created At'], ascending=False)

In [160]:
# Get New Snap Shot Statistics
whatsapp_filtered_df.describe()

,Unnamed: 0,User ID,User Follower Count,Likes Counts,ReTweet Count
count,184.000000,1.840000e+02,184.000000,184.000000,184.000000
mean,371.885870,4.033641e+17,4373.668478,0.081522,220.603261
std,343.417417,4.886036e+17,30093.015828,0.581017,193.751687
min,0.000000,1.666568e+07,0.000000,0.000000,0.000000
25%,45.750000,2.565272e+08,68.000000,0.000000,1.000000
50%,270.000000,2.473971e+09,283.000000,0.000000,258.500000
75%,696.250000,9.691852e+17,1336.250000,0.000000,427.000000
max,1186.000000,1.113630e+18,339446.000000,7.000000,429.000000

In [161]:
whatsapp_filtered_df.head()

,Unnamed: 0,Created At,Screen Name,User ID,User Follower Count,Likes Counts,ReTweet Count,Tweet Text
35,35,Thu Apr 04 02:58:15 +0000 2019,sabbe yah,1113629730593550336,0,0,406,RT @Aazarouni: @WhatsApp\n\nkindly provide the...
850,850,Thu Apr 04 02:58:15 +0000 2019,sabbe yah,1113629730593550336,0,0,404,RT @Aazarouni: @WhatsApp\n\nkindly provide the...
50,50,Thu Apr 04 02:53:39 +0000 2019,Payal Choudhury,1112334550632271872,7,0,42,RT @manakgupta: Thanks @WhatsApp. Now nobody w...
8,8,Thu Apr 04 03:06:24 +0000 2019,The Chowkidar,1110107539855687680,4,0,0,@ShashiTharoor @DhruvSquad @WhatsApp @facebook...
868,868,Thu Apr 04 02:44:55 +0000 2019,Bella Boo,1107730072532905984,49,0,0,Wet F19 wanting guys to rate my nude pics on s...

In [162]:
# Count total out of Unique Tweets
whatsapp_total_tweets = len(whatsapp_filtered_df['Tweet Text'])
whatsapp_total_tweets

184

In [163]:
# Calculate Facebook Avg Followers - doesn't make sense to sum.
whatsapp_avg_followers_ct = whatsapp_filtered_df['User Follower Count'].mean()
whatsapp_avg_followers_ct

4373.66847826087

In [164]:
# Total Likes of all tweets.
whatsapp_total_likes = whatsapp_filtered_df['Likes Counts'].sum()
#whatsapp_avg_likes = whatsapp_filtered_df['Likes Counts'].mean()
whatsapp_total_likes
#whatsapp_avg_likes

15

In [165]:
# Whatsapp Retweets Stats:
#whatsapp_sum_retweets = whatsapp_filtered_df['ReTweet Count'].sum()
whatsapp_avg_retweets = whatsapp_filtered_df['ReTweet Count'].mean()
#whatsapp_sum_retweets
whatsapp_avg_retweets

220.60326086956522

# Charts and Plots

#### Scatter plot - Twitter Average Followers to Tweets

In [174]:
# Scatter Plot 1 - Tweets vs Average Followers vs Total Likes of the Top 10 Apps for both Google and Apple App Stores

fig, ax = plt.subplots(figsize=(11,11))


# Apps both on Google Play Store and Apple - 4 apps
facebook_plot = ax.scatter(facebook_total_tweets, facebook_avg_followers_ct, s=facebook_total_likes*15, color='sandybrown', label='Facebook', edgecolors='black', alpha=0.75)
instagram_plot= ax.scatter(instagram_total_tweets, instagram_avg_followers_ct, s=instagram_total_likes*15, color='saddlebrown', label='Instagram', edgecolors='black', alpha=0.5)
coc_plot= ax.scatter(coc_total_tweets, coc_avg_followers_ct, s=coc_total_likes*10, color='springgreen', label='Clash Of Clans', edgecolors='black', alpha=0.75)
candycrushsaga_plot= ax.scatter(candycrushsaga_total_tweets, candycrushsaga_avg_followers_ct, s=candycrushsaga_total_likes*5, color='limegreen', label='Candy Crush Saga', edgecolors='black')#, alpha=0.75)

# Google Play Store - 6 apps:
CleanMaster_plot= ax.scatter(CleanMaster_total_tweets, CleanMaster_avg_followers_ct, s=CleanMaster_total_likes*5, color='m', label='Clean Master Space Cleaner', edgecolors='black', alpha=0.75)
SubwaySurfers_plot= ax.scatter(SubwaySurfers_total_tweets, SubwaySurfers_avg_followers_ct, s=SubwaySurfers_total_likes*5, color='lime', label='Subway Surfers', edgecolors='black', alpha=0.75)
youtube_plot= ax.scatter(youtube_total_tweets, youtube_avg_followers_ct, s=youtube_total_likes*5, color='red', label='You Tube', edgecolors='black', alpha=0.75)
SecurityMaster_plot= ax.scatter(SecurityMaster_total_tweets, SecurityMaster_avg_followers_ct, s=SecurityMaster_total_likes*5, color='blueviolet', label='Security Master, Antivirus VPN', edgecolors='black', alpha=0.75)
ClashRoyale_plot= ax.scatter(ClashRoyale_total_tweets, ClashRoyale_avg_followers_ct, s=ClashRoyale_total_likes*5, color='darkolivegreen', label='Clash Royale', edgecolors='black', alpha=0.75)
whatsapp_plot= ax.scatter(whatsapp_total_tweets, whatsapp_avg_followers_ct, s=whatsapp_total_likes*5, color='tan', label='Whats App', edgecolors='black', alpha=0.75)

# Apple Apps Store - 6 apps
templerun_plot= ax.scatter(templerun_total_tweets, templerun_avg_followers_ct, s=templerun_total_likes*5, color='lawngreen', label='Temple Run', edgecolors='black', alpha=0.75)
pandora_plot= ax.scatter(pandora_total_tweets, pandora_avg_followers_ct, s=pandora_total_likes*5, color='coral', label='Pandora', edgecolors='black', alpha=0.75)
pinterest_plot= ax.scatter(pinterest_total_tweets, pinterest_avg_followers_ct, s=pinterest_total_likes*5, color='firebrick', label='Pinterest', edgecolors='black', alpha=0.75)
bible_plot= ax.scatter(bible_total_tweets, bible_avg_followers_ct, s=bible_total_likes*5, color='tomato', label='Bible', edgecolors='black', alpha=0.75)
spotify_plot= ax.scatter(spotify_total_tweets, spotify_avg_followers_ct, s=spotify_total_likes*5, color='orangered', label='Spotify', edgecolors='black', alpha=0.75)
angrybirds_plot= ax.scatter(angrybirds_total_tweets, angrybirds_avg_followers_ct, s=angrybirds_total_likes*5, color='forestgreen', label='Angry Birds', edgecolors='black', alpha=0.75)

# title and labels
plt.title("Tweets vs Average Followers (Mar 27 - Apr 3, 2019) \n")
plt.xlabel("Total Tweets \n Note: Circle sizes correlate with Total Likes" )
plt.ylabel("Average Number of Followers per Twitter User \n")

# set and format the legend
lgnd = plt.legend(title='Legend', loc="best")

lgnd.legendHandles[0]._sizes = [30]
lgnd.legendHandles[1]._sizes = [30]
lgnd.legendHandles[2]._sizes = [30]
lgnd.legendHandles[3]._sizes = [30]
lgnd.legendHandles[4]._sizes = [30]
lgnd.legendHandles[5]._sizes = [30]
lgnd.legendHandles[6]._sizes = [30]
lgnd.legendHandles[7]._sizes = [30]
lgnd.legendHandles[8]._sizes = [30]
lgnd.legendHandles[9]._sizes = [30]
lgnd.legendHandles[10]._sizes = [30]
lgnd.legendHandles[11]._sizes = [30]
lgnd.legendHandles[12]._sizes = [30]
lgnd.legendHandles[13]._sizes = [30]
lgnd.legendHandles[14]._sizes = [30]
lgnd.legendHandles[15]._sizes = [30]


#grid lines and show
plt.grid()
plt.show()
#plt.savefig("./TWEETS_vs__AVG_followers_Scatter.png")

In [176]:
SubwaySurfers_total_tweets, 
x = [facebook_total_tweets, instagram_total_tweets, coc_total_tweets,
     candycrushsaga_total_tweets, CleanMaster_total_tweets,
     youtube_total_tweets, SecurityMaster_total_tweets,
     ClashRoyale_total_tweets, whatsapp_total_tweets, templerun_total_tweets,
     pandora_total_tweets, pinterest_total_tweets, bible_total_tweets, spotify_total_tweets,
     angrybirds_total_tweets]
SubwaySurfers_avg_followers_ct, 
y = [facebook_avg_followers_ct, instagram_avg_followers_ct, coc_avg_followers_ct,
     candycrushsaga_avg_followers_ct, CleanMaster_avg_followers_ct,
     youtube_avg_followers_ct, SecurityMaster_avg_followers_ct,
     ClashRoyale_avg_followers_ct, whatsapp_avg_followers_ct, templerun_avg_followers_ct,
     pandora_avg_followers_ct, pinterest_avg_followers_ct, bible_avg_followers_ct, spotify_avg_followers_ct,
     angrybirds_avg_followers_ct]

"""
# Below this method doesn't work. Will go with brute force method.
s = [(facebook_total_likes*15), (instagram_total_likes*15), (coc_total_likes*10), (candycrushsaga_total_likes*5),
    (CleanMaster_total_likes*5), (SubwaySurfers_total_likes*5), (youtube_total_likes*5), (SecurityMaster_total_likes*5)
    (ClashRoyale_total_likes*5), (whatsapp_total_likes*5), (templerun_total_likes*5), (pandora_total_likes*5),
    (pinterest_total_likes*5), (bible_total_likes*5), (spotify_total_likes*5), (angrybirds_total_likes*5)]
"""
s = [facebook_total_likes, instagram_total_likes, coc_total_likes, candycrushsaga_total_likes,
    CleanMaster_total_likes, SubwaySurfers_total_likes, youtube_total_likes, SecurityMaster_total_likes,
    ClashRoyale_total_likes, whatsapp_total_likes, templerun_total_likes, pandora_total_likes,
    pinterest_total_likes, bible_total_likes, spotify_total_likes, angrybirds_total_likes]

colors = np.random.rand(16)



label = []
edgecolors = []
alpha = []

fig, ax = plt.subplots(figsize=(11,11))
ax.scatter(x, y, s)
plt.grid()
plt.show()

"""# Apps both on Google Play Store and Apple - 4 apps
facebook_plot = ax.scatter(, , , color='sandybrown', label='Facebook', edgecolors='black', alpha=0.75)
instagram_plot= ax.scatter(, , , color='saddlebrown', label='Instagram', edgecolors='black', alpha=0.5)
coc_plot= ax.scatter(,, , color='springgreen', label='Clash Of Clans', edgecolors='black', alpha=0.75)
candycrushsaga_plot= ax.scatter(,, , color='limegreen', label='Candy Crush Saga', edgecolors='black')#, alpha=0.75)

# Google Play Store - 6 apps:
CleanMaster_plot= ax.scatter(,, , color='m', label='Clean Master Space Cleaner', edgecolors='black', alpha=0.75)
SubwaySurfers_plot= ax.scatter(,, , color='lime', label='Subway Surfers', edgecolors='black', alpha=0.75)
youtube_plot= ax.scatter(,, , color='red', label='You Tube', edgecolors='black', alpha=0.75)
SecurityMaster_plot= ax.scatter(,, , color='blueviolet', label='Security Master, Antivirus VPN', edgecolors='black', alpha=0.75)
ClashRoyale_plot= ax.scatter(,, , color='darkolivegreen', label='Clash Royale', edgecolors='black', alpha=0.75)
whatsapp_plot= ax.scatter(,, , color='tan', label='Whats App', edgecolors='black', alpha=0.75)

# Apple Apps Store - 6 apps
templerun_plot= ax.scatter(, , , color='lawngreen', label='Temple Run', edgecolors='black', alpha=0.75)
pandora_plot= ax.scatter(, ,, color='coral', label='Pandora', edgecolors='black', alpha=0.75)
pinterest_plot= ax.scatter(, ,, color='firebrick', label='Pinterest', edgecolors='black', alpha=0.75)
bible_plot= ax.scatter(, , color='tomato', label='Bible', edgecolors='black', alpha=0.75)
spotify_plot= ax.scatter(, , color='orangered', label='Spotify', edgecolors='black', alpha=0.75)
angrybirds_plot= ax.scatter(,,, color='forestgreen', label='Angry Birds', edgecolors='black', alpha=0.75)

# title and labels
plt.title("Tweets vs Average Followers (Mar 27 - Apr 3, 2019) \n")
plt.xlabel("Total Tweets \n Note: Circle sizes correlate with Total Likes" )
plt.ylabel("Average Number of Followers per Twitter User \n")

"""

'# Apps both on Google Play Store and Apple - 4 apps\nfacebook_plot = ax.scatter(, , , color=\'sandybrown\', label=\'Facebook\', edgecolors=\'black\', alpha=0.75)\ninstagram_plot= ax.scatter(, , , color=\'saddlebrown\', label=\'Instagram\', edgecolors=\'black\', alpha=0.5)\ncoc_plot= ax.scatter(,, , color=\'springgreen\', label=\'Clash Of Clans\', edgecolors=\'black\', alpha=0.75)\ncandycrushsaga_plot= ax.scatter(,, , color=\'limegreen\', label=\'Candy Crush Saga\', edgecolors=\'black\')#, alpha=0.75)\n\n# Google Play Store - 6 apps:\nCleanMaster_plot= ax.scatter(,, , color=\'m\', label=\'Clean Master Space Cleaner\', edgecolors=\'black\', alpha=0.75)\nSubwaySurfers_plot= ax.scatter(,, , color=\'lime\', label=\'Subway Surfers\', edgecolors=\'black\', alpha=0.75)\nyoutube_plot= ax.scatter(,, , color=\'red\', label=\'You Tube\', edgecolors=\'black\', alpha=0.75)\nSecurityMaster_plot= ax.scatter(,, , color=\'blueviolet\', label=\'Security Master, Antivirus VPN\', edgecolors=\'black\', alpha=0.75)\nClashRoyale_plot= ax.scatter(,, , color=\'darkolivegreen\', label=\'Clash Royale\', edgecolors=\'black\', alpha=0.75)\nwhatsapp_plot= ax.scatter(,, , color=\'tan\', label=\'Whats App\', edgecolors=\'black\', alpha=0.75)\n\n# Apple Apps Store - 6 apps\ntemplerun_plot= ax.scatter(, , , color=\'lawngreen\', label=\'Temple Run\', edgecolors=\'black\', alpha=0.75)\npandora_plot= ax.scatter(, ,, color=\'coral\', label=\'Pandora\', edgecolors=\'black\', alpha=0.75)\npinterest_plot= ax.scatter(, ,, color=\'firebrick\', label=\'Pinterest\', edgecolors=\'black\', alpha=0.75)\nbible_plot= ax.scatter(, , color=\'tomato\', label=\'Bible\', edgecolors=\'black\', alpha=0.75)\nspotify_plot= ax.scatter(, , color=\'orangered\', label=\'Spotify\', edgecolors=\'black\', alpha=0.75)\nangrybirds_plot= ax.scatter(,,, color=\'forestgreen\', label=\'Angry Birds\', edgecolors=\'black\', alpha=0.75)\n\n# title and labels\nplt.title("Tweets vs Average Followers (Mar 27 - Apr 3, 2019) \n")\nplt.xlabel("Total Tweets \n Note: Circle sizes correlate with Total Likes" )\nplt.ylabel("Average Number of Followers per Twitter User \n")\n\n'

In [ ]:
# Scatter Plot 2 - Tweets vs ReTweets vs Likes

fig, ax = plt.subplots(figsize=(11,11))


# Apps both on Google Play Store and Apple - 4 apps
facebook_plot = ax.scatter(facebook_total_tweets, facebook_avg_retweets, s=facebook_total_likes*5, color='sandybrown', label='Facebook', edgecolors='black', alpha=0.75)
instagram_plot= ax.scatter(instagram_total_tweets, instagram_avg_retweets, s=instagram_total_likes*5, color='saddlebrown', label='Instagram', edgecolors='black', alpha=0.75)
coc_plot= ax.scatter(coc_total_tweets, coc_avg_retweets, s=coc_total_likes*5, color='springgreen', label='Clash Of Clans', edgecolors='black', alpha=0.75)
candycrushsaga_plot= ax.scatter(candycrushsaga_total_tweets, candycrushsaga_avg_retweets, s=candycrushsaga_total_likes*5, color='limegreen', label='Candy Crush Saga', edgecolors='black')#, alpha=0.75)

# Google Play Store - 6 apps:
CleanMaster_plot= ax.scatter(CleanMaster_total_tweets, CleanMaster_avg_retweets, s=CleanMaster_total_likes*5, color='m', label='Clean Master Space Cleaner', edgecolors='black', alpha=0.75)
SubwaySurfers_plot= ax.scatter(SubwaySurfers_total_tweets, SubwaySurfers_avg_retweets, s=SubwaySurfers_total_likes*5, color='lime', label='Subway Surfers', edgecolors='black', alpha=0.75)
youtube_plot= ax.scatter(youtube_total_tweets, youtube_avg_retweets, s=youtube_total_likes*5, color='red', label='You Tube', edgecolors='black', alpha=0.75)
SecurityMaster_plot= ax.scatter(SecurityMaster_total_tweets, SecurityMaster_avg_retweets, s=SecurityMaster_total_likes*5, color='blueviolet', label='Security Master, Antivirus VPN', edgecolors='black', alpha=0.75)
ClashRoyale_plot= ax.scatter(ClashRoyale_total_tweets, ClashRoyale_avg_retweets, s=ClashRoyale_total_likes*5, color='darkolivegreen', label='Clash Royale', edgecolors='black', alpha=0.75)
whatsapp_plot= ax.scatter(whatsapp_total_tweets, whatsapp_avg_retweets, s=whatsapp_total_likes*5, color='tan', label='Whats App', edgecolors='black', alpha=0.75)

# Apple Apps Store - 6 apps
templerun_plot= ax.scatter(templerun_total_tweets, templerun_avg_retweets, s=templerun_total_likes*5, color='lawngreen', label='Temple Run', edgecolors='black', alpha=0.75)
pandora_plot= ax.scatter(pandora_total_tweets, pandora_avg_retweets, s=pandora_total_likes*5, color='coral', label='Pandora', edgecolors='black', alpha=0.75)
pinterest_plot= ax.scatter(pinterest_total_tweets, pinterest_avg_retweets, s=pinterest_total_likes*5, color='firebrick', label='Pinterest', edgecolors='black', alpha=0.75)
bible_plot= ax.scatter(bible_total_tweets, bible_avg_retweets, s=bible_total_likes*5, color='tomato', label='Bible', edgecolors='black', alpha=0.75)
spotify_plot= ax.scatter(spotify_total_tweets, spotify_avg_retweets, s=spotify_total_likes*5, color='orangered', label='Spotify', edgecolors='black', alpha=0.75)
angrybirds_plot= ax.scatter(angrybirds_total_tweets, angrybirds_avg_retweets, s=angrybirds_total_likes*5, color='forestgreen', label='Angry Birds', edgecolors='black', alpha=0.75)

# title and labels
plt.title("Tweets vs ReTweets (Mar 27 - Apr 3, 2019) \n")
plt.xlabel("Total Tweets \n Note: Circle sizes correlate with Total Likes \n" )
plt.ylabel("Average Number of ReTweets per Twitter User \n")

# set and format the legend
lgnd = plt.legend(title='Legend', loc="best")

lgnd.legendHandles[0]._sizes = [30]
lgnd.legendHandles[1]._sizes = [30]
lgnd.legendHandles[2]._sizes = [30]
lgnd.legendHandles[3]._sizes = [30]
lgnd.legendHandles[4]._sizes = [30]
lgnd.legendHandles[5]._sizes = [30]
lgnd.legendHandles[6]._sizes = [30]
lgnd.legendHandles[7]._sizes = [30]
lgnd.legendHandles[8]._sizes = [30]
lgnd.legendHandles[9]._sizes = [30]
lgnd.legendHandles[10]._sizes = [30]
lgnd.legendHandles[11]._sizes = [30]
lgnd.legendHandles[12]._sizes = [30]
lgnd.legendHandles[13]._sizes = [30]
lgnd.legendHandles[14]._sizes = [30]
lgnd.legendHandles[15]._sizes = [30]


#grid lines and show
plt.grid()
plt.show()
plt.savefig('./TWEETS_VS_RETWEETS_vs_LIKES_Scatter.png')

In [ ]:
# Scatter Plot 3 - Will not use this plot

fig, ax = plt.subplots(figsize=(8,8))


# Apps both on Google Play Store and Apple - 4 apps
facebook_plot = ax.scatter(facebook_avg_retweets, facebook_total_tweets, s=facebook_total_likes*5, color='blue', label='Facebook', edgecolors='red', alpha=0.75)
instagram_plot= ax.scatter(instagram_avg_retweets, instagram_total_tweets, s=instagram_total_likes*5, color='fuchsia', label='Instagram', edgecolors='red', alpha=0.75)
coc_plot= ax.scatter(coc_avg_retweets, coc_total_tweets, s=coc_total_likes*5, color='springgreen', label='Clash Of Clans', edgecolors='red', alpha=0.75)
candycrushsaga_plot= ax.scatter(candycrushsaga_avg_retweets, candycrushsaga_total_tweets, s=candycrushsaga_total_likes*5, color='black', label='Candy Crush Saga', edgecolors='red')#, alpha=0.75)

# Google Play Store - 6 apps:
CleanMaster_plot= ax.scatter(CleanMaster_avg_retweets, CleanMaster_total_tweets, s=CleanMaster_total_likes*5, color='olive', label='Clean Master Space Cleaner', edgecolors='lime', alpha=0.75)
SubwaySurfers_plot= ax.scatter(SubwaySurfers_avg_retweets, SubwaySurfers_total_tweets, s=SubwaySurfers_total_likes*5, color='plum', label='Subway Surfers', edgecolors='lime', alpha=0.75)
youtube_plot= ax.scatter(youtube_avg_retweets, youtube_total_tweets, s=youtube_total_likes*5, color='grey', label='You Tube', edgecolors='lime', alpha=0.75)
SecurityMaster_plot= ax.scatter(SecurityMaster_avg_retweets, SecurityMaster_total_tweets, s=SecurityMaster_total_likes*5, color='coral', label='Security Master, Antivirus VPN', edgecolors='lime', alpha=0.75)
ClashRoyale_plot= ax.scatter(ClashRoyale_avg_retweets, ClashRoyale_total_tweets, s=ClashRoyale_total_likes*5, color='orange', label='Clash Royale', edgecolors='lime', alpha=0.75)
whatsapp_plot= ax.scatter(whatsapp_avg_retweets, whatsapp_total_tweets, s=whatsapp_total_likes*5, color='green', label='Whats App', edgecolors='lime', alpha=0.75)

# Apple Apps Store - 6 apps
templerun_plot= ax.scatter(templerun_avg_retweets, templerun_total_tweets, s=templerun_total_likes*5, color='lawngreen', label='Temple Run', edgecolors='black', alpha=0.75)
pandora_plot= ax.scatter(pandora_avg_retweets, pandora_total_tweets, s=pandora_total_likes*5, color='cornflowerblue', label='Pandora', edgecolors='black', alpha=0.75)
pinterest_plot= ax.scatter(pinterest_avg_retweets, pinterest_total_tweets, s=pinterest_total_likes*5, color='firebrick', label='Pinterest', edgecolors='black', alpha=0.75)
bible_plot= ax.scatter(bible_avg_retweets, bible_total_tweets, s=bible_total_likes*5, color='brown', label='Bible', edgecolors='black', alpha=0.75)
spotify_plot= ax.scatter(spotify_avg_retweets, spotify_total_tweets, s=spotify_total_likes*5, color='darkgreen', label='Spotify', edgecolors='black', alpha=0.75)
angrybirds_plot= ax.scatter(angrybirds_avg_retweets, angrybirds_total_tweets, s=angrybirds_total_likes*5, color='salmon', label='Angry Birds', edgecolors='black', alpha=0.75)

# title and labels
plt.title("Tweets vs ReTweets (Mar 27 - Apr 3, 2019) \n")
plt.xlabel("Total Tweets \n Note: Circle sizes correlate with Total Likes \n" )
plt.ylabel("Average Number of ReTweets per Twitter User \n")

# set and format the legend
lgnd = plt.legend(title='Legend', loc="best")

lgnd.legendHandles[0]._sizes = [30]
lgnd.legendHandles[1]._sizes = [30]
lgnd.legendHandles[2]._sizes = [30]
lgnd.legendHandles[3]._sizes = [30]
lgnd.legendHandles[4]._sizes = [30]
lgnd.legendHandles[5]._sizes = [30]
lgnd.legendHandles[6]._sizes = [30]
lgnd.legendHandles[7]._sizes = [30]
lgnd.legendHandles[8]._sizes = [30]
lgnd.legendHandles[9]._sizes = [30]
lgnd.legendHandles[10]._sizes = [30]
lgnd.legendHandles[11]._sizes = [30]
lgnd.legendHandles[12]._sizes = [30]
lgnd.legendHandles[13]._sizes = [30]
lgnd.legendHandles[14]._sizes = [30]
lgnd.legendHandles[15]._sizes = [30]


#grid lines and show
plt.grid()
plt.show()
#plt.savefig('./tweets_vs__avgfollowers_Scatter.png')

In [ ]:
# Hardcoding numbers from analysis done in Apple and Google Play Store Final Code Notebooks
# Avergage Apple, Google Ratings
facebook_avg_rating = (3.5 + 4.1)/2
instagram_avg_rating = (4.5 + 4.5)/2
coc_avg_rating = (4.5 + 4.6)/2
candycrushsaga_avg_rating = (4.5 + 4.4)/2

# Avergage Apple, Google Reviews
facebook_reviews = (2974676 + 78158306)/2
instagram_reviews = (2161558 + 66577446)/2
coc_reviews = (2130805 + 44893888)/2
candycrushsaga_reviews = (961794 + 22430188)/2

# Apple App Ratings
templerun_rating = 4.5
pandora_rating = 4.5
pinterest_rating = 4.5
bible_rating = 4.5
spotify_rating = 4.5
angrybirds_rating = 4.5

# Apple App Reviews
templerun_reviews = 1724546
pandora_reviews = 1126879
pinterest_reviews = 1061624
bible_reviews = 985920
spotify_reviews = 878563
angrybirds_reviews = 824451


# Google App Ratings
whatsapp_rating = 4.4
clean_master_rating = 4.7
subway_surfers_rating = 4.5
you_tube_rating = 4.3
security_master_rating = 4.7
clash_royale_rating = 4.6

# Google App Reviews
whatsapp_reviews = 69119316
clean_master_reviews = 42916526
subway_surfers_reviews = 27725352
you_tube_reviews = 25655305
security_master_reviews = 24900999
clash_royale_reviews = 23136735

In [ ]:
# Scatter Plot 5 - Tweets vs Ratings vs Likes - USE THIS ONE

fig, ax = plt.subplots(figsize=(11,11))


# Apps both on Google Play Store and Apple - 4 apps
facebook_plot = ax.scatter(facebook_total_tweets, facebook_avg_rating, s=facebook_total_likes*5, color='sandybrown', label='Facebook', edgecolors='black', alpha=0.75)
instagram_plot= ax.scatter(instagram_total_tweets, instagram_avg_rating, s=instagram_total_likes*5, color='saddlebrown', label='Instagram', edgecolors='black', alpha=0.75)
coc_plot= ax.scatter(coc_total_tweets, coc_avg_rating, s=coc_total_likes*5, color='springgreen', label='Clash Of Clans', edgecolors='black', alpha=0.75)
candycrushsaga_plot= ax.scatter(candycrushsaga_total_tweets, candycrushsaga_avg_rating, s=candycrushsaga_total_likes*5, color='limegreen', label='Candy Crush Saga', edgecolors='black')#, alpha=0.75)

# Google Play Store - 6 apps:
CleanMaster_plot= ax.scatter(CleanMaster_total_tweets, clean_master_rating, s=CleanMaster_total_likes*5, color='m', label='Clean Master Space Cleaner', edgecolors='black', alpha=0.75)
SubwaySurfers_plot= ax.scatter(SubwaySurfers_total_tweets, subway_surfers_rating, s=SubwaySurfers_total_likes*5, color='lime', label='Subway Surfers', edgecolors='black', alpha=0.75)
youtube_plot= ax.scatter(youtube_total_tweets, you_tube_rating, s=youtube_total_likes*5, color='red', label='You Tube', edgecolors='black', alpha=0.75)
SecurityMaster_plot= ax.scatter(SecurityMaster_total_tweets, security_master_rating, s=SecurityMaster_total_likes*5, color='blueviolet', label='Security Master, Antivirus VPN', edgecolors='black', alpha=0.75)
ClashRoyale_plot= ax.scatter(ClashRoyale_total_tweets, clash_royale_rating, s=ClashRoyale_total_likes*5, color='darkolivegreen', label='Clash Royale', edgecolors='black', alpha=0.75)
whatsapp_plot= ax.scatter(whatsapp_total_tweets, whatsapp_rating, s=whatsapp_total_likes*5, color='tan', label='Whats App', edgecolors='black', alpha=0.75)

# Apple Apps Store - 6 apps
templerun_plot= ax.scatter(templerun_total_tweets,templerun_rating, s=templerun_total_likes*5, color='lawngreen', label='Temple Run', edgecolors='black', alpha=0.75)
pandora_plot= ax.scatter(pandora_total_tweets, pandora_rating, s=pandora_total_likes*5, color='coral', label='Pandora', edgecolors='black', alpha=0.75)
pinterest_plot= ax.scatter(pinterest_total_tweets, pinterest_rating, s=pinterest_total_likes*5, color='firebrick', label='Pinterest', edgecolors='black', alpha=0.75)
bible_plot= ax.scatter(bible_total_tweets, bible_rating, s=bible_total_likes*5, color='tomato', label='Bible', edgecolors='black', alpha=0.75)
spotify_plot= ax.scatter(spotify_total_tweets, spotify_rating, s=spotify_total_likes*5, color='orangered', label='Spotify', edgecolors='black', alpha=0.75)
angrybirds_plot= ax.scatter(angrybirds_total_tweets, angrybirds_rating, s=angrybirds_total_likes*5, color='forestgreen', label='Angry Birds', edgecolors='black', alpha=0.75)

# title and labels
plt.title("Tweets vs Ratings (Mar 27 - Apr 3, 2019) \n")
plt.xlabel("Total Tweets \n Note: Circle sizes correlate with Total Likes \n" )
plt.ylabel("App Store User Ratings (Out of 5) \n")

# set and format the legend
lgnd = plt.legend(title='Legend', loc="best")

lgnd.legendHandles[0]._sizes = [30]
lgnd.legendHandles[1]._sizes = [30]
lgnd.legendHandles[2]._sizes = [30]
lgnd.legendHandles[3]._sizes = [30]
lgnd.legendHandles[4]._sizes = [30]
lgnd.legendHandles[5]._sizes = [30]
lgnd.legendHandles[6]._sizes = [30]
lgnd.legendHandles[7]._sizes = [30]
lgnd.legendHandles[8]._sizes = [30]
lgnd.legendHandles[9]._sizes = [30]
lgnd.legendHandles[10]._sizes = [30]
lgnd.legendHandles[11]._sizes = [30]
lgnd.legendHandles[12]._sizes = [30]
lgnd.legendHandles[13]._sizes = [30]
lgnd.legendHandles[14]._sizes = [30]
lgnd.legendHandles[15]._sizes = [30]


#grid lines and show
plt.grid()
plt.show()
plt.savefig('./TWEETS_VS_RATINGSVS LIKES_Scatter.png')

In [ ]:
# Scatter Plot 5 - Tweets vs Reviews vs Ratings (size) - DO NOT USE

fig, ax = plt.subplots(figsize=(11,11))



# Apps both on Google Play Store and Apple - 4 apps
facebook_plot = ax.scatter(facebook_total_tweets, facebook_reviews, s=facebook_avg_rating*105, color='sandybrown', label='Facebook', edgecolors='black', alpha=0.75)
instagram_plot= ax.scatter(instagram_total_tweets, instagram_reviews, s=instagram_avg_rating*105, color='saddlebrown', label='Instagram', edgecolors='black', alpha=0.75)
coc_plot= ax.scatter(coc_total_tweets, coc_reviews, s=coc_avg_rating*105, color='springgreen', label='Clash Of Clans', edgecolors='black', alpha=0.75)
candycrushsaga_plot= ax.scatter(candycrushsaga_total_tweets, candycrushsaga_reviews, s=candycrushsaga_avg_rating*105, color='limegreen', label='Candy Crush Saga', edgecolors='black', alpha=0.75)

# Google Play Store - 6 apps:
CleanMaster_plot= ax.scatter(CleanMaster_total_tweets, clean_master_reviews, s=clean_master_rating*105, color='m', label='Clean Master Space Cleaner', edgecolors='black', alpha=0.75)
SubwaySurfers_plot= ax.scatter(SubwaySurfers_total_tweets, subway_surfers_reviews, s=subway_surfers_rating*105, color='lime', label='Subway Surfers', edgecolors='black', alpha=0.75)
youtube_plot= ax.scatter(youtube_total_tweets, you_tube_reviews, s=you_tube_rating*105, color='red', label='You Tube', edgecolors='black', alpha=0.75)
SecurityMaster_plot= ax.scatter(SecurityMaster_total_tweets, security_master_reviews, s=security_master_rating*105, color='blueviolet', label='Security Master, Antivirus VPN', edgecolors='black', alpha=0.75)
ClashRoyale_plot= ax.scatter(ClashRoyale_total_tweets, clash_royale_reviews, s=clash_royale_rating*105, color='darkolivegreen', label='Clash Royale', edgecolors='black', alpha=0.75)
whatsapp_plot= ax.scatter(whatsapp_total_tweets, whatsapp_reviews, s=whatsapp_rating*105, color='tan', label='Whats App', edgecolors='lime', alpha=0.75)

# Apple Apps Store - 6 apps
templerun_plot= ax.scatter(templerun_total_tweets,templerun_reviews, s=templerun_rating*105, color='lawngreen', label='Temple Run', edgecolors='black', alpha=0.75)
pandora_plot= ax.scatter(pandora_total_tweets, pandora_reviews, s=pandora_rating*105, color='coral', label='Pandora', edgecolors='black', alpha=0.75)
pinterest_plot= ax.scatter(pinterest_total_tweets, pinterest_reviews, s=pinterest_rating*105, color='firebrick', label='Pinterest', edgecolors='black', alpha=0.75)
bible_plot= ax.scatter(bible_total_tweets, bible_reviews, s=bible_rating*105, color='tomato', label='Bible', edgecolors='black', alpha=0.75)
spotify_plot= ax.scatter(spotify_total_tweets, spotify_reviews, s=spotify_rating*105, color='orangered', label='Spotify', edgecolors='black', alpha=0.75)
angrybirds_plot= ax.scatter(angrybirds_total_tweets, angrybirds_reviews, s=angrybirds_rating*105, color='forestgreen', label='Angry Birds', edgecolors='black', alpha=0.75)

# title and labels
plt.title("Tweets vs Reviews (Mar 27 - Apr 3, 2019) \n")
plt.xlabel("Total Tweets \n Note: Circle sizes correlate with App Ratings \n" )
plt.ylabel("App Store Reviews in Millions \n")

# set and format the legend
lgnd = plt.legend(title='Legend', loc="best")

lgnd.legendHandles[0]._sizes = [30]
lgnd.legendHandles[1]._sizes = [30]
lgnd.legendHandles[2]._sizes = [30]
lgnd.legendHandles[3]._sizes = [30]
lgnd.legendHandles[4]._sizes = [30]
lgnd.legendHandles[5]._sizes = [30]
lgnd.legendHandles[6]._sizes = [30]
lgnd.legendHandles[7]._sizes = [30]
lgnd.legendHandles[8]._sizes = [30]
lgnd.legendHandles[9]._sizes = [30]
lgnd.legendHandles[10]._sizes = [30]
lgnd.legendHandles[11]._sizes = [30]
lgnd.legendHandles[12]._sizes = [30]
lgnd.legendHandles[13]._sizes = [30]
lgnd.legendHandles[14]._sizes = [30]
lgnd.legendHandles[15]._sizes = [30]


#grid lines and show
plt.grid()
plt.show()
#plt.savefig('./tweets_vs__avgfollowers_Scatter.png')

In [ ]:
# Scatter Plot 6 - Tweets vs Reviews vs Likes (size) -USE THIS ONE

fig, ax = plt.subplots(figsize=(11,11))



# Apps both on Google Play Store and Apple - 4 apps
facebook_plot = ax.scatter(facebook_total_tweets, facebook_reviews, s=facebook_total_likes*5, color='sandybrown', label='Facebook', edgecolors='black', alpha=0.75)
instagram_plot= ax.scatter(instagram_total_tweets, instagram_reviews, s=instagram_total_likes*5, color='saddlebrown', label='Instagram', edgecolors='black', alpha=0.75)
coc_plot= ax.scatter(coc_total_tweets, coc_reviews, s=coc_total_likes*5, color='springgreen', label='Clash Of Clans', edgecolors='black', alpha=0.75)
candycrushsaga_plot= ax.scatter(candycrushsaga_total_tweets, candycrushsaga_reviews, s=candycrushsaga_total_likes*5, color='limegreen', label='Candy Crush Saga', edgecolors='black', alpha=0.75)

# Google Play Store - 6 apps:
CleanMaster_plot= ax.scatter(CleanMaster_total_tweets, clean_master_reviews, s=CleanMaster_total_likes*5, color='m', label='Clean Master Space Cleaner', edgecolors='black', alpha=0.75)
SubwaySurfers_plot= ax.scatter(SubwaySurfers_total_tweets, subway_surfers_reviews, s=SubwaySurfers_total_likes*5, color='lime', label='Subway Surfers', edgecolors='black', alpha=0.75)
youtube_plot= ax.scatter(youtube_total_tweets, you_tube_reviews, s=youtube_total_likes*5, color='red', label='You Tube', edgecolors='black', alpha=0.75)
SecurityMaster_plot= ax.scatter(SecurityMaster_total_tweets, security_master_reviews, s=SecurityMaster_total_likes*5, color='blueviolet', label='Security Master, Antivirus VPN', edgecolors='black', alpha=0.75)
ClashRoyale_plot= ax.scatter(ClashRoyale_total_tweets, clash_royale_reviews, s=ClashRoyale_total_likes*5, color='darkolivegreen', label='Clash Royale', edgecolors='black', alpha=0.75)
whatsapp_plot= ax.scatter(whatsapp_total_tweets, whatsapp_reviews, s=whatsapp_total_likes*5, color='tan', label='Whats App', edgecolors='black', alpha=0.75)

# Apple Apps Store - 6 apps
templerun_plot= ax.scatter(templerun_total_tweets, templerun_reviews, s=templerun_total_likes*5, color='lawngreen', label='Temple Run', edgecolors='black', alpha=0.75)
pandora_plot= ax.scatter(pandora_total_tweets, pandora_reviews, s=pandora_total_likes*5, color='coral', label='Pandora', edgecolors='black', alpha=0.75)
pinterest_plot= ax.scatter(pinterest_total_tweets, pinterest_reviews, s=pinterest_total_likes*5, color='firebrick', label='Pinterest', edgecolors='black', alpha=0.75)
bible_plot= ax.scatter(bible_total_tweets, bible_reviews, s=bible_total_likes*5, color='tomato', label='Bible', edgecolors='black', alpha=0.75)
spotify_plot= ax.scatter(spotify_total_tweets, spotify_reviews, s=spotify_total_likes*5, color='orangered', label='Spotify', edgecolors='black', alpha=0.75)
angrybirds_plot= ax.scatter(angrybirds_total_tweets, angrybirds_reviews, s=angrybirds_total_likes*5, color='forestgreen', label='Angry Birds', edgecolors='black', alpha=0.75)

# title and labels
plt.title("Tweets vs Reviews (Mar 27 - Apr 3, 2019) \n")
plt.xlabel("Total Tweets \n Note: Circle sizes correlate with Likes \n" )
plt.ylabel("App Store Reviews in Millions \n")

# set and format the legend
lgnd = plt.legend(title='Legend', loc="best")

lgnd.legendHandles[0]._sizes = [30]
lgnd.legendHandles[1]._sizes = [30]
lgnd.legendHandles[2]._sizes = [30]
lgnd.legendHandles[3]._sizes = [30]
lgnd.legendHandles[4]._sizes = [30]
lgnd.legendHandles[5]._sizes = [30]
lgnd.legendHandles[6]._sizes = [30]
lgnd.legendHandles[7]._sizes = [30]
lgnd.legendHandles[8]._sizes = [30]
lgnd.legendHandles[9]._sizes = [30]
lgnd.legendHandles[10]._sizes = [30]
lgnd.legendHandles[11]._sizes = [30]
lgnd.legendHandles[12]._sizes = [30]
lgnd.legendHandles[13]._sizes = [30]
lgnd.legendHandles[14]._sizes = [30]
lgnd.legendHandles[15]._sizes = [30]


#grid lines and show
plt.grid()
plt.show()
plt.savefig('./TWEETS_VS_REVIEWS_VSLIKES_Scatter.png')

In [ ]:
# Scatter Plot 5 - Tweets vs Reviews vs Likes (size) - Need to do

fig, ax = plt.subplots(figsize=(8,8))


# Apps both on Google Play Store and Apple - 4 apps
facebook_plot = ax.scatter(facebook_avg_retweets, facebook_total_tweets, s=facebook_total_likes*5, color='blue', label='Facebook', edgecolors='red', alpha=0.75)
instagram_plot= ax.scatter(instagram_avg_retweets, instagram_total_tweets, s=instagram_total_likes*5, color='fuchsia', label='Instagram', edgecolors='red', alpha=0.75)
coc_plot= ax.scatter(coc_avg_retweets, coc_total_tweets, s=coc_total_likes*5, color='springgreen', label='Clash Of Clans', edgecolors='red', alpha=0.75)
candycrushsaga_plot= ax.scatter(candycrushsaga_avg_retweets, candycrushsaga_total_tweets, s=candycrushsaga_total_likes*5, color='black', label='Candy Crush Saga', edgecolors='red')#, alpha=0.75)

# Google Play Store - 6 apps:
CleanMaster_plot= ax.scatter(CleanMaster_avg_retweets, CleanMaster_total_tweets, s=CleanMaster_total_likes*5, color='olive', label='Clean Master Space Cleaner', edgecolors='lime', alpha=0.75)
SubwaySurfers_plot= ax.scatter(SubwaySurfers_avg_retweets, SubwaySurfers_total_tweets, s=SubwaySurfers_total_likes*5, color='plum', label='Subway Surfers', edgecolors='lime', alpha=0.75)
youtube_plot= ax.scatter(youtube_avg_retweets, youtube_total_tweets, s=youtube_total_likes*5, color='grey', label='You Tube', edgecolors='lime', alpha=0.75)
SecurityMaster_plot= ax.scatter(SecurityMaster_avg_retweets, SecurityMaster_total_tweets, s=SecurityMaster_total_likes*5, color='coral', label='Security Master, Antivirus VPN', edgecolors='lime', alpha=0.75)
ClashRoyale_plot= ax.scatter(ClashRoyale_avg_retweets, ClashRoyale_total_tweets, s=ClashRoyale_total_likes*5, color='orange', label='Clash Royale', edgecolors='lime', alpha=0.75)
whatsapp_plot= ax.scatter(whatsapp_avg_retweets, whatsapp_total_tweets, s=whatsapp_total_likes*5, color='green', label='Whats App', edgecolors='lime', alpha=0.75)

# Apple Apps Store - 6 apps
templerun_plot= ax.scatter(templerun_avg_retweets, templerun_total_tweets, s=templerun_total_likes*5, color='lawngreen', label='Temple Run', edgecolors='black', alpha=0.75)
pandora_plot= ax.scatter(pandora_avg_retweets, pandora_total_tweets, s=pandora_total_likes*5, color='cornflowerblue', label='Pandora', edgecolors='black', alpha=0.75)
pinterest_plot= ax.scatter(pinterest_avg_retweets, pinterest_total_tweets, s=pinterest_total_likes*5, color='firebrick', label='Pinterest', edgecolors='black', alpha=0.75)
bible_plot= ax.scatter(bible_avg_retweets, bible_total_tweets, s=bible_total_likes*5, color='brown', label='Bible', edgecolors='black', alpha=0.75)
spotify_plot= ax.scatter(spotify_avg_retweets, spotify_total_tweets, s=spotify_total_likes*5, color='darkgreen', label='Spotify', edgecolors='black', alpha=0.75)
angrybirds_plot= ax.scatter(angrybirds_avg_retweets, angrybirds_total_tweets, s=angrybirds_total_likes*5, color='salmon', label='Angry Birds', edgecolors='black', alpha=0.75)

# title and labels
plt.title("Tweets vs ReTweets (Mar 27 - Apr 3, 2019) \n")
plt.xlabel("Avg ReTweets \n Note: Circle sizes correlate with Total Likes \n" )
plt.ylabel("Total Tweets \n")

# set and format the legend
lgnd = plt.legend(title='Legend', loc="best")

lgnd.legendHandles[0]._sizes = [30]
lgnd.legendHandles[1]._sizes = [30]
lgnd.legendHandles[2]._sizes = [30]
lgnd.legendHandles[3]._sizes = [30]
lgnd.legendHandles[4]._sizes = [30]
lgnd.legendHandles[5]._sizes = [30]
lgnd.legendHandles[6]._sizes = [30]
lgnd.legendHandles[7]._sizes = [30]
lgnd.legendHandles[8]._sizes = [30]
lgnd.legendHandles[9]._sizes = [30]
lgnd.legendHandles[10]._sizes = [30]
lgnd.legendHandles[11]._sizes = [30]
lgnd.legendHandles[12]._sizes = [30]
lgnd.legendHandles[13]._sizes = [30]
lgnd.legendHandles[14]._sizes = [30]
lgnd.legendHandles[15]._sizes = [30]


#grid lines and show
plt.grid()
plt.show()
#plt.savefig('./tweets_vs__avgfollowers_Scatter.png')